  <html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/Gestion/Style/estilos.css" type="text/css">
</head>

<body bgcolor="#000000" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<p align="center">&nbsp;</p>
<p align="center"><img src="/images/Gestion/entrada/iso_bci.jpg" width="35" height="50"><img src="/Gestion/bci.gif" width="71" height="50"></p>
<p align="center" class="blanco16B">Su acceso ha sido bloqueado !!</p>
<p align="center" class="blanco16B">ha exedido el n&uacute;mero de errores en 
  su clave.</p>
<p align="center" class="blanco16B">Consulte al Administrador del Sistema.</p>
<p align="center" class="blanco16B">Solicite su nueva Clave.</p>
</body>
</html>
