  <html>
<head>
<title>Data Folder</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<script language="JavaScript" src="/Gestion/script/msgprocesando.js"></script>
<script language="JavaScript" src="/Gestion/script/opcion_link.js"></script>
<frameset rows="62,*" cols="*" frameborder="NO" border="0" framespacing="0"> 
  <frame name="topFrame" scrolling="no" noresize src="/Gestion/top_bci.html" marginwidth="0" marginheight="0" >
  <frameset cols="117,*" frameborder="NO" border="0" framespacing="0"> 
    <frame name="leftFrame" noresize scrolling="no" src="/Gestion/left_principal2.html" marginwidth="0" marginheight="0">
    <frame name="mainFrame" marginwidth="0" marginheight="0" src="/Gestion/main_bienvenida.html" scrolling="no">
  </frameset>
</frameset>
<noframes> 
<body bgcolor="#FFFFFF">

</body>
</noframes> 
</html>
