<script language="JavaScript" src="../servlet/Tool?scripts/links.js" type="text/JavaScript"></script>
<script language="JavaScript"  src="../servlet/Tool?scripts/menu/opciones.js"></script>
<script language="JavaScript"  src="../servlet/Tool?scripts/menu/menu.js"></SCRIPT>
<script language="JavaScript" type="text/JavaScript">
<!--

function onLoad() {
    if (document.layers) {
        loadMenus();
    }
}

function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_displayStatusMsg(msgStr) { //v1.0
  status=msgStr;
  document.MM_returnValue = true;
}
//-->
</script>
<script src="../servlet/Tool?scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<body leftmargin="0" topmargin="0" bgcolor="#B5B9C4">
<script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0','width','128','height','386','src','../flash/menu','quality','high','pluginspage','http://www.macromedia.com/go/getflashplayer','wmode','transparent','menu','false','movie','../flash/menu' ); //end AC code
</script><noscript><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="128" height="386">
  <param name="movie" value="../flash/menu.swf">
  <param name="quality" value="high">
  <param name="wmode" value="transparent">
  <param name="menu" value="false">
  <embed src="../flash/menu.swf" width="128" height="386" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent" menu="false"></embed>
</object>
</noscript>