 <HTML>
<HEAD>
<TITLE>${mensaje}</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<link href="../servlet/Tool?style/gestion.css" rel="stylesheet" type="text/css">
</HEAD>
<BODY>
<center>
<table width="50%" cellpadding="2" cellspacing="0" class="texto_negro_bold">
        <tr> 
          <td align="center">${titulo}</td>
        </tr>
        <tr> 
          <td height="142" align="center" bordercolor="#FFA400">${mensaje}</td>
        </tr>
</table>    
<!--      <a href="/"  target="_top"><img src="../servlet/Tool?images/Gestion/botones/cerrar.gif" width="120" height="24" border="0"></a>  -->
</center>
</BODY>
</HTML>