 <HTML>
<HEAD>
<TITLE>${mensaje}</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<link href="../servlet/Tool?style/gestion.css" rel="stylesheet" type="text/css">
</HEAD>
<BODY leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="500" height="300" cellpadding="2" cellspacing="0" class="texto_negro_bold">
        <tr> 
          <td height="2" align="center">${titulo}</td>
        </tr>
        <tr> 
          <td height="77" align="center">${mensaje}</td>
        </tr>
        <tr align="center"> 
          <td align="center"> <a href="/"  target="_top"><img src="../servlet/Tool?images/Gestion/botones/cerrar.gif" width="120" height="24" border="0"></a></td>
        </tr>
</table>
</BODY>
</HTML>