  <html>
<head>
<title>Procesando Informacion .... Espere por Favor.</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="265" border="0" height="120" bgcolor="#FF9900">
  <tr>
    <td>
      <div align="center">
        <p><font face="Arial, Helvetica, sans-serif" size="2"><b>Procesando Informacion.....</b></font><b><font face="Arial, Helvetica, sans-serif" size="2">....</font></b></p>
        <b><font face="Arial, Helvetica, sans-serif" size="2"><i>Espere por Favor.</i></font></b></div>
    </td>
  </tr>
</table>
<list varios a v>
${v.rut}
</list>
</body>
</html>

