 <HTML>
<HEAD>
<TITLE>informes</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<!-- Gui&#243;n de carga previa de ImageReady (top_bienvenida.psd) -->
<SCRIPT LANGUAGE="JavaScript">
<!--


<!--
function AbrirBGaleria() {
	//var url2 = "/servlet/JerarquiaOrg?cual=2";
	var url2 = "Tool?htm=Gestion/BusquedaPorFiltros/Busqueda.htm";
	ventmsg2 = open(url2, "Galeria", "width=720,height=428,left=50,top=110");
	//ventmsg2.focus();
}

function Muestra(valor) { //v2.0
	if (valor == "-1")
		alert("Seleccione un informe...");
	else {
		//alert(valor);
		parent.frames.mainFrame.opcion_informe(valor);
	}
}

function MM_goToURL() { //v3.0
  var i, args=MM_goToURL.arguments; document.MM_returnValue = false;
  for (i=0; i<(args.length-1); i+=2) eval(args[i]+".location='"+args[i+1]+"'");
}

function MM_findObj(n, d) { //v4.0
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && document.getElementById) x=document.getElementById(n); return x;
}



function MM_jumpMenuGo(selName,targ,restore){ //v3.0
  var selObj = MM_findObj(selName); if (selObj) MM_jumpMenu(targ,selObj,restore);
}

function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function inicio() {
	document.form1.informe.disabled = "true";
	parent.frames.mainFrame.location.href='../servlet/MainInfo';
}
//-->
</SCRIPT>
<!-- Finalizar gui&#243;n de carga previa -->
<link href="../servlet/Tool?style/gestion.css" rel="stylesheet" type="text/css">
</HEAD>
<BODY ONLOAD="inicio();" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" background="../servlet/Tool?images/Gestion/LayersCeleste/fondo.jpg">
<form name="form1" method="post">
  <input type="hidden" name="modo" value="0">
<select name="informe" style="width:180" class="texto_negro_bold_chico" onChange = "Muestra(this.value)">
  <option value="INFU001">Estad&iacute;stica de Dotaci&oacute;n Real/Autorizada</option>
  <option value="INFU002">Composici&oacute;n de Renta</option>
    <option value="INFU003">Horas Extras</option>
    <option value="INFU004">An&aacute;lisis de Rentas</option>
    <option value="INFU005">Informe de Situaci&oacute;n Civil</option>
    <option value="INFU006">Informe de Cumplea&ntilde;os</option>
    <option value="INFU007">Personal Retirado</option>
    <option value="INFU008">Cambios de Renta</option>
    <option value="INFU009">Traslados del Personal</option>
    <option value="INFU012">Colaboradores</option>
    <!--<option value="INFU013">Perfil Laboral</option>-->
  </select>
</form>
</BODY>
</HTML>