<html>
<head>
<title>Defunciones</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<!-- Fireworks 4.0  Dreamweaver 4.0 target.  Created Thu May 30 20:50:50 GMT-0400 (Hr. est&#225;ndar del Pac&#237;fico SA) 2002-->
<script language="JavaScript" src="../servlet/Tool?scripts/links.js" type="text/JavaScript"></script>
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
//-->
</script>
</head>
<link href="../servlet/Tool?style/portalrrhh.css" rel="stylesheet" type="text/css">
<body bgcolor="#9999CC" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" background="../servlet/Tool?images/main/bck_main.jpg">
<table width="467" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr> 
    <td><include "menutop/menutop.html"></td>
  </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="467" align="center">
  <!-- fwtable fwsrc="Untitled" fwbase="desp_main.jpg" fwstyle="Dreamweaver" fwdocid = "742308039" fwnested="0" -->
  <tr> 
    <td><img src="spacer.gif" width="16" height="1" border="0"></td>
    <td><img src="spacer.gif" width="195" height="1" border="0"></td>
    <td><img src="spacer.gif" width="240" height="1" border="0"></td>
    <td><img src="spacer.gif" width="16" height="1" border="0"></td>
    <td><img src="spacer.gif" width="1" height="1" border="0"></td>
  </tr>
  <tr> 
    <td rowspan="2"><img name="../servlet/Tool?images/desp_main/desp_main_r1_c1" src="../servlet/Tool?images/desp_main/desp_main_r1_c1.jpg" width="16" height="30" border="0"></td>
    <td><img name="../servlet/Tool?images/desp_main/desp_main_r1_c2" src="../servlet/Tool?images/desp_main/desp_main_r1_c2.jpg" width="195" height="23" border="0"></td>
    <td><img name="../servlet/Tool?images/desp_main/desp_main_r1_c3" src="../servlet/Tool?images/desp_main/desp_main_r1_c3.jpg" width="240" height="23" border="0"></td>
    <td rowspan="2"><img name="../servlet/Tool?images/desp_main/desp_main_r1_c4" src="../servlet/Tool?images/desp_main/desp_main_r1_c4.jpg" width="16" height="30" border="0"></td>
    <td><img src="spacer.gif" width="1" height="23" border="0"></td>
  </tr>
  <tr> 
    <td colspan="2"><img name="../servlet/Tool?images/desp_main/desp_main_r2_c2" src="../servlet/Tool?images/desp_main/desp_main_r2_c2.jpg" width="435" height="7" border="0"></td>
    <td><img src="spacer.gif" width="1" height="7" border="0"></td>
  </tr>
  <tr> 
    <td><img name="../servlet/Tool?images/desp_main/desp_main_r3_c1" src="../servlet/Tool?images/desp_main/desp_main_r3_c1.jpg" width="16" height="271" border="0"></td>
    <td colspan="2" valign="top" bgcolor="#BCBCDE" > 
      <div id="Layer1" style="position:absolute; width:420px; height:19px; z-index:3; visibility: visible; left: 78px; top: 115px"> 
        <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="EFEEF4" height="17">
          <tr valign="top"> 
            <td width="40%" class="titulo"> 
              <div align="left">Nombre </div>
              <div id="LayerDetalle" style="position:absolute; width:424px; height:229px; z-index:2; overflow: auto;; left: -2px; top: 17px; visibility: visible"> 
                <table width="100%" border="0">
                  <list detalle as d> 
                  <tr valign="top" class="detalleTablaChico"> 
                    <td width="41%" background="../servlet/Tool?images/login/bck1.jpg" class="detalleTablaChico"> 
                      <div align="left"> 
<!--					  
					  <a href="javascript:;" onClick="return openInfoCarga('${d.rut}','${d.rutcarga}');">
-->					  
					  ${d.nombre}
<!--					  
					  </a> 
-->
                      </div>
                    </td>
                    <td width="12%" background="../servlet/Tool?images/login/bck1.jpg" class="detalleTablaChico"> 
                      <div align="center"><b>${d.fec}</b></div>
                    </td>
                    <td width="40%" background="../servlet/Tool?images/login/bck1.jpg" class="detalleTablaChico"> 
                      <div align="left"> <a href="javascript:openInfoRut(${d.rut})">${d.emple}</a></div>
                    </td>
                  </tr>
                  </list> 
                </table>
              </div>
            </td>
            <td class="titulo"> 
              <div align="center">Fecha</div>
            </td>
            <td class="titulo"> 
              <div align="center">Colaborador</div>
            </td>
          </tr>
        </table>
      </div>
      <div id="LayTituloTodo" style="position:absolute; width:165px; height:16px; z-index:5; left: 89px; top: 80px; visibility: visible"><font size="2" color="#000066"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Defunciones</font></b></font></div>
    </td>
    <td><img name="../servlet/Tool?images/desp_main/desp_main_r3_c4" src="../servlet/Tool?images/desp_main/desp_main_r3_c4.jpg" width="16" height="271" border="0"></td>
    <td><img src="spacer.gif" width="1" height="271" border="0"></td>
  </tr>
  <tr> 
    <td colspan="4"><img name="../servlet/Tool?images/desp_main/desp_main_r4_c1" src="../servlet/Tool?images/desp_main/desp_main_r4_c1.jpg" width="467" height="14" border="0"></td>
    <td><img src="spacer.gif" width="1" height="14" border="0"></td>
  </tr>
</table>
</body>
</html>
