<html>
<head>
<title>Gesti&oacute;n Global del Desempe&#241;o</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<frameset rows="99,*" frameborder="NO" border="0" framespacing="0" cols="*"> 
  <frame src="../servlet/WithSession?pHtm=ggd/menu/menu_eva_comp.html" name="topFrame" scrolling="no" id="topFrame">
  <frame name="bottomFrame" scrolling="auto" noresize src="../servlet/WithSession?pHtm=ggd/menu/desp_evalu.htm">
</frameset>
<noframes> 
<body bgcolor="#FFFFFF" text="#000000">
</body>
</noframes> 
</html>