<html>
<head>
<title>Gestion Global del Desempe&#241;o</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<frameset rows="126,*" frameborder="NO" border="0" framespacing="0" cols="*"> 
  <frame name="mainFrame" src="../servlet/WithSession?pHtm=ggd/menu/menu_gest_riesg.html" scrolling="no">
  <frame name="bottomFrame" scrolling="no" noresize src="../servlet/WithSession?pHtm=ggd/menu/desp_gest_riesg.htm">
</frameset>
<noframes> 
<body bgcolor="#FFFFFF" text="#000000">
</body>
</noframes> 
</html>
