<link href="../servlet/Tool?style/ggd.css" rel="stylesheet" type="text/css" />
<table border="0" cellpadding="2" cellspacing="1" class="txt_gris">
<if getPerfilCompetencias>
<tr align="center" valign="top" >
  <td class="fondo_tablaGris">Competencia</td>
  <td class="fondo_tablaGris">Nivel Esperado</td>
  <td class="fondo_tablaGris">Nivel Observado</td>
  <td class="fondo_tablaGris">Porcentaje Relevancia</td>
</tr>
<list getPerfilCompetencias as a>
<tr align="center" valign="top" >
  <td class="fondo_tablaGris">${a.competencia}</td>
  <td class="fondo_tablaGris">${a.nivel}&nbsp;</td>
  <td class="fondo_tablaGris">${a.competencia}</td>
  <td class="fondo_tablaGris">${a.nivel}&nbsp;</td>
</tr>
</list>
</if>
</table>