<table width="100%" border="0" cellpadding="3" cellspacing="2">
<tr><td class="texto_texto"><br><strong>ACCIONES RECOMENDADAS :</strong><br></td></tr>
<if getNivelesObtenidos>
<list getNivelesObtenidos as a>
<tr><td class="fondo_tablaGris"><strong>${a.competencia}</strong>:&nbsp;<br>${a.glosa}&nbsp;</td></tr>
<tr><td style="padding-left:50">
<table border="0" cellpadding="1" cellspacing="1">
<tr><td class="fondo_tablaGris">Accion</td><td class="fondo_tablaGris">Plazo</td><td class="fondo_tablaGris">Red Apoyo</td><td class="fondo_tablaGris">Ver Avances</td></tr>
<tr><td class="texto_texto">Involucrarlo en acciones estrat&#233;gicas de desarrollo personal y profesional</td><td class="texto_texto">1m</td><td class="texto_texto">DO</td><td class="texto_texto">Informar a RH</td></tr>
<tr><td class="texto_texto">involucrar metas</td><td class="texto_texto">2 meses</td><td class="texto_texto">Gerencia</td><td class="texto_texto">Informar a unidad gerencial</td></tr>
</table>
</td></tr>
</list>
</if>
</table>