<table>
<tr>
<td>
<img src="../servlet/Tool?images/trabajadores/fotos/${dRut2.foto}" width="62" height="81" onerror="existeFoto(this);" />
</td>
<td valign="middle">
<table cellpadding="1" cellspacing="1" border="0">
<tr><td class="texto_titulo">Nombre</td><td class="texto_texto">: ${dRut2.nombre}</td><td width="50"></td><td class="texto_titulo">Unidad</td><td class="texto_texto">: ${dRut2.unidad}</td></tr>
<tr><td class="texto_titulo">R.U.T.</td><td class="texto_texto">: ${dRut2.rutfull}</td><td width="50"></td><td class="texto_titulo">Cargo</td><td class="texto_texto">: ${dRut2.cargo}</td></tr>
</table>
</td>
</tr>
</table>