 <HTML>
<HEAD>
<TITLE>Detalle Indic</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/Gestion/Style/estilos.css" type="text/css">

<script language="JavaScript">
<!--
function MM_findObj(n, d) { //v4.0
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && document.getElementById) x=document.getElementById(n); return x;
}

function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
function OcultarLayer(){
<list detalle as d> 
	MM_showHideLayers('Layer${d.item}','','hide');
</list> 
}

function MM_showHideLayers() { //v3.0
  var i,p,v,obj,args=MM_showHideLayers.arguments;
  for (i=0; i<(args.length-2); i+=3) if ((obj=MM_findObj(args[i]))!=null) { v=args[i+2];
    if (obj.style) { obj=obj.style; v=(v=='show')?'visible':(v='hide')?'hidden':v; }
    obj.visibility=v; }
}

// -->
</script>
</HEAD>
<BODY BGCOLOR=#000000 leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" link="#0000FF" vlink="#000033" alink="#0000FF" text="#000000">
<script>parent.AbrirVentProcesando()</script>
<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0 width="644">
  <TR> 
    <TD COLSPAN=2 height="4"> <IMG SRC="/Gestion/imagenes_main_bienvenida/main_bienvenida_01.jpg" WIDTH=614 HEIGHT=4></TD>
    <TD COLSPAN=2 ROWSPAN=2> <IMG SRC="/Gestion/imagenes_main_bienvenida/main_bienvenida_02.jpg" WIDTH=29 HEIGHT=22></TD>
    <TD width="1"> <IMG SRC="/Gestion/imagenes_main_bienvenida/espacio.gif" WIDTH=1 HEIGHT=4></TD>
  </TR>
  <TR> 
    <TD ROWSPAN=8 width="4" bgcolor="#FFA400">&nbsp; </TD>
    <TD valign="top" width="610" ROWSPAN=8 bgcolor="#FFA400"> 
      <form name="form1" method="get" action="/servlet/ManIndicadores">
        <table width="52%" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr> 
            <td colspan="2" bgcolor="#FFCF75"> 
              <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><b>Detalle 
                Indicadores </b></font> </div>
            </td>
          </tr>
        </table>
        <br>
        <div id="Layer2" style="position:absolute; width:624px; height:182px; z-index:2; left: 4px; top: 64px; overflow: auto; visibility: visible"> 
          <table width="604" border="1" align="left" cellpadding="0" cellspacing="0">
            <list detalle as d> 
            <tr bgcolor="#FFFFFF"> 
              <td width="28%" height="13"><font face="Arial, Helvetica, sans-serif" size="1">${d.nom}</font></td>
              <td width="23%" height="13"><font face="Arial, Helvetica, sans-serif" size="1">${d.glosa}</font></td>
              <td width="23%" height="13"><font face="Arial, Helvetica, sans-serif" size="1">${d.formula}</font></td>
              <td width="10%" height="13"> 
                <div align="right"><font face="Arial, Helvetica, sans-serif" size="1">${d.valor}</font></div>
              </td>
              <td width="8%" height="13"><font face="Arial, Helvetica, sans-serif" size="1"><a href="#" onClick="OcultarLayer();MM_showHideLayers('Layer${d.item}','','show')" ><font face="Arial, Helvetica, sans-serif" size="1" color="#0000FF">Ver</font></a></font></td>
              
            </tr>
            </list> 
          </table>
        </div>
        <table width="604" border="1" cellpadding="0" cellspacing="0">
          <tr bgcolor="#FFCF75"> 
            <td width="169"> 
              <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Nombre</font></div>
            </td>
            <td width="132"> 
              <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Glosa</font></div>
            </td>
            <td width="136"> 
              <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">F&oacute;rmula</font></div>
            </td>
            <td width="57"><font face="Arial, Helvetica, sans-serif" size="2">Valor</font></td>
            <td width="48"><font face="Arial, Helvetica, sans-serif" size="2">Tramos</font></td>
          </tr>
        </table>
        <br>
        <br>
        <br>
        <br>
      </form><list detalle as d>
      <div id="Layer${d.item}" style="position:absolute; width:603px; height:108px; z-index:1; left: 7px; top: 255px; overflow: auto; visibility: hidden"> 
        <table width="100%" border="1" cellpadding="0" cellspacing="0" bgcolor="#44406A">
          <tr> 
            <td colspan="3"> 
              <div align="center"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><b>Tramo 
                Inferior</b></font></div>
            </td>
            <td colspan="3"> 
              <div align="center"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><b>Tramo 
                Medio</b></font></div>
            </td>
            <td colspan="3"> 
              <div align="center"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><b>Tramo 
                Superior</b></font></div>
            </td>
          </tr>
          <tr> 
            <td height="7" width="13%">
              <div align="center"><font face="Arial, Helvetica, sans-serif" size="1" color="#FFFFFF">Desc</font> 
              </div>
            </td>
            <td height="7" width="8%"><font face="Arial, Helvetica, sans-serif" size="1" color="#FFFFFF">Desde</font></td>
            <td height="7" width="10%"> 
              <div align="center"><font face="Arial, Helvetica, sans-serif" size="1" color="#FFFFFF">Hasta</font></div>
            </td>
            <td height="7" width="16%"> 
              <div align="center"><font face="Arial, Helvetica, sans-serif" size="1" color="#FFFFFF">Desc</font></div>
            </td>
            <td height="7" width="12%"><font face="Arial, Helvetica, sans-serif" size="1" color="#FFFFFF">Desde</font></td>
            <td height="7" width="9%"> 
              <div align="center"><font face="Arial, Helvetica, sans-serif" size="1" color="#FFFFFF">Hasta</font></div>
            </td>
            <td height="7" width="15%"> 
              <div align="center"><font face="Arial, Helvetica, sans-serif" size="1" color="#FFFFFF">Desc</font></div>
            </td>
            <td height="7" width="8%"><font face="Arial, Helvetica, sans-serif" size="1" color="#FFFFFF">Desde</font></td>
            <td height="7" width="9%"> 
              <div align="center"><font face="Arial, Helvetica, sans-serif" size="1" color="#FFFFFF">Hasta</font></div>
            </td>
          </tr>
          <tr> 
            <td width="13%"><font face="Arial, Helvetica, sans-serif" size="1" color="#FFFFFF">${d.descf}</font></td>
            <td width="8%">
              <div align="right"><font face="Arial, Helvetica, sans-serif" size="1" color="#FFFFFF">${d.inf1}</font></div>
            </td>
            <td width="10%">
              <div align="right"><font face="Arial, Helvetica, sans-serif" size="1" color="#FFFFFF">${d.inf2}</font></div>
            </td>
            <td width="16%"><font face="Arial, Helvetica, sans-serif" size="1" color="#FFFFFF">${d.descm}</font></td>
            <td width="12%">
              <div align="right"><font face="Arial, Helvetica, sans-serif" size="1" color="#FFFFFF">${d.med1}</font></div>
            </td>
            <td width="9%">
              <div align="right"><font face="Arial, Helvetica, sans-serif" size="1" color="#FFFFFF">${d.med2}</font></div>
            </td>
            <td width="15%"><font face="Arial, Helvetica, sans-serif" size="1" color="#FFFFFF">${d.descs}</font></td>
            <td width="8%">
              <div align="right"><font face="Arial, Helvetica, sans-serif" size="1" color="#FFFFFF">${d.sup1}</font></div>
            </td>
            <td width="9%">
              <div align="right"><font face="Arial, Helvetica, sans-serif" size="1" color="#FFFFFF">${d.sup2}</font></div>
            </td>
          </tr>
        </table>
        <div align="center"><font face="Arial, Helvetica, sans-serif" size="1"><a href="/servlet/ManIndicadores?item=${d.item}&grupo=${d.grupo}&desde=${d.desde}&hasta=${d.hasta}&valor=${d.valor}" target="_self">Mantener</a></font></div>
      </div>
      </list>
    </TD>
    <TD width="1" height="18"> <IMG SRC="/Gestion/imagenes_main_bienvenida/espacio.gif" WIDTH=1 HEIGHT=18></TD>
  </TR>
  <TR> 
    <TD ROWSPAN=7 width="13" bgcolor="#ffa400">&nbsp; </TD>
    <TD width="16" height="39"> <IMG SRC="/Gestion/imagenes_main_bienvenida/main_bienvenida_07.jpg" WIDTH=16 HEIGHT=39></TD>
    <TD width="1"> <IMG SRC="/Gestion/imagenes_main_bienvenida/espacio.gif" WIDTH=1 HEIGHT=39></TD>
  </TR>
  <TR> 
    <TD width="16" height="50"> <IMG SRC="/Gestion/imagenes_main_bienvenida/main_bienvenida_08.jpg" WIDTH=16 HEIGHT=50></TD>
    <TD width="1"> <IMG SRC="/Gestion/imagenes_main_bienvenida/espacio.gif" WIDTH=1 HEIGHT=50></TD>
  </TR>
  <TR> 
    <TD width="16" height="52"> <IMG SRC="/Gestion/imagenes_main_bienvenida/main_bienvenida_10.jpg" WIDTH=16 HEIGHT=52></TD>
    <TD width="1"> <IMG SRC="/Gestion/imagenes_main_bienvenida/espacio.gif" WIDTH=1 HEIGHT=52></TD>
  </TR>
  <TR> 
    <TD width="16" height="45"> <IMG SRC="/Gestion/imagenes_main_bienvenida/main_bienvenida_11.jpg" WIDTH=16 HEIGHT=45></TD>
    <TD width="1"> <IMG SRC="/Gestion/imagenes_main_bienvenida/espacio.gif" WIDTH=1 HEIGHT=45></TD>
  </TR>
  <TR> 
    <TD width="16" height="55"> <IMG SRC="/Gestion/imagenes_main_bienvenida/main_bienvenida_12.jpg" WIDTH=16 HEIGHT=55></TD>
    <TD width="1"> <IMG SRC="/Gestion/imagenes_main_bienvenida/espacio.gif" WIDTH=1 HEIGHT=55></TD>
  </TR>
  <TR> 
    <TD width="16" height="51"> <IMG SRC="/Gestion/imagenes_main_bienvenida/main_bienvenida_13.jpg" WIDTH=16 HEIGHT=51></TD>
    <TD width="1"> <IMG SRC="/Gestion/imagenes_main_bienvenida/espacio.gif" WIDTH=1 HEIGHT=51></TD>
  </TR>
  <TR> 
    <TD width="16" height="44"> <IMG SRC="/Gestion/imagenes_main_bienvenida/main_bienvenida_14.jpg" WIDTH=16 HEIGHT=44></TD>
    <TD width="1"> <IMG SRC="/Gestion/imagenes_main_bienvenida/espacio.gif" WIDTH=1 HEIGHT=44></TD>
  </TR>
</TABLE>
<p align="left">&nbsp;</p><script>parent.CerrarVentProcesando()</script>
</BODY>
</HTML>