 <HTML>
<HEAD>
<TITLE>Mensaje</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<script language="JavaScript">
<!--




//-->
</script>
</HEAD>
<BODY BGCOLOR=#0000 leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0 width="326" height="357">
  <TR> 
    <TD valign="top" width="284" ROWSPAN=8 bgcolor="#FFa400">&nbsp;</TD>
    <TD COLSPAN=2 height="14"> <IMG SRC="/templates/Gestion/InfoUsuario/Indicadores/imagenes_main_resultado/main_resultado_02.jpg" WIDTH=22 HEIGHT=14></TD>
  </TR>
  <TR> 
    <TD ROWSPAN=7 width="9" bgcolor="#ffa400">&nbsp; </TD>
    <TD height="40" width="24"> <IMG SRC="/templates/Gestion/InfoUsuario/Indicadores/imagenes_main_resultado/main_resultado_04.jpg" WIDTH=13 HEIGHT=40></TD>
  </TR>
  <TR> 
    <TD height="42" width="24"> <IMG SRC="/templates/Gestion/InfoUsuario/Indicadores/imagenes_main_resultado/main_resultado_05.jpg" WIDTH=13 HEIGHT=42></TD>
  </TR>
  <TR> 
    <TD height="51" width="24"> <IMG SRC="/templates/Gestion/InfoUsuario/Indicadores/imagenes_main_resultado/main_resultado_06.jpg" WIDTH=13 HEIGHT=51></TD>
  </TR>
  <TR> 
    <TD height="55" width="24"> <IMG SRC="/templates/Gestion/InfoUsuario/Indicadores/imagenes_main_resultado/main_resultado_07.jpg" WIDTH=13 HEIGHT=55></TD>
  </TR>
  <TR> 
    <TD height="54" width="24"> <IMG SRC="/templates/Gestion/InfoUsuario/Indicadores/imagenes_main_resultado/main_resultado_08.jpg" WIDTH=13 HEIGHT=54></TD>
  </TR>
  <TR> 
    <TD height="57" width="24"> <IMG SRC="/templates/Gestion/InfoUsuario/Indicadores/imagenes_main_resultado/main_resultado_09.jpg" WIDTH=13 HEIGHT=57></TD>
  </TR>
  <TR> 
    <TD height="45" width="24"> <IMG SRC="/templates/Gestion/InfoUsuario/Indicadores/imagenes_main_resultado/main_resultado_10.jpg" WIDTH=13 HEIGHT=45></TD>
  </TR>
</TABLE>
<list Lista as a> </list> 
<p>&nbsp;</p>
</BODY>
</HTML>