<table width="98%" border="0" cellspacing="2" cellpadding="2" class="textobranco"><tr><td valign="top" align="left">&nbsp;</td><td valign="top" align="left" class="textobrancobold" bgcolor="#1F56A1">IndiqueAreas y Cargos en los que visualiza el desarrollo futuro del Colaborador:</td></tr><tr><td valign="top" align="left">&nbsp;</td><td valign="top" align="left">&nbsp;</td></tr><tr><td valign="top" align="left">&nbsp;</td><td valign="top" align="left" height="1"><table width="100%" border="0" cellspacing="3" cellpadding="3" height="13" class="textobrancobold"><tr valign="middle" align="left" bgcolor="#3366CC"><td width="50%" bgcolor="#1F56A1"> Areas</td><td width="50%" bgcolor="#1F56A1"> cargos</td></tr><tr valign="middle" align="left">
<td> <input type="checkbox" name="checkbox4222" value="checkbox">
  Areas de Apoyo</td>
<td><input type="checkbox" name="checkbox432" value="checkbox"> Gerente Grupo de Negocios</td></tr><tr valign="middle" align="left">
<td> <input type="checkbox" name="checkbox4223" value="checkbox">
  Banca Empresas</td>
<td><input type="checkbox" name="checkbox432" value="checkbox">
  Gerente Divisi&oacute;n / GerenteNegocio Total</td></tr><tr valign="middle" align="left">
<td> <input type="checkbox" name="checkbox4224" value="checkbox">
  Banca Personas</td>
<td><input type="checkbox" name="checkbox432" value="checkbox"> Gerente Area / Supervisor de Gerentes</td></tr><tr valign="middle" align="left">
<td> <input type="checkbox" name="checkbox4225" value="checkbox">
  Banca Virtual</td>
<td><input type="checkbox" name="checkbox432" value="checkbox"> Sub-Gerente / Gerente Funcional</td></tr><tr valign="middle" align="left">
<td> <input type="checkbox" name="checkbox4226" value="checkbox">
  Contralor&iacute;a</td>
<td><input type="checkbox" name="checkbox432" value="checkbox"> Supervisor / Jefe de Unidad</td></tr><tr valign="middle" align="left">
<td> <input type="checkbox" name="checkbox4227" value="checkbox">
  Filiales</td>
<td><input type="checkbox" name="checkbox432" value="checkbox">
  Ejecutivo / Autogesti&oacute;n</td></tr><tr valign="middle" align="left">
<td> <input type="checkbox" name="checkbox4228" value="checkbox">
  Finazas</td>
<td><input type="checkbox" name="checkbox432" value="checkbox"> Gerente Grupo de Negocios</td></tr><tr valign="middle" align="left">
<td> <input type="checkbox" name="checkbox4229" value="checkbox">
  Fiscal&iacute;a</td>
<td><input type="checkbox" name="checkbox432" value="checkbox"> Gerente Grupo de Negocios</td></tr><tr valign="middle" align="left">
<td align="left"> <input type="checkbox" name="checkbox42210" value="checkbox">
  Marketing</td>
<td>&nbsp;</td></tr><tr valign="middle" align="left">
<td align="left"> <input type="checkbox" name="checkbox42211" value="checkbox">
  Riesgo</td>
<td>&nbsp;</td></tr><tr valign="middle" align="left">
<td align="left"> <input type="checkbox" name="checkbox422" value="checkbox">
  Otra (Indique)</td>
<td>&nbsp;</td></tr></table></td></tr></table>