<table width="98%" border="0" cellspacing="2" cellpadding="2" class="textobranco">
  <tr>
    <td valign="top" align="left">&nbsp;</td>
    <td valign="top" align="left" class="textobrancobold" bgcolor="#1F56A1">INTERESES
      DEL COLABORADOR:</td>
  </tr>
  <tr>
    <td valign="top" align="left" height="22">&nbsp;</td>
    <td valign="top" align="left" height="22">Indique los Intereses y motivaciones
      de desarrollo de carrera manifestados explicitamente por su colaborador:</td>
  </tr>
  <tr>
    <td valign="top" align="left">&nbsp;</td>
    <td valign="top" align="left">
      <textarea name="textfield" cols="60" rows="5" class="texto"></textarea>
    </td>
  </tr>
</table>

