<table width="98%" border="0" cellspacing="2" cellpadding="2" class="textobranco">
<tr>
<td valign="top" align="left">&nbsp;</td>
<td valign="top" align="left" class="textobrancobold" bgcolor="#1F56A1">POTENCIAL DE DESARROLLO:</td>
</tr>
<tr>
<td valign="top" align="left">&nbsp;</td>
<td valign="top" align="left">&nbsp;</td>
</tr>
<tr>
<td valign="top" align="left">&nbsp;</td>
<td valign="top" align="left">Utilice las siguientes preguntas para reflexionar sobre el potencial de desarrollo de su colaborador.</td>
</tr>
<tr>
<td valign="top" align="left">&nbsp;</td>
<td valign="top" align="left">su colaborador demuestra:</td>
</tr>
<tr>
<td valign="top" align="left">&nbsp;</td>
<td valign="top" align="left">&nbsp;</td>
</tr>
<tr valign="middle">
<td align="left"><input type="checkbox" name="checkbox" value="checkbox"></td>
<td align="left">Capacidad para enfrentar problemas de su especialidad de mayor complejidad</td>
</tr>
<tr valign="middle">
<td align="left"><input type="checkbox" name="checkbox2" value="checkbox"></td>
<td align="left">Capacidad para enfrentar funciones de mayor complejidad</td>
</tr>
<tr valign="middle">
<td align="left"><input type="checkbox" name="checkbox3" value="checkbox"></td>
<td align="left">Buscar Activamente Nuevos Aprendizajes, conocimientos y experiencias</td>
</tr>
<tr valign="middle">
<td align="left"><input type="checkbox" name="checkbox4" value="checkbox"></td>
<td align="left">Capacidad para enfrentar situaciones complejas en las relaciones interpersonales</td>
</tr>
</table>