<table width="98%" border="0" cellspacing="2" cellpadding="2" class="textobranco">
  <tr>
    <td valign="top" align="left">&nbsp;</td>
    <td valign="top" align="left" class="textobrancobold" bgcolor="#1F56A1">Razones:</td>
  </tr>
  <tr>
    <td valign="top" align="left">&nbsp;</td>
    <td valign="top" align="left">&nbsp;</td>
  </tr>
  <tr>
    <td valign="top" align="left">&nbsp;</td>
    <td valign="top" align="left">
      <textarea name="textarea2" cols="60" rows="5" class="texto"></textarea>
    </td>
  </tr>
</table>
