<table width="98%" border="0" cellspacing="2" cellpadding="2" class="textobranco">
<tr>
<td valign="top" align="left">&nbsp;</td>
<td valign="top" align="left" class="textobrancobold" bgcolor="#1F56A1">&iquest;Por Qu&eacute;?</td>
</tr>
<tr>
<td valign="top" align="left">&nbsp;</td>
<td valign="top" align="left">&nbsp;</td>
</tr>
<tr>
<td valign="top" align="left">&nbsp;</td>
<td valign="top" align="left">
 <table width="100" border="0" cellspacing="0" cellpadding="0">
   <tr>
   <td><textarea name="textarea" cols="60" rows="5" class="texto"></textarea></td>
   <td>&nbsp;</td>
   <td>&nbsp;</td>
   </tr>
 </table>
</td>
</tr>
<tr>
<td valign="top" align="left">&nbsp;</td>
<td valign="top" align="left">&nbsp;</td>
</tr>
<tr>
<td valign="top" align="left">&nbsp;</td>
<td valign="top" align="left" bgcolor="#1F56A1" class="textobrancobold">CONCLUSION:</td>
</tr>
<tr>
<td valign="top" align="left">&nbsp;</td>
<td valign="top" align="left">&nbsp;</td>
</tr>
<tr>
<td valign="top" align="left">&nbsp;</td>
<td valign="top" align="left">Indique los Plazos dentro de los cuales cree que el evaluado se encontrar&aacute;<br>en condiciones para ser promovido de su cargo. Se&ntilde;ale razones:</td>
</tr>
<tr>
<td valign="top" align="left">&nbsp;</td>
<td valign="top" align="left">&nbsp;</td>
</tr>
<tr>
<td valign="top" align="left">&nbsp;</td>
<td valign="top" align="left" height="1">
<table width="560" border="0" cellspacing="3" cellpadding="3" height="13" class="textobrancobold">
<tr valign="middle">
<td width="34" class="textobrancobold">
<div align="right">
<input type="radio" name="radiobutton" value="radiobutton">
</div>
</td>
<td width="174" class="textobrancobold"><br>
<div align="left">
<p>De aqu&iacute; a seis meses</p>
</div>
</td>
<td width="34" class="textobrancobold">
<div align="right">
<input type="radio" name="radiobutton" value="radiobutton">
</div>
</td>
<td width="151" class="textobrancobold">
<div align="left">Dentro de un A&ntilde;o</div>
</td>
<td align="right" width="24" class="textobrancobold">
<input type="radio" name="radiobutton" value="radiobutton">
</td>
<td width="143" class="textobrancobold">M&aacute;s de un A&ntilde;o</td>
</tr>
</table>
</td>
</tr>
</table>