#dockContainer { position: fixed; top: 60px; left: 6px; }
#jqDock { position: relative; bottom: 48px; }
.jqDockLabel { 
width:100px; 
background: #999; 
color: #fff; 
font-weight:bold;
padding: 3px 10px; 
-webkit-border-radius: 10px; 
-moz-border-radius: 10px; 
font-family:Verdana, Geneva, sans-serif;
font-size:12px;
filter:alpha(opacity=80);
-moz-opacity:.80;opacity:.80;
}
/*
	project: internet encyclopedia
	author: luka cvrk (www.solucija.com)
*/
title{ width:200px;}
:link,:visited { text-decoration:none } :focus,:active { outline: 0 } ul,ol { list-style:none } h1,h2,h3,h4,h5,h6,pre,code { font-size:1em; } ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input { margin:0; padding:0 } a img,:link img,:visited img, fieldset { border:none } address { font-style:normal }

a { color: #AF1515; cursor: pointer; }
a:hover { color: #7D1919; }
p  { margin: 0 0 15px; line-height: 1.7em; }
.clear { clear: both; }
.wrap { margin: 0 auto; width: 900px; }