<link href="../servlet/Tool?style/ggd.css" rel="stylesheet" type="text/css" />
<table width="100%" border="0" cellpadding="0" cellspacing="1">
  <tr>
    <td width="62" height="120">
    <img src="../servlet/Tool?images/trabajadores/fotos/${dRut.foto}" width="62" height="81" border="1" onerror="existeFoto(this);" />
    <!-- <img src="../servlet/Tool?images/images_ggd/fotos/${dRut.foto}" width="62" height="81" onerror="existeFoto(this);" /> -->    </td>
    <td width="5" valign="bottom">&nbsp;</td>
    <td valign="top"><p><span class="texto_titulo">${dRut.nombre_completo}</span><span class="txt_gris"><br />
      ${dRut.unidad}</span></p>
      <p><span class="txt_gris">${dRut.rut_full}</span></p></td>
  </tr>
</table>