<html>
<head>
<title>chile</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<!-- Fireworks 4.0  Dreamweaver 4.0 target.  Created Mon Jun 03 07:23:23 GMT-0400 (Hr. est&#225;ndar del Pac&#237;fico SA) 2002-->
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
//-->
</script>
<link href="../../servlet/Tool?style/portalrrhh.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#ffffff" background="../../servlet/Tool?images/mapa/mapa_r2_c13.jpg" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<img src="../../servlet/Tool?images/mapa/mapa_r1_c1.jpg" name="mapa_r1_c1" width="63" height="365" border="0" usemap="#mapa_r1_c1Map"> 
<map name="mapa_r1_c1Map"> 
  <area shape="poly" coords="19,332,29,355,45,313,11,306" href="#">
  <area shape="poly" coords="39,304,51,286,27,256,12,259" href="#">
  <area shape="poly" coords="10,256,27,251,31,216,16,218" href="#">
  <area shape="poly" coords="14,214,27,213,28,182,14,181" href="#">
  <area shape="poly" coords="17,178,25,179,28,169,16,171" href="#">
  <area shape="poly" coords="14,168,26,168,27,157,15,159" href="#">
  <area shape="poly" coords="17,156,29,156,30,145,18,147" href="#">
  <area shape="poly" coords="21,145,30,143,32,136,20,138" href="#">
  <area shape="poly" coords="21,134,36,138,34,129,27,132" href="#">
  <area shape="poly" coords="23,131,33,128,31,121,24,124" href="#">
  <area shape="poly" coords="22,15,30,6,37,33,25,37,22,15" href="#">
  <area shape="poly" coords="24,42,39,37,50,53,41,64,25,69" href="#">
  <area shape="poly" coords="26,72,41,69,35,93,20,96" href="#">
  <area shape="poly" coords="20,99,33,97,29,118,22,124" href="#">
</map>
</body>
</html>
