<html>
<head>
<link href="../servlet/Tool?style/portalrrhh.css" rel="stylesheet" type="text/css">
<title>Unidades</title>
<meta http-equiv="Content-Type" content="text/html;">
<!-- Fireworks 4.0  Dreamweaver 4.0 target.  Created Mon Jul 29 16:36:10 GMT-0400 (Hr. est&#225;ndar del Pac&#237;fico SA) 2002-->
<script language="JavaScript">
<!--
function ShowEmpleados(){
  var url='../servlet/S_Empleados?region=${GetParam("region")}&emp=';
  var empresa=document.form1.emp.value;
  url=url+empresa;
  //alert("url: "+url);
  document.location.href=url;
}

function Envia(f) {
   //alert("empresa: "+document.form1.emp.value);
	f.submit();
	return false;
}

function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
// -->

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
function Inicio(){
//"../servlet/Region_Sucursal?region="+region+"&empresa=1"
  var val_emp='${GetParam("empresa")}';
   //alert('${GetParam("empresa")}');
  if (val_emp=='')
   val_emp="1";
	
  //document.all.emp.value='${GetParam("empresa")}';
   document.all.emp.value=val_emp;
  //document.form1.empresa.value=document.all.emp.value;
}

function buscar(region,empresa){
	document.location.href="../servlet/Region_Sucursal?region="+region+"&empresa="+empresa;
}

function MM_callJS(jsStr) { //v2.0
  return eval(jsStr)
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_nbGroup(event, grpName) { //v6.0
  var i,img,nbArr,args=MM_nbGroup.arguments;
  if (event == "init" && args.length > 2) {
    if ((img = MM_findObj(args[2])) != null && !img.MM_init) {
      img.MM_init = true; img.MM_up = args[3]; img.MM_dn = img.src;
      if ((nbArr = document[grpName]) == null) nbArr = document[grpName] = new Array();
      nbArr[nbArr.length] = img;
      for (i=4; i < args.length-1; i+=2) if ((img = MM_findObj(args[i])) != null) {
        if (!img.MM_up) img.MM_up = img.src;
        img.src = img.MM_dn = args[i+1];
        nbArr[nbArr.length] = img;
    } }
  } else if (event == "over") {
    document.MM_nbOver = nbArr = new Array();
    for (i=1; i < args.length-1; i+=3) if ((img = MM_findObj(args[i])) != null) {
      if (!img.MM_up) img.MM_up = img.src;
      img.src = (img.MM_dn && args[i+2]) ? args[i+2] : ((args[i+1])? args[i+1] : img.MM_up);
      nbArr[nbArr.length] = img;
    }
  } else if (event == "out" ) {
    for (i=0; i < document.MM_nbOver.length; i++) {
      img = document.MM_nbOver[i]; img.src = (img.MM_dn) ? img.MM_dn : img.MM_up; }
  } else if (event == "down") {
    nbArr = document[grpName];
    if (nbArr)
      for (i=0; i < nbArr.length; i++) { img=nbArr[i]; img.src = img.MM_up; img.MM_dn = 0; }
    document[grpName] = nbArr = new Array();
    for (i=2; i < args.length-1; i+=2) if ((img = MM_findObj(args[i])) != null) {
      if (!img.MM_up) img.MM_up = img.src;
      img.src = img.MM_dn = (args[i+1])? args[i+1] : img.MM_up;
      nbArr[nbArr.length] = img;
  } }
}
//-->
</script>
<script language="JavaScript" src="../servlet/Tool?scripts/links.js" type="text/JavaScript"></script>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" bgcolor="E1E0F0" background="../servlet/Tool?images/main/bck_main.jpg" onLoad="Inicio();MM_preloadImages('../servlet/Tool?images/mapa/sucursales.jpg','../servlet/Tool?images/new/botones/buscar_f2.gif','/serhumano/images/mapa/sucursales.jpg','/serhumano/images/mapa/sucursales_over.jpg','/serhumano/images/mapa/colaboradores_down.jpg','/serhumano/images/mapa/colaboradores_over.jpg')">
<table width="666">
  <tr>
    <td height="40" align="center"><img src="../servlet/Tool?images/new/titulos/sucurdsales.jpg" width="436" height="29"></td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
  </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="648">
  <!-- fwtable fwsrc="Untitled" fwbase="desp_main.jpg" fwstyle="Dreamweaver" fwdocid = "742308039" fwnested="0" -->

  <tr>
   <td width="10">&nbsp;</td>
   <td width="127">&nbsp;      </td>
   <td width="319">&nbsp;</td>
  </tr>
  <tr>
   <td>&nbsp;</td>
    <td colspan="2" valign="top" >
      <table width="100%" border="0">
        <tr valign="top"> 
          <td colspan="3" height="225"> <br>
              &nbsp;&nbsp;&nbsp;&nbsp;
              
            <div id="Layer7" style="position:absolute; width:639px; height:267px; z-index:2; overflow: auto; background-color: #FFFFFF; layer-background-color: #FFFFFF; border: 1px none #000000; ; visibility: visible; left: 14px; top: 57px;"> 
              <table width="100%" border="0">
                <list unidades as u> 
                <tr> 
                  <td class=""><a href="javascript:;" onClick="return verPersonal('${u.uni_id}','${GetParam("empresa")}');">${u.unidad}</a></td>
                </tr>
                </list> 
              </table>
            </div>
          </td>
        </tr>
        <tr valign="bottom"> 
          <form name="form1" method="post" action="../servlet/Region_Sucursal">
            <td width="10%" height="40"><font size="1" face="Arial, Helvetica, sans-serif">&nbsp;</font>              <font size="2" color="#000066"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><font size="+3">.</font>Empresa 
              
              </font></b></font>
            </td>
            <td><font size="2" color="#000066"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="1">
              <select name="select" class="inputText" id="select">
                <list empresas as e>
                <option value="${e.id}">${e.empresa}</option>
                </list>
              </select>
            </font></b></font>              <input name="region" type="hidden"  value='${GetParam("region")}'>
              <input name="empresa" type="hidden"  value='${empresa}'>
              <input name="suc_name" type="hidden"  value='${GetParam("suc_name")}'>            </td>
            <td width="15%" align="right">&nbsp;</td>
         </form>
		</tr>
        <tr valign="bottom">
          <td><font size="2" color="#000066"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><font size="+3">.</font>Sucursal</font></b></font></td>
          <td><input name="suc_name2" type="text" class="inputText" id="suc_name23" value='${GetParam("suc_name")}' size="38"></td>
          <td align="right"><a href="javascript:;" onClick="return Envia(document.form1);" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image21','','../servlet/Tool?images/new/botones/buscar_f2.gif',1)"><img name="Image21" border="0" src="../servlet/Tool?images/new/botones/buscar.gif" width="91" height="21"></a></td>
        </tr>
      </table>    </td>
  </tr>
</table>
<div id="LayTituloTodo" style="position:absolute; width:445px; height:54px; z-index:5; top: 73px">
  <table width="100%" border="0" cellpadding="0">
    <tr valign="top" align="left">
      <td valign="bottom" width="85%"><font size="2" color="#000066"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="1">&nbsp;&nbsp;&nbsp;${reg_nombre}</font></b></font><br>
          <font size="2" color="#000066"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="1">&nbsp;&nbsp;&nbsp;</font></b></font></td>
      <td width="5%"><a href='javascript:;' target="_top" onClick="buscar(document.form1.region.value,document.form1.emp.value);MM_nbGroup('down','group1','sucursales','/serhumano/images/mapa/sucursales_down.jpg',1);return false;" onMouseOver="MM_nbGroup('over','sucursales','/serhumano/images/mapa/sucursales_over.jpg','',1)" onMouseOut="MM_nbGroup('out')"><img src="/serhumano/images/mapa/sucursales_down.jpg" name="sucursales" border="0" onLoad="MM_nbGroup('init','group1','sucursales','/serhumano/images/mapa/sucursales.jpg',1)"></a></td>
      <td width="10%"><a href="javascript:;" target="_top" onClick="MM_nbGroup('down','group1','colaboradores','/serhumano/images/mapa/colaboradores_down.jpg',1);ShowEmpleados();return false;" onMouseOver="MM_nbGroup('over','colaboradores','/serhumano/images/mapa/colaboradores_over.jpg','',1)" onMouseOut="MM_nbGroup('out')"><img src="/serhumano/images/mapa/colaboradores.jpg" name="colaboradores" width="28" height="28" border="0"></a></td>
    </tr>
  </table>
</div>
</body>
</html>
