<!doctype html>
<html>
<head>
    <meta charset="ISO-8859-1">
<title>Informes de Gesti&#243;n</title>

<!-- tool FUNCTION -->
<script type="text/javascript" src="../servlet/Tool?omap=scripts/scriptFuncs.js"></script>


<!-- JQUERY  -->
<script type="text/javascript" src="../servlet/Tool?omap=scripts/jquery-1.8.3.min.js"></script>

<!-- 
<link rel="stylesheet" type="text/css" href="../servlet/Tool?omap=style/demo.css"/>

PAGINA -->
<link rel="stylesheet" type="text/css" href="../servlet/Tool?omap=style/CarpetaElectronica/style.css"/>
<link rel="stylesheet" type="text/css" href="../servlet/Tool?omap=style/CarpetaElectronica/styleOrganica.css"/>


<!-- UPLOADIFY -->
<link rel="stylesheet" type="text/css"  href="../servlet/Tool?omap=style/jqueryuploadify/uploadify.css"></link>

<script type="text/javascript" 			src="../servlet/Tool?omap=scripts/jqueryuploadify/jquery.uploadify.js"></script>

<!--  TREE  -->
<script type="text/javascript" src="../servlet/Tool?scripts/jqtree/tree.jquery.js"></script>
<link rel="stylesheet" type="text/css" href="../servlet/Tool?style/jqtree/jqtree1.css"/>

<!-- MODAL -->
<script type="text/javascript" src="../servlet/Tool?scripts/jqueryalerts/jquery.alerts.js"></script>
<link rel="stylesheet" type="text/css" href="../servlet/Tool?style/jqueryalerts/jquery.alerts.css"/>

<!-- SHADOWBOX -->
<link href="../servlet/Tool?omap=scripts/shadowbox-3.0.3/shadowbox.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../servlet/Tool?omap=scripts/shadowbox-3.0.3/shadowbox.js"></script>


<script type="text/javascript" src="../servlet/Tool?scripts/zonaUtil.js"></script>
<script type="text/javascript" src="../servlet/Tool?scripts/trabajador/zonaInformeGestion.js"></script>


<!-- JTABLE -->
<script type="text/javascript" src="../servlet/Tool?omap=scripts/jquerydatatable/jquery.jeditable.js"></script>
<script type="text/javascript" src="../servlet/Tool?omap=scripts/jquerydatatable/jquery.dataTables.js"></script>
<script type="text/javascript" src="../servlet/Tool?omap=scripts/jquerydatatable/ZeroClipboard.js"></script>
<script type="text/javascript" src="../servlet/Tool?omap=scripts/jquerydatatable/TableTools.js"></script>

<link href="../servlet/Tool?omap=style/jquerydatatable/skin02/demo_page.css" rel="stylesheet" type="text/css"></link>
<link href="../servlet/Tool?omap=style/jquerydatatable/skin02/demo_table.css" rel="stylesheet" type="text/css"></link>
<link href="../servlet/Tool?omap=style/jquerydatatable/skin02/TableTools.css" rel="stylesheet" type="text/css"></link>
<link href="../servlet/Tool?omap=style/jquerydatatable/skin02/header.ccss.css" rel="stylesheet" type="text/css"></link>



<!-- QSMCOM -->
<script type="text/javascript" src="../servlet/Tool?scripts/qsmcom/qsmcom.js"></script>


</head>

<body onload="loadTreeZone(0);" style="height: 100%;" >
<div id="conteiner">

	<div id="cabecera">

        <div>Informes de Gestion</div>
   	    
    </div>
	
	<div id="main">     

			<div id="columna_derecha">
				<div id="contenido">

				</div>
			</div><!--columna derecha-->

	</div><!--main-->

</div><!--conteiner-->

</body>
</html>
