<HTML>
<HEAD>
<TITLE>busqueda grafica sin</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<!-- Gui&#243;n de carga previa de ImageReady (busqueda grafica sin.psd) -->
<SCRIPT LANGUAGE="JavaScript">
<!--
<!--

function newImage(arg) {
	if (document.images) {
		rslt = new Image();
		rslt.src = arg;
		return rslt;
	}
}

function changeImages() {
	if (document.images && (preloadFlag == true)) {
		for (var i=0; i<changeImages.arguments.length; i+=2) {
			document[changeImages.arguments[i]].src = changeImages.arguments[i+1];
		}
	}
}

var preloadFlag = false;
function preloadImages() {
	if (document.images) {
		busgraf_17_over = newImage("../servlet/Tool?images/busgraf/busgraf_17-over.gif");
		busgraf_17_down = newImage("../servlet/Tool?images/busgraf/busgraf_17-down.gif");
		busgraf_22_busgraf_17_over = newImage("../servlet/Tool?images/busgraf/busgraf_22-busgraf_17_over.gif");
		busgraf_36_over = newImage("../servlet/Tool?images/busgraf/busgraf_36-over.gif");
		preloadFlag = true;
	}
}

// -->

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</SCRIPT>
<!-- Finalizar gui&#243;n de carga previa -->
<link href="../servlet/Tool?style/portalrrhh.css" rel="stylesheet" type="text/css">
</HEAD>
<BODY ONLOAD="preloadImages();MM_preloadImages('../servlet/Tool?images/new/botones/cerrar_f2.gif')" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" background="../servlet/Tool?images/busgraf/main_2.jpg">

  
<div id="Layer1" style="position:absolute; left:262px; top:308px; width:91px; height:16px; z-index:1"><a href="javascript:window.close();" target="_parent" onMouseOver="MM_swapImage('Image1','','../servlet/Tool?images/new/botones/cerrar_f2.gif',1)" onMouseOut="MM_swapImgRestore()"><img src="../servlet/Tool?images/new/botones/cerrar.gif" name="Image1" width="91" height="21" border="0"></a></div>
</BODY>
</HTML>
