<title>Mensaje</title>

<script language="JavaScript">
<!--
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}

MM_reloadPage(true);
// -->

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<link href="${context}/servlet/Tool?style/portalrrhh.css" rel="stylesheet" type="text/css">
<body bgcolor="#9999CC" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="MM_preloadImages('${context}/servlet/Tool?images/new/botones/volver_f2.gif')">
<table width="292" border="0" align="center" cellpadding="0" cellspacing="0">
    <!-- fwtable fwsrc="Untitled" fwbase="mensaje.jpg" fwstyle="Dreamweaver" fwdocid = "742308039" fwnested="0" -->
    <tr> 
    <td><img src="${context}/servlet/Tool?images/mensaje/spacer.gif" width="14" height="1" border="0"></td>
    <td><img src="${context}/servlet/Tool?images/mensaje/spacer.gif" width="97" height="1" border="0"></td>
    <td><img src="${context}/servlet/Tool?images/mensaje/spacer.gif" width="170" height="1" border="0"></td>
    <td><img src="${context}/servlet/Tool?images/mensaje/spacer.gif" width="11" height="1" border="0"></td>
    <td><img src="${context}/servlet/Tool?images/mensaje/spacer.gif" width="1" height="1" border="0"></td>
  </tr>
  <tr> 
    <td colspan="2">&nbsp;</td>
    <td colspan="2">&nbsp;</td>
    <td><img src="${context}/servlet/Tool?images/mensaje/spacer.gif" width="1" height="27" border="0"></td>
  </tr>
  <tr> 
    <td rowspan="2">&nbsp;</td>
        <td colspan="2" valign="top">          <div align="center"> 
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr> 
                        <td height="35"> 
<div align="center" class="titulo" ><font size="2" face="Arial, Helvetica, sans-serif">Sin 
                                Sesi&oacute;n</font></div></td>
                  </tr>
                    <tr> 
                        <td height="82"> 
<div align="center"><font size="2" face="Arial, Helvetica, sans-serif">Su 
                                sesi&oacute;n ha expirado o<br>
                                no se ha logeado.</font></div></td>
                    </tr>
                    <tr>
                        <td align="center"><a href="${context}/index.html" target="_parent" onMouseOver="MM_swapImage('login_r5_c9','','${context}/servlet/Tool?images/new/botones/volver_f2.gif',1)" onMouseOut="MM_swapImgRestore()"><img src="${context}/servlet/Tool?images/new/botones/volver.gif" alt="Ingresar" name="login_r5_c9" width="91" height="21" border="0"></a></td>
                    </tr>
                </table>
                    
                
    </div></td>
    <td rowspan="2">&nbsp;</td>
    <td><img src="${context}/servlet/Tool?images/mensaje/spacer.gif" width="1" height="170" border="0"></td>
  </tr>
  <tr> 
    <td colspan="2">&nbsp;</td>
    <td><img src="${context}/servlet/Tool?images/mensaje/spacer.gif" width="1" height="14" border="0"></td>
  </tr>
</table>
<p align="center">&nbsp;</p>
</body>
</html>
