<html>
<head>
<title>historia</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<!-- Fireworks 4.0  Dreamweaver 4.0 target.  Created Fri May 31 18:18:56 GMT-0400 (Hr. est&#225;ndar del Pac&#237;fico SA) 2002-->
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
//-->
</script>
</head>
<body bgcolor="#9999CC" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" background="../servlet/Tool?images/main/bck_main.jpg">
<table width="467" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr> 
    <td><include "menutop/menutop.html"></td>
  </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="467" align="center">
  <!-- fwtable fwsrc="Untitled" fwbase="desp_main.jpg" fwstyle="Dreamweaver" fwdocid = "742308039" fwnested="0" -->
  <tr> 
    <td><img src="spacer.gif" width="16" height="1" border="0"></td>
    <td><img src="spacer.gif" width="195" height="1" border="0"></td>
    <td><img src="spacer.gif" width="240" height="1" border="0"></td>
    <td><img src="spacer.gif" width="16" height="1" border="0"></td>
    <td><img src="spacer.gif" width="1" height="1" border="0"></td>
  </tr>
  <tr> 
    <td rowspan="2"><img name="../servlet/Tool?images/desp_main/desp_main_r1_c1" src="../servlet/Tool?images/desp_main/desp_main_r1_c1.jpg" width="16" height="30" border="0"></td>
    <td><img name="../servlet/Tool?images/desp_main/desp_main_r1_c2" src="../servlet/Tool?images/desp_main/desp_main_r1_c2.jpg" width="195" height="23" border="0"></td>
    <td><img name="../servlet/Tool?images/desp_main/desp_main_r1_c3" src="../servlet/Tool?images/desp_main/desp_main_r1_c3.jpg" width="240" height="23" border="0"></td>
    <td rowspan="2"><img name="../servlet/Tool?images/desp_main/desp_main_r1_c4" src="../servlet/Tool?images/desp_main/desp_main_r1_c4.jpg" width="16" height="30" border="0"></td>
    <td><img src="spacer.gif" width="1" height="23" border="0"></td>
  </tr>
  <tr> 
    <td colspan="2"><img name="../servlet/Tool?images/desp_main/desp_main_r2_c2" src="../servlet/Tool?images/desp_main/desp_main_r2_c2.jpg" width="435" height="7" border="0"></td>
    <td><img src="spacer.gif" width="1" height="7" border="0"></td>
  </tr>
  <tr> 
    <td><img name="../servlet/Tool?images/desp_main/desp_main_r3_c1" src="../servlet/Tool?images/desp_main/desp_main_r3_c1.jpg" width="16" height="271" border="0"></td>
    <td colspan="2" valign="top" bgcolor="#BCBCDE" > 
      <div id="Layer1" style="position:absolute; width:443px; height:270px; z-index:1; overflow: auto;; visibility: visible"> 
        <table width="94%" border="0" cellspacing="0" cellpadding="0" height="587">
          <tr> 
            <td><font color="#000033"> </font> 
              <p align="center"><font size="2" face="Arial, Helvetica, sans-serif" color="#000033">Banco 
                Central<br>
                <a href="http://www.bcentral.cl" target="_blank">http://www.bcentral.cl/</a></font></p>
              <p align="center"><font size="2" face="Arial, Helvetica, sans-serif" color="#000033"><br>
                SuperIntendencia de Bancos e Instituciones Financieras<br>
                <a href="http://www.sbif.cl/" target="_blank">http://www.sbif.cl/</a></font></p>
              <p align="center"><font size="2" face="Arial, Helvetica, sans-serif" color="#000033"><br>
                Servicios de Impuestos Internos<br>
                <a href="http://www.sii.cl" target="_blank">http://www.sii.cl</a></font></p>
              <p align="center"><font size="2" face="Arial, Helvetica, sans-serif" color="#000033"><br>
                Diario Estrategia<br>
                <a href="http://www.estrategia.cl/" target="_blank">http://www.estrategia.cl/</a></font></p>
              <p align="center"><font size="2" face="Arial, Helvetica, sans-serif" color="#000033"><br>
                BBC Noticias<br>
                <a href="http://news.bbc.co.uk" target="_blank">http://news.bbc.co.uk</a><br>
                <br>
                <br>
                The New York Times<br>
                <a href="http://www.nytimes.com" target="_blank">http://www.nytimes.com</a></font></p>
              <p align="center"><font size="2" face="Arial, Helvetica, sans-serif" color="#000033"><br>
                Prensa Europea<br>
                <a href="http://www.infoprensa.net/prensa/news/europe.asp" target="_blank">http://www.infoprensa.net/prensa/news/europe.asp</a></font></p>
              <p align="center"><font size="2" face="Arial, Helvetica, sans-serif" color="#000033"><br>
                Tesorer&iacute;a General de la Rep&uacute;blica<br>
                <a href="http://www.tesoreria.cl" target="_blank">http://www.tesoreria.cl</a></font></p>
              <p align="center"><font size="2" face="Arial, Helvetica, sans-serif" color="#000033"><br>
                Tr&aacute;mite F&aacute;cil.<br>
                <a href="http://www.tramitefacil.gov.cl/main1.php" target="_blank">http://www.tramitefacil.gov.cl/main1.php</a></font></p>
              <p align="center"><font size="2" face="Arial, Helvetica, sans-serif" color="#000033"><br>
                Servicio Nacional del Consumidor<br>
                <a href="http://www.sernac.cl" target="_blank">http://www.sernac.cl</a></font></p>
              <p align="center"><font size="2" face="Arial, Helvetica, sans-serif" color="#000033"><br>
                Servicio Nacional de la Mujer<br>
                <a href="http://www.sernam.gov.cl/" target="_blank">http://www.sernam.gov.cl/</a></font></p>
              <p align="center"><font size="2" face="Arial, Helvetica, sans-serif" color="#000033"><br>
                Servicio de Registro Civil e Identificaci&oacute;n<br>
                <a href="http://www.registrocivil.cl/registro" target="_blank">http://www.registrocivil.cl/registro</a></font></p>
            </td>
          </tr>
        </table>
      </div>
      <div id="LayTituloTodo" style="position:absolute; width:165px; height:16px; z-index:5; left: 89px; top: 80px; visibility: visible"><font size="2" color="#000066"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Links 
        de Inter&eacute;s</font></b></font></div>
    </td>
    <td><img name="../servlet/Tool?images/desp_main/desp_main_r3_c4" src="../servlet/Tool?images/desp_main/desp_main_r3_c4.jpg" width="16" height="271" border="0"></td>
    <td><img src="spacer.gif" width="1" height="271" border="0"></td>
  </tr>
  <tr> 
    <td colspan="4"><img name="../servlet/Tool?images/desp_main/desp_main_r4_c1" src="../servlet/Tool?images/desp_main/desp_main_r4_c1.jpg" width="467" height="14" border="0"></td>
    <td><img src="spacer.gif" width="1" height="14" border="0"></td>
  </tr>
</table>
</body>
</html>
