<html>
<head>
<title>Misi&oacute;n</title>
<meta http-equiv="Content-Type" content="text/html;">
<!-- Fireworks 4.0  Dreamweaver 4.0 target.  Created Mon Jul 29 16:36:10 GMT-0400 (Hr. est&#225;ndar del Pac&#237;fico SA) 2002-->
<script language="JavaScript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
// -->
</script>
</head>
<link href="../servlet/Tool?style/portalrrhh.css" rel="stylesheet" type="text/css">
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td height="43" colspan="2"><img src="../servlet/Tool?images/new/logos/${GetImagenEmpresa("logo.gif")}" width="152" height="61"></td>
  </tr>
  <tr>
    <td colspan="2" bgcolor="f0f0f0" class="TITULO_MODULOS">Misi&oacute;n</td>
  </tr>
  <tr>
    <td class="campo_texto">La Universidad de los Andes busca irradiar en la sociedad un modo de  vida coherente con la verdad cristiana, que armoniza fe y raz&oacute;n.  Generar y difundir conocimiento en todos los &aacute;mbitos del saber.  Fomentar actitudes de di&aacute;logo abierto y respetuoso con las personas.  Promover la formaci&oacute;n integral de los alumnos, con una dedicaci&oacute;n  personal a cada uno. Difundir el amor al trabajo bien hecho y el af&aacute;n  de servicio, inspir&aacute;ndose en el esp&iacute;ritu del Opus Dei que es, adem&aacute;s,  garante de la formaci&oacute;n cristiana que en ella se imparte.</td>
    <td class="campo_texto"><img src="../servlet/Tool?images/new/compania/foto.jpg" width="184" height="194"></td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
</table>
</body>
</html>
