<html>
<head>
<title>Pol&iacute;ticas</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript" type="text/JavaScript">
function pol01() {
	var url2 = "../flash/politicas/p01.pdf";
	ventmsg2 = open(url2, "pol", "scrollbars=yes,width=780,height=500,left=5,top=5");
}
function pol02() {
	var url2 = "../flash/politicas/p02.pdf";
	ventmsg2 = open(url2, "pol", "scrollbars=yes,width=780,height=500,left=5,top=5");	
}
function pol03() {
	var url2 = "../flash/politicas/p03.pdf";
	ventmsg2 = open(url2, "pol", "scrollbars=yes,width=780,height=500,left=5,top=5");	
}
function pol04() {
	var url2 = "../flash/politicas/p04.pdf";
	ventmsg2 = open(url2, "pol", "scrollbars=yes,width=780,height=500,left=5,top=5");	
}
function pol05() {
	var url2 = "../flash/politicas/p05.pdf";
	ventmsg2 = open(url2, "pol", "scrollbars=yes,width=780,height=500,left=5,top=5");	
}
function pol06() {
	var url2 = "../flash/politicas/p06.pdf";
	ventmsg2 = open(url2, "pol", "scrollbars=yes,width=780,height=500,left=5,top=5");	
}
function pol07() {
	var url2 = "../flash/politicas/p07.pdf";
	ventmsg2 = open(url2, "pol", "scrollbars=yes,width=780,height=500,left=5,top=5");	
}
function pol08() {
	var url2 = "../flash/politicas/p08.pdf";
	ventmsg2 = open(url2, "pol", "scrollbars=yes,width=780,height=500,left=5,top=5");	
}
function pol09() {
	var url2 = "../flash/politicas/p09.pdf";
	ventmsg2 = open(url2, "pol", "scrollbars=yes,width=780,height=500,left=5,top=5");	
}
function pol10() {
	var url2 = "../flash/politicas/p10.pdf";
	ventmsg2 = open(url2, "pol", "scrollbars=yes,width=780,height=500,left=5,top=5");	
}
function pol11() {
	var url2 = "../flash/politicas/p11.doc";
	ventmsg2 = open(url2, "pol", "scrollbars=yes,width=780,height=500,left=5,top=5");	
}
function pol12() {
	var url2 = "../flash/politicas/p12.pdf";
	ventmsg2 = open(url2, "pol", "scrollbars=yes,width=780,height=500,left=5,top=5");	
}
function pol13() {
	var url2 = "../flash/politicas/p13.pdf";
	ventmsg2 = open(url2, "pol", "scrollbars=yes,width=780,height=500,left=5,top=5");	
}
function pol14() {
	var url2 = "../flash/politicas/p14.pdf";
	ventmsg2 = open(url2, "pol", "scrollbars=yes,width=780,height=500,left=5,top=5");	
}
function pol15() {
	var url2 = "../flash/politicas/p15.pdf";
	ventmsg2 = open(url2, "pol", "scrollbars=yes,width=780,height=500,left=5,top=5");	
}
function pol16() {
	var url2 = "../flash/politicas/p16.pdf";
	ventmsg2 = open(url2, "pol", "scrollbars=yes,width=780,height=500,left=5,top=5");	
}
function pol17() {
	var url2 = "../flash/politicas/p17.pdf";
	ventmsg2 = open(url2, "pol", "scrollbars=yes,width=780,height=500,left=5,top=5");	
}
function pol18() {
	var url2 = "../flash/politicas/p18.pdf";
	ventmsg2 = open(url2, "pol", "scrollbars=yes,width=780,height=500,left=5,top=5");	
}
</script>
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="100%" height="100%">
  <param name="movie" value="../flash/politicas.swf">
  <param name="quality" value="high"><param name="SCALE" value="exactfit">
  <embed src="../flash/politicas.swf" width="100%" height="100%" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" scale="exactfit"></embed>
</object>
</body>
</html>
