<html>
<head>
<title>Visi&oacute;n</title>
<meta http-equiv="Content-Type" content="text/html;">
<!-- Fireworks 4.0  Dreamweaver 4.0 target.  Created Mon Jul 29 16:36:10 GMT-0400 (Hr. est&#225;ndar del Pac&#237;fico SA) 2002-->
<script language="JavaScript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
// -->
</script>
</head>
<link href="../servlet/Tool?style/portalrrhh.css" rel="stylesheet" type="text/css">
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td height="43" colspan="2"><img src="../servlet/Tool?images/new/logos/${GetImagenEmpresa("logo.gif")}" width="152" height="61"></td>
  </tr>
  <tr>
    <td colspan="2" bgcolor="f0f0f0" class="TITULO_MODULOS">Visi&oacute;n</td>
  </tr>
  <tr>
    <td class="campo_texto">La Universidad de los Andes aspira a ser un referente de excelencia y un foco de irradiaci&oacute;n de h&aacute;bitos intelectuales y morales. Busca que los profesionales formados en sus aulas se distingan por su competencia profesional, su sentido de solidaridad, su capacidad de servir responsablemente a la sociedad y su actuaci&oacute;n &eacute;tica en el trabajo. Pretende difundir en la sociedad el valor divino de la vida humana, del trabajo bien hecho y de la verdad que hace libre al hombre. En su tarea se proyecta colaborando con otras instituciones nacionales y extranjeras.</td>
    <td class="campo_texto"><img src="../servlet/Tool?images/new/compania/foto.jpg" width="184" height="194"></td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
</table>
</body>
</html>