<!doctype html>
<html>
	<head>	
	</head>
	<body>
		<div class="TFviewTree">
			<div class="contIzq2">
				<div class="TFtoolTree">
	  				<div class="TFbuttonTree" onclick="loadTreeZone(0);">U. RR.HH.</div>
					<div class="TFbuttonTree" onclick="loadTreeZone(1);">U. Cargos</div>
					
					<!-- 
					<div class="TFbuttonTree" onclick="loadTreeZone(2);">U. Sucursal</div>
					<div class="TFbuttonTree" onclick="loadTreeZone(3);">U. Lugar a pago</div>
					<div class="TFbuttonTree" onclick="loadTreeZone(4);">U. UAdm</div>
					 -->
					<div class="TFbuttonTree" onclick="loadTreeZone(5);">U. Centro Costo</div>
				</div>
	
		 		<div class="TFtreeZone">
					<input type="hidden" name="nameInput" id="nameInput" value="${nameInput}" />
				
			  		<div id="tree" class="TFtree"></div>
		  		</div>
		  		<div class="TFmodZone" id="TFmodZone">
	
		  		</div>
			</div>
	  	</div>
	</body>
</html>
