<!DOCTYPE html>
<html>
<head>

<script type="text/javascript" src="../servlet/Tool?omap=scripts/jquerydatatable/jquery.jeditable.js"></script>
<script type="text/javascript" src="../servlet/Tool?omap=scripts/jquerydatatable/jquery.dataTables.js"></script>
<script type="text/javascript" src="../servlet/Tool?omap=scripts/jquerydatatable/ZeroClipboard.js"></script>
<script type="text/javascript" src="../servlet/Tool?omap=scripts/jquerydatatable/TableTools.js"></script>

<link href="../servlet/Tool?omap=style/jquerydatatable/skin02/demo_page.css" rel="stylesheet" type="text/css"></link>
<link href="../servlet/Tool?omap=style/jquerydatatable/skin02/demo_table.css" rel="stylesheet" type="text/css"></link>
<link href="../servlet/Tool?omap=style/jquerydatatable/skin02/TableTools.css" rel="stylesheet" type="text/css"></link>
<link href="../servlet/Tool?omap=style/jquerydatatable/skin02/header.ccss.css" rel="stylesheet" type="text/css"></link>



<meta charset="ISO-8859-1">
<title>Configurar Unidad</title>
</head>
<body>
	<div  style="padding-left: 10px;" id="divOrganicaDotacion">

		<div>

			<b style="font-size: 16px;">Trabajadores Presentes en esta Unidad</b>
			<hr/>
			<div id="divTablaTrabajadoresUnidad" >
			</div>
		</div>

	</div>
	
</body>
</html>