<!DOCTYPE html>
<html>
	<head>
	
	<script type="text/javascript" src="../servlet/Tool?omap=scripts/jquerydatatable/jquery.jeditable.js"></script>
	<script type="text/javascript" src="../servlet/Tool?omap=scripts/jquerydatatable/jquery.dataTables.js"></script>
	<script type="text/javascript" src="../servlet/Tool?omap=scripts/jquerydatatable/ZeroClipboard.js"></script>
	<script type="text/javascript" src="../servlet/Tool?omap=scripts/jquerydatatable/TableTools.js"></script>
	
<!-- 	<link href="../view/libs/eje/font/roboto.css" rel="stylesheet" type="text/css"> -->
<!-- 	<link href="../view/libs/eje/style/autoservicio.css" rel="stylesheet" type="text/css"> -->
<!-- 	<link href="../view/libs/eje/style/color.css" rel="stylesheet" type="text/css"> -->

	<link href="../servlet/Tool?omap=style/jquerydatatable/skin02/demo_page.css" rel="stylesheet" type="text/css"></link>
	<link href="../servlet/Tool?omap=style/jquerydatatable/skin02/demo_table.css" rel="stylesheet" type="text/css"></link>
	<link href="../servlet/Tool?omap=style/jquerydatatable/skin02/TableTools.css" rel="stylesheet" type="text/css"></link>
	<link href="../servlet/Tool?omap=style/jquerydatatable/skin02/header.ccss.css" rel="stylesheet" type="text/css"></link>
	
	<meta charset="ISO-8859-1">	
	<title>Mantenedor de Personas</title>
	
	</head>

	<div  style="padding-left: 10px;" id="divOrganicaDotacion">
		<div>
			<div id="divTablaTrabajadoresUnidad" class="font12">
			</div>
		</div>
	</div>
	
</body>
	
</html>