 <HTML>
<HEAD>
<TITLE>Cartola Horas Extras</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<link href="../servlet/Tool?style/gestion.css" rel="stylesheet" type="text/css">
<script language="JavaScript" src="../servlet/Tool?scripts/ExisteFoto.js">
</script>
<script language="JavaScript" src="Tool?htm=Gestion/script/opcion_link.js">
</script>
<script language="JavaScript">
<!--

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}
//-->
</script>
<style type="text/css">
<!--
.Estilo1 {color: #000000}
-->
</Style>
</HEAD>
<BODY background="../servlet/Tool?images/Gestion/news/fondo_descanso.jpg" text="#000000" style="background-repeat:no-repeat" leftmargin="0" topmargin="0" onLoad="MM_preloadImages('../servlet/Tool?images/Gestion/botones_exp/perfildown.jpg','../servlet/Tool?images/Gestion/botones_exp/simudown.jpg')">
<!-- Sectores de ImageReady (main_bienvenida.psd) -->
<table width="563" border="0" cellpadding="0" cellspacing="0" >
  <tr valign="top">
    <td width="13%" height="433" align="center" valign="top">
      <table width="113" border="0" align="left" height="93" cellpadding="0" cellspacing="0">
        <tr>
          <td height="67" align="center" valign="top">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top" align="center">
            <table width="86" height="106">
              <tr>
                <td valign="middle" align="center"><img src="../servlet/Tool?images/trabajadores/fotos/${foto}" width="79" height="100" onError="existeFoto(this)" border="0"></td>
              </tr>
            </table>
            <table width="111" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td width="111">
                  <div align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><b>${rut2}</b></font></div></td>
              </tr>
            </table>
            <table width="100%" border="0" height="75">
              <tr>
                <td height="18">&nbsp;</td>
              </tr>
              <tr>
                <td height="12">
                  <div align="center"><a href="javascript:;" onClick="return VerFonosRut('${rut}')" class="azul10NLink" title="Informaci&oacute;n de Anexo, Tel&eacute;fono y Fax.">[Anexo]</a></div></td>
              </tr>
              <tr>
                <td height="12" class="negro10N" align="center">&nbsp;
                    <!--${anexo}--></td>
              </tr>
              <tr>
                <td>
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="1">E-Mail</font></div></td>
              </tr>
              <tr>
                <td height="12">
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="1"><b>${email}</b></font></div></td>
              </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td><if Control("df_perfil_lab", rut)><a href="#" onClick="parent.PerfilLaboral(${rut});return false"><img src="../servlet/Tool?images/Gestion/botones_exp/perfilup.jpg" name="Image11" width="103" height="33" border="0" id="Image11" onMouseOver="MM_swapImage('Image11','','../servlet/Tool?images/Gestion/botones_exp/perfildown.jpg',1)"></a></if></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td><if Control("df_sim_rta", rut)><a href="#" onClick="parent.Simulacion(${rut});return false;"><img src="../servlet/Tool?images/Gestion/botones_exp/simup.jpg" name="Image21" width="103" height="33" border="0" id="Image21" onMouseOver="MM_swapImage('Image21','','../servlet/Tool?images/Gestion/botones_exp/simudown.jpg',1)"></a></if></td>
              </tr>
          </table></td>
        </tr>
      </table>
      <br>
    </td>
    <td valign="top"><table width="100%" border="0" align="center">
        <tr>
          <td width="100%" height="67">&nbsp;</td>
        </tr>
        <!-- ubicaci&oacute;n F&iacute;sica
              <tr valign="top"> 
                <td width="34%" class="textB"> 
                  <div align="right">Ubicaci&oacute;n F&iacute;sica</div>
                </td>
                <td width="66%" class="texto"> 
                  <div align="left">: ${ubicacion}</div>
                </td>
              </tr>-->
      </table>
      <table border="0" width="100%" height="109">
        <tr>
          <td colspan="4">
            <div align="center" class="titulo"><font face="Arial, Helvetica, sans-serif" size="2"><b><span class="titulo">${nombre}</span></b></font> </div></td>
        </tr>
        <tr>
          <td colspan="4" height="15">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" height="22">
              <tr>
                <td>
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="1"><b></b></font><font face="Arial, Helvetica, sans-serif" size="1" class="texto">${cargo}</font></div></td>
              </tr>
          </table></td>
        </tr>
        <tr>
          <td valign="top" width="188" height="17" class="textB">
            <div align="right"><b><font size="1" face="Arial, Helvetica, sans-serif" class="textB">Sueldo Base :</font></b></div></td>
          <td width="25" height="17" class="texto">
            <div align="right"><b><font size="1" face="Arial, Helvetica, sans-serif">$</font></b></div></td>
          <td width="71" height="17" class="texto">
            <div align="right"><font face="Arial, Helvetica, sans-serif" size="1" class="texto">${sbase}</font></div></td>
          <td width="185" height="17">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top" width="188" height="17" class="textB">
            <div align="right"><b><font size="1" face="Arial, Helvetica, sans-serif" class="textB">Total Haberes :</font></b></div></td>
          <td width="25" height="17" class="texto">
            <div align="right"><b><font size="1" face="Arial, Helvetica, sans-serif">$</font></b></div></td>
          <td width="71" height="17" class="texto">
            <div align="right"><font face="Arial, Helvetica, sans-serif" size="1" class="texto">${thaber}</font></div></td>
          <td width="185" height="17">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top" width="188" height="17" class="textB">
            <div align="right"><b><font size="1" face="Arial, Helvetica, sans-serif" class="textB">Total Horas Extras Mes :</font></b></div></td>
          <td width="25" height="17">&nbsp;</td>
          <td width="71" height="17" class="texto">
            <div align="right"><font face="Arial, Helvetica, sans-serif" size="1" class="texto">${hrsex} hrs ${minex} min</font></div></td>
          <td width="185" height="17">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top" width="188" class="textB">
            <div align="right"><b><font size="1" face="Arial, Helvetica, sans-serif" class="textB">Monto Horas Extras Mes :</font></b></div></td>
          <td width="25" class="texto">
            <div align="right"><b><font size="1" face="Arial, Helvetica, sans-serif">$</font></b></div></td>
          <td width="71" class="texto">
            <div align="right"><font face="Arial, Helvetica, sans-serif" size="1" class="texto">${mtoactual}</font></div></td>
          <td width="185">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top" width="188" height="22" class="textB">
            <div align="right"><b><font size="1" face="Arial, Helvetica, sans-serif" class="textB">Imp Sobretiempo :</font></b></div></td>
          <td width="25" height="22" class="texto">
            <div align="right"><b></b></div></td>
          <td width="71" height="22" class="texto">
            <div align="right"><font size="1" face="Arial, Helvetica, sans-serif" class="texto">${impacto} %</font></div></td>
          <td width="185" height="22">&nbsp;</td>
        </tr>
      </table></td>
  </tr>
</table>
<div id="Layer1" style="position:absolute; left:116px; top:283px; width:443px; height:154px; z-index:1; background-color:#E9E9E9; layer-background-color:#E9E9E9; border: 1px none #000000; overflow: auto">
  <table width="442" border="0" cellspacing="1" cellpadding="0">
    <tr bgcolor="#E9E9E9" align="center">
      <td width="50" height="20"> <span class="Estilo1"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">A&ntilde;o</font></span></td>
      <td width="50" height="20"> <span class="Estilo1"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Mes</font></span></td>
      <td width="55" height="20"> <span class="Estilo1"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">N&ordm; Horas</font></span></td>
      <td width="55" height="20"> <span class="Estilo1"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">N&ordm; Minutos</font></span></td>
      <td width="50" height="20"> <span class="Estilo1"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Monto</font></span></td>
      <td width="54" height="20"> <span class="Estilo1"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">TotHab</font></span></td>
      <td width="66" height="20"> <span class="Estilo1"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Sbase</font></span></td>
      <td width="53" height="20"> <span class="Estilo1"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">% Efecto</font></span></td>
    </tr>
    <if !(horas)>
    <tr bgcolor="#FFFFFF">
      <td colspan="8" valign="top" class="texto"><b>Este trabajador no registra horas extras...</b></td>
    </tr>
    <else> <list horas as c>
    <tr bgcolor="#FFFFFF" align="right">
      <td width="50" class="texto">
        <div align="left"><font face="Arial, Helvetica, sans-serif" size="1">${c.ano} </font></div></td>
      <td width="50" class="texto" align="center"><font face="Arial, Helvetica, sans-serif" size="1">${c.mes}</font></td>
      <td width="55" class="texto"><font face="Arial, Helvetica, sans-serif" size="1">${c.nhrs}</font></td>
      <td width="55" class="texto"><font face="Arial, Helvetica, sans-serif" size="1">${c.nmin}</font></td>
      <td width="50" class="texto"><font face="Arial, Helvetica, sans-serif" size="1">${c.mto}</font></td>
      <td width="54" class="texto"><font face="Arial, Helvetica, sans-serif" size="1">${c.tothab}</font></td>
      <td width="66" class="texto"><font face="Arial, Helvetica, sans-serif" size="1">${c.sbases}</font></td>
      <td width="53" class="texto">
        <div align="center"><font face="Arial, Helvetica, sans-serif" size="1">${c.efec}</font></div></td>
    </tr>
    </list> </if>
  </table>
</div>
<!-- Fin de sectores de ImageReady -->
</BODY>
</HTML>