 <HTML>
<HEAD>
<TITLE>Formaci&oacute;n</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<script language="JavaScript">
<!--
function MM_findObj(n, d) { //v4.0
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && document.getElementById) x=document.getElementById(n); return x;
}

function MM_showHideLayers() { //v3.0
  var i,p,v,obj,args=MM_showHideLayers.arguments;
  for (i=0; i<(args.length-2); i+=3) if ((obj=MM_findObj(args[i]))!=null) { v=args[i+2];
    if (obj.style) { obj=obj.style; v=(v=='show')?'visible':(v='hide')?'hidden':v; }
    obj.visibility=v; }
}

function MM_nbGroup(event, grpName) { //v3.0
  var i,img,nbArr,args=MM_nbGroup.arguments;
  if (event == "init" && args.length > 2) {
    if ((img = MM_findObj(args[2])) != null && !img.MM_init) {
      img.MM_init = true; img.MM_up = args[3]; img.MM_dn = img.src;
      if ((nbArr = document[grpName]) == null) nbArr = document[grpName] = new Array();
      nbArr[nbArr.length] = img;
      for (i=4; i < args.length-1; i+=2) if ((img = MM_findObj(args[i])) != null) {
        if (!img.MM_up) img.MM_up = img.src;
        img.src = img.MM_dn = args[i+1];
        nbArr[nbArr.length] = img;
    } }
  } else if (event == "over") {
    document.MM_nbOver = nbArr = new Array();
    for (i=1; i < args.length-1; i+=3) if ((img = MM_findObj(args[i])) != null) {
      if (!img.MM_up) img.MM_up = img.src;
      img.src = (img.MM_dn && args[i+2]) ? args[i+2] : args[i+1];
      nbArr[nbArr.length] = img;
    }
  } else if (event == "out" ) {
    for (i=0; i < document.MM_nbOver.length; i++) {
      img = document.MM_nbOver[i]; img.src = (img.MM_dn) ? img.MM_dn : img.MM_up; }
  } else if (event == "down") {
    if ((nbArr = document[grpName]) != null)
      for (i=0; i < nbArr.length; i++) { img=nbArr[i]; img.src = img.MM_up; img.MM_dn = 0; }
    document[grpName] = nbArr = new Array();
    for (i=2; i < args.length-1; i+=2) if ((img = MM_findObj(args[i])) != null) {
      if (!img.MM_up) img.MM_up = img.src;
      img.src = img.MM_dn = args[i+1];
      nbArr[nbArr.length] = img;
  } }
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<script language="JavaScript" src="/Gestion/script/ExisteFoto.js">
</script>
<link rel="stylesheet" href="/Gestion/Style/estilos.css" type="text/css">
</HEAD>
<BODY BGCOLOR=#000000 leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="MM_preloadImages('/Gestion/botones/cur_int_luz.jpg','/Gestion/botones/cur_ext_luz.jpg','/Gestion/botones/cur_int_up.jpg','/Gestion/botones/cur_ext_down.jpg','/images/Gestion/botones/formaprofesio_down.jpg','/images/Gestion/botones/formaprofesio_over.jpg','/images/Gestion/botones_exp/perfildown.jpg','/images/Gestion/botones_exp/simudown.jpg')">
<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0 width="644" height="358">
  <TR> 
    <TD width="614" height="4"> <IMG SRC="/images/Gestion/imagenes_main/main_bienvenida_01.jpg" WIDTH=614 HEIGHT=4></TD>
    <TD COLSPAN=2 ROWSPAN=2> <IMG SRC="/images/Gestion/imagenes_main/main_bienvenida_02.jpg" WIDTH=29 HEIGHT=22></TD>
    <TD width="1"> <IMG SRC="/images/Gestion/imagenes_main/espacio.gif" WIDTH=1 HEIGHT=4></TD>
  </TR>
  <TR> 
    <TD valign="top" bgcolor="#FFA400" ROWSPAN=8 width="614">
      <table width="612" border="0" height="350">
        <tr valign="top"> 
          <td width="86" height="106" rowspan="2"> 
            <table width="113" border="0" align="left" height="235" cellpadding="0" cellspacing="0">
              <tr> 
                <td valign="top" align="center"> 
                  <table border="0" background="/images/Gestion/imagenes_main/vent_foto1.gif" width="86" height="106" cellpadding="3" cellspacing="0">
                    <tr> 
                      <td valign="middle" align="center"><img src="/images/Gestion/Trabajadores/${foto}" width="79" height="100" onError="existeFoto(this)" border="0"></td>
                    </tr>
                  </table>
                  <table width="111" border="0" cellpadding="0" cellspacing="0">
                    <tr> 
                      <td width="111"> 
                        <div align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><b>${rut2}</b></font></div>
                      </td>
                    </tr>
                  </table>
                  <table width="100%" border="0">
                    <tr> 
                      <td height="18">&nbsp;</td>
                    </tr>
                    <tr> 
                      <td bgcolor="#FFCF75" height="15"> 
                        <div align="center"><font face="Arial, Helvetica, sans-serif" size="1">Anexo</font></div>
                      </td>
                    </tr>
                    <tr> 
                      <td> 
                        <div align="center"><font face="Arial, Helvetica, sans-serif" size="1"><b>${anexo}</b></font></div>
                      </td>
                    </tr>
                    <tr> 
                      <td bgcolor="#FFCF75"> 
                        <div align="center"><font face="Arial, Helvetica, sans-serif" size="1">E-Mail</font></div>
                      </td>
                    </tr>
                    <tr> 
                      <td height="14"> 
                        <div align="center"><font face="Arial, Helvetica, sans-serif" size="1"><b>${mail}</b></font></div>
                      </td>
                    </tr>
                  </table>
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr> 
                      <td>&nbsp;</td>
                    </tr>
                    <tr> 
                      <td><if Control("df_perfil_lab", rut)><a href="#" onClick="parent.PerfilLaboral(${rut});return false"><img src="/images/Gestion/botones_exp/perfilup.jpg" width="103" height="33" name="Image1" onMouseOver="MM_swapImage('Image1','','/images/Gestion/botones_exp/perfildown.jpg',1)" border="0"></a></if></td>
                    </tr>
                    <tr> 
                      <td>&nbsp;</td>
                    </tr>
                    <tr> 
                      <td><if Control("df_sim_rta", rut)><a href="#" onClick="parent.Simulacion(${rut});return false;"><img src="/images/Gestion/botones_exp/simup.jpg" width="103" height="33" name="Image2" onMouseOver="MM_swapImage('Image2','','/images/Gestion/botones_exp/simudown.jpg',1)" border="0"></a></if></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
          <td height="74"> 
            <table border="0" width="100%" height="36">
              <tr> 
                <td height="19" colspan="2"><font face="Arial, Helvetica, sans-serif" size="2"><b><span class="textB">${nombre}</span></b></font> 
                </td>
                <td width="74" height="19"><font face="Arial, Helvetica, sans-serif" size="1" class="textB">Fec. 
                  Ingreso </font></td>
                <td width="154" height="19"><font face="Arial, Helvetica, sans-serif" size="1" class="texto">:${fecha_ing}</font></td>
              </tr>
              <tr> 
                <td valign="top" width="81" height="18"><font face="Arial, Helvetica, sans-serif" size="1" class="textB">Centro 
                  Costo </font></td>
                <td valign="top" width="162" height="18"><font face="Arial, Helvetica, sans-serif" size="1" class="texto">:${unidad}</font></td>
                <td valign="top" width="74" height="18"><font face="Arial, Helvetica, sans-serif" size="1" class="textB">Dependencia</font></td>
                <td valign="top" width="154" height="18"><font face="Arial, Helvetica, sans-serif" size="1" class="texto">:${area}</font></td>
              </tr>
              <tr valign="bottom"> 
                <td width="81" height="20" valign="top"><font face="Arial, Helvetica, sans-serif" size="1"> 
                  <font face="Arial, Helvetica, sans-serif" size="1" class="textB">Cargo 
                  </font></font></td>
                <td width="162" height="20"><font face="Arial, Helvetica, sans-serif" size="1"> 
                  <font face="Arial, Helvetica, sans-serif" size="1" class="texto">:${cargo}</font> 
                  </font></td>
                <td width="74" height="20" class="textB"><font face="Arial, Helvetica, sans-serif" size="1" class="textB">Gerencia</font></td>
                <td width="154" height="20" class="texto"><font face="Arial, Helvetica, sans-serif" size="1" class="texto">:${division}</font></td>
              </tr>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" align="right">
              <tr align="center" valign="top"> 
                <td width="100" height="33"> <font size="2"><i><b><font size="2"><i><b><font face="Verdana, Arial, Helvetica, sans-serif"><a href="#" onMouseOut="MM_nbGroup('out')" onMouseOver="MM_nbGroup('over','formacion','/images/Gestion/botones/formaprofesio_over.jpg','',1)" onClick="MM_showHideLayers('LayerFormProf','','show','LayerPerfecExt','','hide','LayerPerfecInt','','hide');MM_nbGroup('down','group1','formacion','/images/Gestion/botones/formaprofesio_down.jpg',1)"><img name="formacion" border="0" src="/images/Gestion/botones/formaprofesio_up.jpg" width="108" height="27"></a></font></b></i></font><font face="Verdana, Arial, Helvetica, sans-serif"></font></b></i></font></td>
                <td width="100" height="33"><i><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><a href="#" onClick="MM_showHideLayers('LayerFormProf','','hide','LayerPerfecExt','','show','LayerPerfecInt','','hide');MM_nbGroup('down','group1','curso_ext','/Gestion/botones/cur_ext_down.jpg',1)" onMouseOut="MM_nbGroup('out')" onMouseOver="MM_nbGroup('over','curso_ext','/Gestion/botones/cur_ext_luz.jpg','',1)"><img src="/Gestion/botones/cur_ext_up.jpg" onLoad="" border="0" name="curso_ext"></a> 
                  </font></b></i></td>
                <td width="100" height="33"> <font size="2"><i><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><a href="#" onClick="MM_showHideLayers('LayerFormProf','','hide','LayerPerfecExt','','hide','LayerPerfecInt','','show');MM_nbGroup('down','group1','curso_int','/Gestion/botones/cur_int_down.jpg',1)" onMouseOut="MM_nbGroup('out')" onMouseOver="MM_nbGroup('over','curso_int','/Gestion/botones/cur_int_luz.jpg','',1)"><img src="/Gestion/botones/cur_int_down.jpg" onLoad="MM_nbGroup('init','group1','curso_int','/Gestion/botones/cur_int_up.jpg',1)" border="0" name="curso_int"></a></font><font face="Verdana, Arial, Helvetica, sans-serif"></font></b></i></font></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr valign="top"> 
          <td valign="top" align="right">&nbsp; </td>
        </tr>
      </table>
    </TD>
    <TD height="18" width="1"> <IMG SRC="/images/Gestion/imagenes_main/espacio.gif" WIDTH=1 HEIGHT=18></TD>
  </TR>
  <TR> 
    <TD ROWSPAN=7 width="13"> <IMG SRC="/images/Gestion/imagenes_main/main_bienvenida_06.jpg" WIDTH=13 HEIGHT=336></TD>
    <TD width="16" height="39"> <IMG SRC="/images/Gestion/imagenes_main/main_bienvenida_07.jpg" WIDTH=16 HEIGHT=39></TD>
    <TD width="1"> <IMG SRC="/images/Gestion/imagenes_main/espacio.gif" WIDTH=1 HEIGHT=39></TD>
  </TR>
  <TR> 
    <TD height="50" width="16"> <IMG SRC="/images/Gestion/imagenes_main/main_bienvenida_08.jpg" WIDTH=16 HEIGHT=50></TD>
    <TD width="1"> <IMG SRC="/images/Gestion/imagenes_main/espacio.gif" WIDTH=1 HEIGHT=50></TD>
  </TR>
  <TR> 
    <TD height="52" width="16"> <IMG SRC="/images/Gestion/imagenes_main/main_bienvenida_10.jpg" WIDTH=16 HEIGHT=52></TD>
    <TD width="1"> <IMG SRC="/images/Gestion/imagenes_main/espacio.gif" WIDTH=1 HEIGHT=52></TD>
  </TR>
  <TR> 
    <TD height="45" width="16"> <IMG SRC="/images/Gestion/imagenes_main/main_bienvenida_11.jpg" WIDTH=16 HEIGHT=45></TD>
    <TD width="1"> <IMG SRC="/images/Gestion/imagenes_main/espacio.gif" WIDTH=1 HEIGHT=45></TD>
  </TR>
  <TR> 
    <TD height="55" width="16"> <IMG SRC="/images/Gestion/imagenes_main/main_bienvenida_12.jpg" WIDTH=16 HEIGHT=55></TD>
    <TD width="1"> <IMG SRC="/images/Gestion/imagenes_main/espacio.gif" WIDTH=1 HEIGHT=55></TD>
  </TR>
  <TR> 
    <TD height="51" width="16"> <IMG SRC="/images/Gestion/imagenes_main/main_bienvenida_13.jpg" WIDTH=16 HEIGHT=51></TD>
    <TD width="1"> <IMG SRC="/images/Gestion/imagenes_main/espacio.gif" WIDTH=1 HEIGHT=51></TD>
  </TR>
  <TR> 
    <TD height="44" width="16"> <IMG SRC="/images/Gestion/imagenes_main/main_bienvenida_14.jpg" WIDTH=16 HEIGHT=44></TD>
    <TD width="1"> <IMG SRC="/images/Gestion/imagenes_main/espacio.gif" WIDTH=1 HEIGHT=44></TD>
  </TR>
</TABLE>
<!-- Fin de sectores de ImageReady -->
<div id="LayerFormProf" style="position:absolute; width:486px; height:213px; z-index:1; ; overflow: scroll; left: 139px; background-color: #FFCF75; layer-background-color: #FFCF75; border: 1px none #000000; top: 133px; visibility: hidden"> 
  <table border="1" width="869" cellpadding="0" cellspacing="0">
    <tr bgcolor="#FF6600"> 
      <td width="400"> 
        <div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="1" color="#FFFFFF">T&iacute;tulo</font></b></div>
      </td>
      <td width="150"> 
        <div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="1" color="#FFFFFF">Tipo</font></b></div>
      </td>
      <td width="250"> 
        <div align="center"><b><font color="#FFFFFF" size="1" face="Verdana, Arial, Helvetica, sans-serif">Organismo 
          Formador </font></b></div>
      </td>
      <td width="70"> 
        <div align="center"><b><font color="#FFFFFF" size="1" face="Verdana, Arial, Helvetica, sans-serif">Fecha</font></b></div>
      </td>
    </tr>
    <if !(profesional)> 
    <tr bgcolor="#FFFFFF"> 
      <td colspan="4"> 
        <div align="left"><font face="Arial, Helvetica, sans-serif" size="2"><b>Sin 
          antecedentes de su formaci&#243;n.</b></font></div>
      </td>
    </tr>
    </if> <list profesional as p> 
    <tr bgcolor="#FFFFFF"> 
      <td width="400" height="2"> <font face="Arial, Helvetica, sans-serif" size="1">${p.titulo}</font></td>
      <td width="150" height="2"> <font face="Arial, Helvetica, sans-serif" size="1">${p.tipo}</font></td>
      <td width="250" height="2"> <font face="Arial, Helvetica, sans-serif" size="1">${p.organismo}</font></td>
      <td width="70" height="2"> <font face="Arial, Helvetica, sans-serif" size="1">${p.fecha}</font></td>
    </tr>
    </list> 
  </table>
</div>
<div id="LayerPerfecExt" style="position:absolute; width:486px; height:213px; z-index:1; ; overflow: scroll; left: 139px; background-color: #FFCF75; layer-background-color: #FFCF75; visibility: hidden; top: 133px"> 
  <table border="1" width="1270" cellpadding="0" cellspacing="0">
    <tr bgcolor="#FF6600"> 
      <td width="250" rowspan="2"> 
        <div align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="1" color="#FFFFFF">Beca 
          de Estudio</font></div>
      </td>
      <td width="40" rowspan="2"> 
        <div align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="1" color="#FFFFFF">A&ntilde;o</font></div>
      </td>
      <td rowspan="2" width="300"> 
        <div align="center"><font color="#FFFFFF" size="1" face="Verdana, Arial, Helvetica, sans-serif">Carrera</font></div>
      </td>
      <td rowspan="2" width="300"> 
        <div align="center"><font color="#FFFFFF" size="1" face="Verdana, Arial, Helvetica, sans-serif">Organismo 
          Instructor </font></div>
      </td>
      <td colspan="3"> 
        <div align="center"><font color="#FFFFFF" size="1" face="Verdana, Arial, Helvetica, sans-serif">Semestres</font></div>
      </td>
      <td rowspan="2" width="20"> 
        <div align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="1" color="#FFFFFF">% 
          Finan. </font></div>
      </td>
      <td colspan="3"> 
        <div align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="1" color="#FFFFFF">Monto 
          a Pagar</font></div>
      </td>
      <td rowspan="2" width="30"> 
        <div align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="1" color="#FFFFFF">Estado 
          Beca </font></div>
      </td>
      <td rowspan="2" width="150"> 
        <div align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="1" color="#FFFFFF">Resultado</font></div>
      </td>
    </tr>
    <tr bgcolor="#0033CC"> 
      <td width="30" bgcolor="#FF6600"> 
        <div align="center"><font color="#FFFFFF" size="1" face="Verdana, Arial, Helvetica, sans-serif">Realizados</font></div>
      </td>
      <td width="30" bgcolor="#FF6600"> 
        <div align="center"><font color="#FFFFFF" size="1" face="Verdana, Arial, Helvetica, sans-serif">Pendientes</font></div>
      </td>
      <td width="30" bgcolor="#FF6600"> 
        <div align="center"><font color="#FFFFFF" size="1" face="Verdana, Arial, Helvetica, sans-serif">Totales</font></div>
      </td>
      <td width="70" bgcolor="#FF6600"> 
        <div align="center"><font color="#FFFFFF" size="1" face="Verdana, Arial, Helvetica, sans-serif">Sociedad</font></div>
      </td>
      <td width="70" bgcolor="#FF6600"> 
        <div align="center"><font color="#FFFFFF" size="1" face="Verdana, Arial, Helvetica, sans-serif">Trabajador</font></div>
      </td>
      <td width="70" bgcolor="#FF6600"> 
        <div align="center"><font color="#FFFFFF" size="1" face="Verdana, Arial, Helvetica, sans-serif">Total</font></div>
      </td>
    </tr>
    <if !(perfeccionamiento_ext)> 
    <tr bgcolor="#FFFFFF"> 
      <td colspan="13"> 
        <div align="left"><font face="Arial, Helvetica, sans-serif" size="2"><b>No 
          ha realizado cursos, externos, de perfeccionamiento.</b></font></div>
      </td>
    </tr>
    </if> <list perfeccionamiento_ext as per> 
    <tr bgcolor="#FFFFFF"> 
      <td width="250"> <font face="Arial, Helvetica, sans-serif" size="1">${per.beca}</font></td>
      <td width="40"> <font face="Arial, Helvetica, sans-serif" size="1">${per.periodo}</font></td>
      <td width="300"> <font face="Arial, Helvetica, sans-serif" size="1">${per.carrera}</font></td>
      <td width="300"> <font face="Arial, Helvetica, sans-serif" size="1">${per.organismo}</font></td>
      <td width="30"> <font face="Arial, Helvetica, sans-serif" size="1">${per.sem_real}</font></td>
      <td width="30"> <font face="Arial, Helvetica, sans-serif" size="1">${per.sem_pend}</font></td>
      <td width="30"> <font face="Arial, Helvetica, sans-serif" size="1">${per.sem_totales}</font></td>
      <td width="20"> <font face="Arial, Helvetica, sans-serif" size="1">${per.finan}</font></td>
      <td width="70"> <font face="Arial, Helvetica, sans-serif" size="1">${per.monto_emp}</font></td>
      <td width="70"> <font face="Arial, Helvetica, sans-serif" size="1">${per.monto_trab}</font></td>
      <td width="70"> <font face="Arial, Helvetica, sans-serif" size="1">${per.monto_total}</font></td>
      <td width="30"> <font face="Arial, Helvetica, sans-serif" size="1">${per.beca_estado}</font></td>
      <td width="150"> <font face="Arial, Helvetica, sans-serif" size="1">${per.resultado}</font></td>
    </tr>
    </list> 
  </table>
</div>
<div id="LayerPerfecInt" style="position:absolute; width:486px; height:181px; z-index:1; ; overflow: scroll; left: 123px; top: 127px; background-color: #FFCF75; layer-background-color: #FFCF75; visibility: visible">
  <table border="1" cellpadding="0" cellspacing="0" width="897">
    <tr bgcolor="#FF6600"> 
      <td width="302"> 
        <div align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="1" color="#FFFFFF">Curso</font></div>
      </td>
      <td width="71"> 
        <div align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="1" color="#FFFFFF">Fecha 
          Inicio</font></div>
      </td>
      <td width="81"> 
        <div align="center"><font color="#FFFFFF" size="1" face="Verdana, Arial, Helvetica, sans-serif">Fecha 
          Termino </font></div>
      </td>
      <td width="222"> 
        <div align="center"><font color="#FFFFFF" size="1" face="Verdana, Arial, Helvetica, sans-serif">Organismo 
          Instructor </font></div>
      </td>
      <td width="67"> 
        <div align="center"><font color="#FFFFFF" size="1" face="Verdana, Arial, Helvetica, sans-serif">Nota 
          Aprob. </font></div>
      </td>
      <td width="152"> 
        <div align="center"><font color="#FFFFFF" size="1" face="Verdana, Arial, Helvetica, sans-serif">Concepto 
          Aprobaci&oacute;n</font></div>
      </td>
    </tr>
    <if !(cursos)> 
    <tr bgcolor="#FFFFFF"> 
      <td colspan="6"> 
        <div align="left"><font face="Arial, Helvetica, sans-serif" size="2"><b>No 
          ha realizado cursos, Internos, de perfeccionamiento.</b></font></div>
      </td>
    </tr>
    </if> <list cursos as c> 
    <tr bgcolor="#FFFFFF"> 
      <td width="302"> <font face="Arial, Helvetica, sans-serif" size="1">${c.curso}</font></td>
      <td width="71"> <font face="Arial, Helvetica, sans-serif" size="1">${c.fecha_inicio}</font></td>
      <td width="81"> <font face="Arial, Helvetica, sans-serif" size="1">${c.fecha_termino}</font></td>
      <td width="222"> <font face="Arial, Helvetica, sans-serif" size="1">${c.organismo}</font></td>
      <td width="67"> <font face="Arial, Helvetica, sans-serif" size="1">${c.nota_aprob}</font></td>
      <td width="152"> <font face="Arial, Helvetica, sans-serif" size="1">${c.concepto_aprob}</font></td>
    </tr>
    </list> 
  </table>
</div>
</BODY>
</HTML>