  <html>
<head>
<title>Mensaje</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

</head>

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="10" marginwidth="0" marginheight="0">
<table width="51%" align="center" bordercolor="#0033CC" border="1" cellspacing="0">
  <tr> 
    <td height="2" bgcolor="#0033CC"> 
      <div align="center"><font face="Arial, Helvetica, sans-serif" size="1"><b> 
        <font size="2" color="#FFFFFF">${titulo}</font></b></font></div>
    </td>
  </tr>
  <tr> 
    <td height="77" bgcolor="#CCCCCC" bordercolor="#CCCCCC"> 
      <p align="center"><font face="Arial, Helvetica, sans-serif" size="2"> <i>${mensaje}</i></font></p>
    </td>
  </tr>
  <tr align="center"> 
    <td bgcolor="#CCCCCC" bordercolor="#CCCCCC"> 
      <input type="button" name="Button" value="Volver" onClick = "window.history.back();" >
    </td>
  </tr>
</table>
</body>
</html>
