  <html>
<head>
<title>Procesando</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="../servlet/Tool?style/gestion.css" rel="stylesheet" type="text/css">
</head>

<body onblur="window.focus()" onload="window.focus()" bgcolor="#000000" text="#000000" link="#000000" vlink="#000000" alink="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="250" border="0" cellspacing="2" cellpadding="2" bgcolor="#FFCF75">
  <tr> 
    <td class="negro12B" align="center" height="20">Simulaci&oacute;n de Rena</td>
  </tr>
  <tr> 
    <td bgcolor="#FFA400" align="center" class="negro12N" height="35">Realizando 
      calculo...</td>
  </tr>
</table>
</body>
</html>
