<html>
<head>
<title>Noticias</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<!-- Fireworks 4.0  Dreamweaver 4.0 target.  Created Fri May 31 18:18:56 GMT-0400 (Hr. est&#225;ndar del Pac&#237;fico SA) 2002-->
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
//-->
</script>
<style type="text/css">
<!--
.Estilo1 {
	color: #990000;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
}
-->
</style>
</head>
<body bgcolor="#9999CC" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" background="../servlet/Tool?images/main/bck_main.jpg">
<table width="467" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr> 
    <td><include "menutop/menutop.html"></td>
  </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="467" align="center">
  <!-- fwtable fwsrc="Untitled" fwbase="desp_main.jpg" fwstyle="Dreamweaver" fwdocid = "742308039" fwnested="0" -->
  <tr> 
    <td><img src="../servlet/Tool?images/desp_main/spacer.gif" width="16" height="1" border="0"></td>
    <td><img src="../servlet/Tool?images/desp_main/spacer.gif" width="195" height="1" border="0"></td>
    <td><img src="../servlet/Tool?images/desp_main/spacer.gif" width="240" height="1" border="0"></td>
    <td><img src="../servlet/Tool?images/desp_main/spacer.gif" width="16" height="1" border="0"></td>
    <td><img src="../servlet/Tool?images/desp_main/spacer.gif" width="1" height="1" border="0"></td>
  </tr>
  <tr> 
    <td rowspan="2"><img name="desp_main_r1_c1" src="../servlet/Tool?images/desp_main/desp_main_r1_c1.jpg" width="16" height="30" border="0"></td>
    <td><img name="desp_main_r1_c2" src="../servlet/Tool?images/desp_main/desp_main_r1_c2.jpg" width="195" height="23" border="0"></td>
    <td><img name="desp_main_r1_c3" src="../servlet/Tool?images/desp_main/desp_main_r1_c3.jpg" width="240" height="23" border="0"></td>
    <td rowspan="2"><img name="desp_main_r1_c4" src="../servlet/Tool?images/desp_main/desp_main_r1_c4.jpg" width="16" height="30" border="0"></td>
    <td><img src="../servlet/Tool?images/desp_main/spacer.gif" width="1" height="23" border="0"></td>
  </tr>
  <tr> 
    <td colspan="2"><img name="desp_main_r2_c2" src="../servlet/Tool?images/desp_main/desp_main_r2_c2.jpg" width="435" height="7" border="0"></td>
    <td><img src="../servlet/Tool?images/desp_main/spacer.gif" width="1" height="7" border="0"></td>
  </tr>
  <tr> 
    <td><img name="desp_main_r3_c1" src="../servlet/Tool?images/desp_main/desp_main_r3_c1.jpg" width="16" height="271" border="0"></td>
    <td colspan="2" valign="top" bgcolor="D2D1E1"> 
      <div id="Layer2" style="position:absolute; width:435px; height:147px; z-index:2; visibility: visible;">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td height="100" bgcolor="#D2D1E1"><p align="center"><span class="Estilo1">Disfruta de Nuestras Secciones <br>
creadas especialmente para t&iacute;</span></p>            </td>
          </tr>
          <tr>
            <td><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="435" height="168">
              <param name="movie" value="../flash/main_bienvenida.swf">
              <param name="quality" value="high">
              <embed src="../flash/main_bienvenida.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="435" height="168"></embed>
            </object></td>
          </tr>
        </table>
      </div>
    </td>
    <td><img name="desp_main_r3_c4" src="../servlet/Tool?images/desp_main/desp_main_r3_c4.jpg" width="16" height="271" border="0"></td>
    <td><img src="../servlet/Tool?images/desp_main/spacer.gif" width="1" height="271" border="0"></td>
  </tr>
  <tr> 
    <td colspan="4"><img name="desp_main_r4_c1" src="../servlet/Tool?images/desp_main/desp_main_r4_c1.jpg" width="467" height="14" border="0"></td>
    <td><img src="../servlet/Tool?images/desp_main/spacer.gif" width="1" height="14" border="0"></td>
  </tr>
</table>
</body>
</html>
