<html>
<title>Indice</title>
<script language="JavaScript" src="../servlet/Tool?scripts/arbol_2.js"></script>
<link rel="stylesheet" href="../servlet/Tool?style/estilos_2.css" type="text/css">
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
//-->
</script>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style>
<body bgcolor="#FFFFFF">
<table width="201" border="0" cellpadding="0" cellspacing="0">
  <tr>
  <td width="201" nowrap ><a href="javascript:;" onClick="return exp_colap('img_A0', 'hijos_A0')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/angulo+.jpg" border="0" align="absbottom"><img name="img_A0" src="../servlet/Tool?images/images_arbol_2/an.jpg" border="0" align="absbottom" ></a><font class="textoGrafico" >CEV</font></td>
</tr><tr><td><table id="hijos_A0" border="0" cellpadding="0" cellspacing="0" style="display:yes" ><tr><td width="16" background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/blank.gif"></td><td> <table border="0" cellpadding="0" cellspacing="0"><tr><td nowrap ><a href="javascript:;" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen-.jpg" width="16" height="22" border="0" align="absbottom" ><img name="img_A1" src="../servlet/Tool?images/images_arbol_2/an.jpg" border="0" align="absbottom" ></a><font class="textoGrafico" >1) Accesos a mis cursos</font></td>
</tr></table></td></tr><tr><td width="16" background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/blank.gif"></td><td> <table border="0" cellpadding="0" cellspacing="0"><tr><td nowrap ><a href="javascript:;" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen-.jpg" width="16" height="22" border="0" align="absbottom" ><img name="img_A2" src="../servlet/Tool?images/images_arbol_2/an.jpg" border="0" align="absbottom" ></a><font class="textoGrafico" >2) Foros de discusi&#243;n</font></td>
</tr></table></td></tr><tr><td width="16" background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/blank.gif"></td><td> <table border="0" cellpadding="0" cellspacing="0"><tr><td nowrap ><a href="javascript:;" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen-.jpg" width="16" height="22" border="0" align="absbottom" ><img name="img_A3" src="../servlet/Tool?images/images_arbol_2/an.jpg" border="0" align="absbottom" ></a><font class="textoGrafico" >3)	Chat</font></td>
</tr></table></td></tr><tr><td width="16" background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/blank.gif"></td><td> <table border="0" cellpadding="0" cellspacing="0"><tr><td nowrap ><a href="javascript:;" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen-.jpg" width="16" height="22" border="0" align="absbottom"><img name="img_A4" src="../servlet/Tool?images/images_arbol_2/an.jpg" border="0" align="absbottom" ></a><font class="textoGrafico" >4)	Bandeja de entrada</font></td>
</tr></table></td></tr>
      <tr>
        <td background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top">&nbsp;</td>
        <td><table border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td nowrap ><a href="javascript:;" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen-.jpg" width="16" height="22" border="0" align="absbottom"><img name="img_A5" src="../servlet/Tool?images/images_arbol_2/an.jpg" border="0" align="absbottom" ></a><font class="textoGrafico" >5) Imprimir mi informaci&oacute;n</font></td>
          </tr>
        </table>          </td>
      </tr>
      <tr>
        <td background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top">&nbsp;</td>
        <td><table border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td nowrap ><a href="javascript:;" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen-.jpg" width="16" height="22" border="0" align="absbottom"><img name="img_A6" src="../servlet/Tool?images/images_arbol_2/an.jpg" border="0" align="absbottom" ></a><font class="textoGrafico" >6) Mesa de ayuda</font></td>
          </tr>
        </table>          </td>
      </tr>
      <tr>
        <td background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top">&nbsp;</td>
        <td><table border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_A7', 'hijos_A1')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/angulo+.jpg" border="0" align="absbottom"><img name="img_A7" src="../servlet/Tool?images/images_arbol_2/an.jpg" border="0" align="absbottom" ></a><font class="textoGrafico" >7)	“PTM”  admistrar cursos</font></td>
          </tr>
          <tr>
            <td><table id="hijos_A1" border="0" cellpadding="0" cellspacing="0" style="display:none" >
                <tr>
                  <td width="16" background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/blank.gif"></td>
                  <td>
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_A7', 'hijos_A1a')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen+.jpg" width="16" height="22" border="0" align="absbottom" ></a><span class="textoAgrupador"><a href="javascript:;" onClick="return exp_colap('img_A7', 'hijos_A1a')" class="textoNodo" ><img name="img_A7" src="../servlet/Tool?images/images_arbol_2/an.jpg" border="0" align="absbottom" ></a>CURSOS LIBRES </span></td>
                      </tr>
                  </table></td>
                </tr>
                <tr>
                  <td width="16" background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/blank.gif"></td>
                  <td>
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td nowrap ><table id="hijos_A1a" border="0" cellpadding="0" cellspacing="0" style="display:none" >
                          <tr>
                            <td width="16" background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td>
                              <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G53', 'hijos_G53')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico">Crear</span></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td width="16" background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td>
                              <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico">mantener</span></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td><table border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G53', 'hijos_G53')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico">eliminar</span></td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td><table border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G53', 'hijos_G53')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico">Clases</span></td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td><table border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G53', 'hijos_G53')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico">lecciones</span></td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td><table border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/angulo.jpg" width="16" height="22" border="0" align="absbottom" ></a><span class="textoGrafico">objetivos</span></td>
                              </tr>
                            </table></td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_A7', 'hijos_A1b')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen+.jpg" width="16" height="22" border="0" align="absbottom" ></a><span class="textoAgrupador"><a href="javascript:;" onClick="return exp_colap('img_A7', 'hijos_A1b')" class="textoNodo" ><img name="img_A7" src="../servlet/Tool?images/images_arbol_2/an.jpg" border="0" align="absbottom" ></a></span><span class="textoGrafico">moderador</span></td>
                      </tr>
                      <tr>
                        <td nowrap ><table id="hijos_A1b" border="0" cellpadding="0" cellspacing="0" style="display:none" >
                          <tr>
                            <td width="16" background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td>
                              <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G53', 'hijos_G53')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico">Crear moderador</span></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td width="16" background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td>
                              <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/angulo.jpg" width="16" height="22" border="0" align="absbottom" ></a><span class="textoGrafico">mantener moderador </span></td>
                                </tr>
                            </table></td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_A7', 'hijos_A1c')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen+.jpg" width="16" height="22" border="0" align="absbottom" ></a><span class="textoAgrupador"><a href="javascript:;" onClick="return exp_colap('img_A7', 'hijos_A1c')" class="textoNodo" ><img name="img_A7" src="../servlet/Tool?images/images_arbol_2/an.jpg" border="0" align="absbottom" ></a></span><span class="textoGrafico">ALUMNO</span></td>
                      </tr>
                      <tr>
                        <td nowrap ><table id="hijos_A1c" border="0" cellpadding="0" cellspacing="0" style="display:none" >
                          <tr>
                            <td width="16" background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td>
                              <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G53', 'hijos_G53')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico">Crear ALUMNO </span></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td width="16" background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td>
                              <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/angulo.jpg" width="16" height="22" border="0" align="absbottom" ></a><span class="textoGrafico">BUSCAR ALUMNO </span></td>
                                </tr>
                            </table></td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_A7', 'hijos_A1d')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen+.jpg" width="16" height="22" border="0" align="absbottom" ></a><span class="textoAgrupador"><a href="javascript:;" onClick="return exp_colap('img_A7', 'hijos_A1d')" class="textoNodo" ><img name="img_A7" src="../servlet/Tool?images/images_arbol_2/an.jpg" border="0" align="absbottom" ></a></span><span class="textoGrafico">USUARIO</span></td>
                      </tr>
                      <tr>
                        <td nowrap ><table id="hijos_A1d" border="0" cellpadding="0" cellspacing="0" style="display:none" >
                          <tr>
                            <td width="16" background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td>
                              <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G53', 'hijos_G53')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico">Crear USUARIO </span></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td width="16" background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td>
                              <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/angulo.jpg" width="16" height="22" border="0" align="absbottom" ></a><span class="textoGrafico">BUSCAR USUARIO</span></td>
                                </tr>
                            </table></td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_A7', 'hijos_A1e')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen+.jpg" width="16" height="22" border="0" align="absbottom" ></a><span class="textoAgrupador"><a href="javascript:;" onClick="return exp_colap('img_A7', 'hijos_A1e')" class="textoNodo" ><img name="img_A7" src="../servlet/Tool?images/images_arbol_2/an.jpg" border="0" align="absbottom" ></a></span><span class="textoGrafico">MALLAS DE COMPETENCIAS</span> </td>
                      </tr>
                      <tr>
                        <td nowrap ><table id="hijos_A1e" border="0" cellpadding="0" cellspacing="0" style="display:none" >
                          <tr>
                            <td width="16" background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td>
                              <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G53', 'hijos_G53')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico">Crear</span></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td width="16" background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td>
                              <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico">MANTENER</span></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td><table border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico">ELIMINAR</span></td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td><table border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico">DIAGRAMA</span></td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td><table border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico">ASIGNACI&Oacute;N COMPETENCIAS</span></td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td><table border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico">CURSOS</span></td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td><table border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/angulo.jpg" width="16" height="22" border="0" align="absbottom" ></a><span class="textoGrafico">DIAGRAMA COMPETENCIAS </span></td>
                              </tr>
                            </table></td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_A7', 'hijos_A1f')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen+.jpg" width="16" height="22" border="0" align="absbottom" ></a><span class="textoAgrupador"><a href="javascript:;" onClick="return exp_colap('img_A7', 'hijos_A1f')" class="textoNodo" ><img name="img_A7" src="../servlet/Tool?images/images_arbol_2/an.jpg" border="0" align="absbottom" ></a>INFORMES</span></td>
                      </tr>
                      <tr>
                        <td nowrap ><table id="hijos_A1f" border="0" cellpadding="0" cellspacing="0" style="display:none" >
                          <tr>
                            <td width="16" background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td>
                              <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G53', 'hijos_G53')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico"><strong>Por Cursos</strong></span></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td width="16" background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td>
                              <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico"><strong>Por mallas</strong></span></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td><table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico"><strong>Por Cargos</strong></span></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td><table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/av.jpg" width="24" height="22" border="0" align="absbottom" ></a><span class="textoGrafico"><strong>Tipos de informes</strong></span></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td><table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico"><strong>Estad&iacute;sticas del curso</strong></span></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td><table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico"><strong>Detalles del curso</strong></span></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td><table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico"><strong>Detalle centro Costo/Clase </strong></span></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td><table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico"><strong>Detalle Clase/OBJETIVOS </strong></span></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td><table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico"><strong>Detalle DE TEST </strong></span></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td><table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico"><strong>Detalle DE MODERADOR </strong></span></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td><table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico"><strong>Detalle DE ALUMNOS </strong></span></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td><table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico"><strong>Detalle DE PERFILES </strong></span></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td><table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico"><strong>RESUMEN DIARIO </strong></span></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td><table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico"><strong>RESUMEN DIARIO POR CLASE </strong></span></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td><table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico"><strong>INFORME INGRESOS/CONCURRENCIAS </strong></span></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td><table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/angulo.jpg" width="16" height="22" border="0" align="absbottom" ></a><strong class="textoGrafico">INFORME INGRESOS/CONCURRENCIAS DIARIA </strong></td>
                                </tr>
                            </table></td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_A7', 'hijos_A1g')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen+.jpg" width="16" height="22" border="0" align="absbottom" ></a><span class="textoAgrupador"><a href="javascript:;" onClick="return exp_colap('img_A7', 'hijos_A1g')" class="textoNodo" ><img name="img_A7" src="../servlet/Tool?images/images_arbol_2/an.jpg" border="0" align="absbottom" ></a></span><strong class="textoGrafico">Perfiles y competencias </strong></td>
                      </tr>
                      <tr>
                        <td nowrap ><table id="hijos_A1g" border="0" cellpadding="0" cellspacing="0" style="display:none" >
                          <tr>
                            <td width="16" background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td>
                              <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G53', 'hijos_G53')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico"><strong>Crear </strong></span></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td width="16" background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td>
                              <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico"><strong>MANTENER</strong></span></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td><table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico"><strong>ELIMINAR</strong></span></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td><table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/angulo.jpg" width="16" height="22" border="0" align="absbottom" ></a><span class="textoGrafico"><strong>ASIGNACION COMPETENCIAS </strong></span></td>
                                </tr>
                            </table></td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_A7', 'hijos_A1h')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen+.jpg" width="16" height="22" border="0" align="absbottom" ></a><span class="textoAgrupador"><a href="javascript:;" onClick="return exp_colap('img_A7', 'hijos_A1h')" class="textoNodo" ><img name="img_A7" src="../servlet/Tool?images/images_arbol_2/an.jpg" border="0" align="absbottom" ></a></span><span class="textoGrafico"><strong>RECURSOS</strong></span></td>
                      </tr>
                      <tr>
                        <td nowrap ><table id="hijos_A1h" border="0" cellpadding="0" cellspacing="0" style="display:none" >
                          <tr>
                            <td width="16" background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td>
                              <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G53', 'hijos_G53')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico"><strong>RECURSOS DEL ALUMNO </strong></span></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td width="16" background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td>
                              <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico"><strong>BIBLIOTECA VIRTUAL </strong></span></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td><table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico"><strong>ASIGNAR MATERIALES </strong></span></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/vertical.jpg" width="16" height="22"></td>
                            <td><table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/angulo.jpg" width="16" height="22" border="0" align="absbottom" ></a><span class="textoGrafico"><strong>PREFERENCIAS</strong></span></td>
                                </tr>
                            </table></td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_A7', 'hijos_A1i')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/angulo+.jpg" width="16" height="22" border="0" align="absbottom" ></a><span class="textoAgrupador"><a href="javascript:;" onClick="return exp_colap('img_A7', 'hijos_A1i')" class="textoNodo" ><img name="img_A7" src="../servlet/Tool?images/images_arbol_2/an.jpg" border="0" align="absbottom" ></a></span><span class="textoGrafico"><strong>MANTENEDORES</strong></span></td>
                      </tr>
                      <tr>
                        <td nowrap ><table id="hijos_A1i" border="0" cellpadding="0" cellspacing="0" style="display:none" >
                          <tr>
                            <td width="16" background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/blank.gif" width="16" height="22"></td>
                            <td>
                              <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G53', 'hijos_G53')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico"><strong>POR &Aacute;REA </strong></span></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td width="16" background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/blank.gif" width="16" height="22"></td>
                            <td>
                              <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico"><strong>POR CARGO </strong></span></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/blank.gif" width="16" height="22"></td>
                            <td><table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico"><strong>POR CENTRO COSTO</strong></span></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/blank.gif" width="16" height="22"></td>
                            <td><table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico"><strong>PROFESI&Oacute;N</strong></span></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/blank.gif" width="16" height="22"></td>
                            <td><table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/perpen.jpg" border="0" align="absbottom" ></a><span class="textoGrafico"><strong>CREAR</strong></span></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td background="../servlet/Tool?images/images_arbol_2/blank.gif" valign="top"><img src="../servlet/Tool?images/images_arbol_2/blank.gif" width="16" height="22"></td>
                            <td><table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td nowrap ><a href="javascript:;" onClick="return exp_colap('img_G54', 'hijos_G54')" class="textoNodo" ><img src="../servlet/Tool?images/images_arbol_2/angulo.jpg" width="16" height="22" border="0" align="absbottom" ></a><span class="textoGrafico"><strong>MANTENER</strong></span></td>
                                </tr>
                            </table></td>
                          </tr>
                        </table></td>
                      </tr>
                  </table></td>
                </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
</table></td></tr></table>
</body></html>
