<HTML>
<HEAD>
<TITLE>Reporte</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<if !xls>
<link href="../servlet/Tool?style/gestion.css" rel="stylesheet" type="text/css">
</if>
<SCRIPT LANGUAGE="JavaScript" src="../servlet/Tool?scripts/lib/imprimir.js"></script>
<script language="JavaScript">
<!--
function Imprimir() {
	Layer1.style.visibility="hidden";
    printPage();
    Layer1.style.visibility="visible";
}
function Excel() {
	document.frm1.submit();   
}
//-->
</script>
</HEAD>
<BODY oncontextmenu="return false" onkeydown="return false">

<if !xls>
<div id="Layer1" style="position:absolute; left:680px; top:5px; width:78px; height:38px; z-index:1">
<table cellpadding="0" cellspacing="0" border="0"><tr>
<td><a href="#" onClick="Imprimir()"><img src="../servlet/Tool?images/new/botones/print.jpg" alt="IMPRIMIR" title="IMPRIMIR" name="Image1" width="80" height="20" border="0"></a></td>
<td><a href="#" onClick="Excel()"><img src="../servlet/Tool?images/new/botones/excel.jpg" alt="EXPORTAR" title="EXPORTAR" name="Image2" width="40" height="36" border="0"></a></td>
</tr></table>
</div>
</if>

<form name="frm1" method="post" action"../servlet/ReportesOrganica">
<input type="hidden" name="unidad" value="${unidad}">
<input type="hidden" name="recursivo" value="${recursivo}">
<input type="hidden" name="empresa" value="${empresa}">
<input type="hidden" name="excel" value="1">
<input type="hidden" name="tipo" value="DFI">

<!-- CONTRATO PLAZO FIJO -->
<table width="100%">
<tr><td colspan="8"><br><br></td></tr>
<tr><td colspan="8" align="center" class="tabla_beige"><h3>INFORME TOTAL HABERES POR TIPO CONTRATO :: ${nomUnidadF}</h3></td></tr>
<tr><td colspan="8"><br></td></tr>
<tr><td colspan="8" class="tabla_beige"><h4>&nbsp;&nbsp;CONTRATO PLAZO FIJO</h4></td></tr>
<if lunidadesF>
<list lunidadesF as u>
<if u.mensajeF>
<else>
<tr><td colspan="8">
<table width="100%"><tr>
<td class="tabla_beige" width="20%">C&#243;digo Unidad : ${u.uidF}</td>
<td class="tabla_beige" width="80%">Nombre Unidad : ${u.udescF}</td>
</tr></table>
</td></tr>
<tr><td class="textoInforme" align="center">R.u.t</td><td class="textoInforme" align="center">Nombre</td><td class="textoInforme" align="center">Cod.Cargo</td><td class="textoInforme" align="center">Desc.Cargo</td><td class="textoInforme" align="center">Fec.Ingreso</td><td class="textoInforme" align="center">Fec.T&#233;rmino Contrato</td><td colspan="2" class="textoInforme" align="center">Haberes</td></tr>
<list u.lpersonaF as p>
<tr><td class="textoInforme">${p.rutF}-${p.digitoF}</td><td class="textoInforme">${p.nombreF}</td><td class="textoInforme" align="center">${p.ccargoF}</td><td class="textoInforme">${p.dcargoF}</td><td class="textoInforme" align="center">${p.fecingF}</td><td class="textoInforme" align="center">${p.fecterF}</td><td class="textoInforme" align="right">$ </td><td class="textoInforme" align="right">${p.haberesF}</td></tr>
</list>
<tr><td colspan="8">
<table width="100%">
<tr>
<td class="textoInforme" align="right">Nro.Trabajadores Plazo Fijo</td><td class="textoInforme">: ${u.tpersonasCFF}</td>
<td class="textoInforme" align="right">Total Trabajadores</td><td class="textoInforme">: ${u.tpersonasUF}</td>
<td class="textoInforme" align="right">Total Haberes Unidad</td><td class="textoInforme">: $ ${u.thaberesF}</td>
</tr>
</table>
</td></tr>
</if>
</list>
<tr><td class="textoInforme" colspan="8">&nbsp;</td></tr>
<tr><td colspan="8">
<table width="100%">
<tr>
<td class="tabla_nara" align="center"><b>Nro.Trabajadores Plazo Fijo Area :<br> ${tpersonasCFAF}</b></td>
<td class="tabla_nara" align="center"><b>Total Trabajadores Area :<br> ${tpersonasAF}</b></td>
<td class="tabla_nara" align="center"><b>Total Haberes Area :<br> $ ${thaberesareaF}</b></td>
</tr>
</table>
</td></tr>
</if>
</table>

<!-- CONTRATO INDEFINIDO -->
<table width="100%">
<tr><td colspan="8"><br><br></td></tr>
<tr><td colspan="8" class="tabla_beige"><h4>&nbsp;&nbsp;CONTRATO PLAZO INDEFINIDO</h4></td></tr>
<if lunidadesI>
<list lunidadesI as u>
<if u.mensajeI>
<else>
<tr><td colspan="8">
<table width="100%"><tr>
<td class="tabla_beige" width="20%">C&#243;digo Unidad : ${u.uidI}</td>
<td class="tabla_beige" width="80%">Nombre Unidad : ${u.udescI}</td>
</tr></table>
</td></tr>
<tr><td class="textoInforme" align="center">R.u.t</td><td class="textoInforme" align="center">Nombre</td><td class="textoInforme" align="center">Cod.Cargo</td><td class="textoInforme" align="center">Desc.Cargo</td><td class="textoInforme" align="center">Fec.Ingreso</td><td class="textoInforme" align="center">Fec.T&#233;rmino Contrato</td><td colspan="2" class="textoInforme" align="center">Haberes</td></tr>
<list u.lpersonaI as p>
<tr><td class="textoInforme">${p.rutI}-${p.digitoI}</td><td class="textoInforme">${p.nombreI}</td><td class="textoInforme" align="center">${p.ccargoI}</td><td class="textoInforme">${p.dcargoI}</td><td class="textoInforme" align="center">${p.fecingI}</td><td class="textoInforme" align="center">${p.fecterI}</td><td class="textoInforme" align="right">$ </td><td class="textoInforme" align="right">${p.haberesI}</td></tr>
</list>
<tr><td colspan="8">
<table width="100%">
<tr>
<td class="textoInforme" align="right">Nro.Trabajadores Contrato Indefinido</td><td class="textoInforme">: ${u.tpersonasCII}</td>
<td class="textoInforme" align="right">Total Trabajadores</td><td class="textoInforme">: ${u.tpersonasUI}</td>
<td class="textoInforme" align="right">Total Haberes Unidad</td><td class="textoInforme">: $ ${u.thaberesI}</td>
</tr>
</table>
</td></tr>
</if>
</list>
<tr><td class="textoInforme" colspan="8">&nbsp;</td></tr>
<tr><td colspan="8">
<table width="100%">
<tr>
<td class="tabla_nara" align="center"><b>Nro.Trabajadores Contrato Indefinido Area :<br> ${tpersonasCIAI}</b></td>
<td class="tabla_nara" align="center"><b>Total Trabajadores Area :<br> ${tpersonasAI}</b></td>
<td class="tabla_nara" align="center"><b>Total Haberes Area :<br> $ ${thaberesareaI}</b></td>
</tr>
</table>
</td></tr>
</if>
</table>
</form>
</BODY>
</HTML>