<HTML>
<HEAD>
<TITLE>Reporte</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<if !xls>
<link href="../servlet/Tool?style/gestion.css" rel="stylesheet" type="text/css">
</if>
<SCRIPT LANGUAGE="JavaScript" src="../servlet/Tool?scripts/lib/imprimir.js"></script>
<script language="JavaScript">
<!--
function Imprimir() {
	Layer1.style.visibility="hidden";
    printPage();
    Layer1.style.visibility="visible";
}
function Excel() {
	document.frm1.submit();   
}
//-->
</script>
</HEAD>
<BODY oncontextmenu="return false" onkeydown="return false">

<if !xls>
<div id="Layer1" style="position:absolute; left:680px; top:5px; width:78px; height:38px; z-index:1">
<table cellpadding="0" cellspacing="0" border="0"><tr>
<td><a href="#" onClick="Imprimir()"><img src="../servlet/Tool?images/new/botones/print.jpg" alt="IMPRIMIR" title="IMPRIMIR" name="Image1" width="80" height="20" border="0"></a></td>
<td><a href="#" onClick="Excel()"><img src="../servlet/Tool?images/new/botones/excel.jpg" alt="EXPORTAR" title="EXPORTAR" name="Image2" width="40" height="36" border="0"></a></td>
</tr></table>
</div>
</if>

<form name="frm1" method="post" action"../servlet/ReportesOrganica">
<input type="hidden" name="unidad" value="${unidad}">
<input type="hidden" name="recursivo" value="${recursivo}">
<input type="hidden" name="empresa" value="${empresa}">
<input type="hidden" name="excel" value="1">
<input type="hidden" name="tipo" value="LICMED">

<table width="100%">
<tr><td colspan="10"><br><br></td></tr>
<tr><td colspan="10" align="center" class="tabla_beige"><h3>INFORME DE LICENCIAS MEDICAS Y ACCIDENTE DE TRABAJADORES :: ${nomUnidad}</h3>Mes ${mes} de ${anho}</td></tr>
<tr><td colspan="10"><br></td></tr>
<tr>
<td class="tabla_beige" valign="top" align="center" colspan="2" rowspan="2">Global</td>
<td class="tabla_beige" valign="top" align="center" colspan="3">Mes</td>
<td class="tabla_beige" valign="top" align="center" rowspan="2">Indice Lic.<br>Nro. D&iacute;as Lic./D&iacute;as Totales</td>
<td class="tabla_beige" valign="top" align="center" colspan="3">Acumulado</td>
<td class="tabla_beige" valign="top" align="center" rowspan="2">Indice Lic.<br>Nro. D&iacute;as Lic./D&iacute;as Totales</td>
</tr>
<tr>
<td class="tabla_beige" valign="top" align="center">Nro. Licencias M&eacute;dicas</td>
<td class="tabla_beige" valign="top" align="center">Nro. Trab. con Lic.M&eacute;d.</td>
<td class="tabla_beige" valign="top" align="center">Nro. D&iacute;as con Lic.M&eacute;d.</td>
<td class="tabla_beige" valign="top" align="center">Nro. Licencias M&eacute;dicas</td>
<td class="tabla_beige" valign="top" align="center">Nro. Trab. con Lic.M&eacute;d.</td>
<td class="tabla_beige" valign="top" align="center">Nro. D&iacute;as con Lic.M&eacute;d.</td>
</tr>
<tr>
<td class="textoInforme" colspan="2"><strong>TOTALES</strong></td>
<td class="textoInforme" align="center"><strong>${nrolictotal}</strong></td>
<td class="textoInforme" align="center"><strong>${nrotrablictotal}</strong></td>
<td class="textoInforme" align="center"><strong>${nrodiaslictotal}</strong></td>
<td class="textoInforme" align="center"><strong>??</strong></td>
<td class="textoInforme" align="right"><strong>${nrolicAcumtotal}</strong></td>
<td class="textoInforme" align="right"><strong>${nrotrablicAcumtotal}</strong></td>
<td class="textoInforme" align="right"><strong>${nrodiaslicAcumtotal}</strong></td>
<td class="textoInforme" align="center"><strong>??</strong></td>
</tr>
<tr><td colspan="11"><br></td></tr>
<tr>
<td class="tabla_beige" valign="top" align="center" colspan="2" rowspan="2">Unidad</td>
<td class="tabla_beige" valign="top" align="center" colspan="3">Mes</td>
<td class="tabla_beige" valign="top" align="center" rowspan="2">Indice Lic.<br>Nro. D&iacute;as Lic./D&iacute;as Totales</td>
<td class="tabla_beige" valign="top" align="center" colspan="3">Acumulado</td>
<td class="tabla_beige" valign="top" align="center" rowspan="2">Indice Lic.<br>Nro. D&iacute;as Lic./D&iacute;as Totales</td>
</tr>
<tr>
<td class="tabla_beige" valign="top" align="center">Nro. Licencias M&eacute;dicas</td>
<td class="tabla_beige" valign="top" align="center">Nro. Trab. con Lic.M&eacute;d.</td>
<td class="tabla_beige" valign="top" align="center">Nro. D&iacute;as con Lic.M&eacute;d.</td>
<td class="tabla_beige" valign="top" align="center">Nro. Licencias M&eacute;dicas</td>
<td class="tabla_beige" valign="top" align="center">Nro. Trab. con Lic.M&eacute;d.</td>
<td class="tabla_beige" valign="top" align="center">Nro. D&iacute;as con Lic.M&eacute;d.</td>
</tr>
<list lunidades as u>
<tr>
<td class="textoInforme" valign="top">${u.uid}</td>
<td class="textoInforme" valign="top">${u.udesc}</td>
<td class="textoInforme" align="right" valign="top">${u.u_nrolic}</td>
<td class="textoInforme" align="right" valign="top">${u.u_nrotrablic}</td>
<td class="textoInforme" align="right" valign="top">${u.u_nrodiaslic}</td>
<td class="textoInforme" align="right" valign="top">??</td>
<td class="textoInforme" align="right" valign="top">${u.u_nrolicAcum}</td>
<td class="textoInforme" align="right" valign="top">${u.u_nrotrablicAcum}</td>
<td class="textoInforme" align="right" valign="top">${u.u_nrodiaslicAcum}</td>
<td class="textoInforme" align="right" valign="top">??</td>
</tr>
</list>
<tr>
<td class="tabla_beige" align="right" colspan="2"><strong>TOTALES</strong></td>
<td class="tabla_beige" align="right"><strong>${nrolictotal}</strong></td>
<td class="tabla_beige" align="right"><strong>${nrotrablictotal}</strong></td>
<td class="tabla_beige" align="right"><strong>${nrodiaslictotal}</strong></td>
<td class="tabla_beige" align="right"><strong>??</strong></td>
<td class="tabla_beige" align="right"><strong>${nrolicAcumtotal}</strong></td>
<td class="tabla_beige" align="right"><strong>${nrotrablicAcumtotal}</strong></td>
<td class="tabla_beige" align="right"><strong>${nrodiaslicAcumtotal}</strong></td>
<td class="tabla_beige" align="right"><strong>??</strong></td>
</tr>
</table>
</form>
</BODY>
</HTML>