 <HTML>
<HEAD>
<TITLE>OrganicaCertif</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<script language="JavaScript">
<!--
function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
//-->
</script>
<script language="JavaScript" src="/Gestion/script/lib/manejar_listas.js">
</script>
<script language="JavaScript">
<!--
<!--
function CargaLista(ARREGLO){
	//alert(ARREGLO);
	listaLlenar(document.formOp.rutcomp,ARREGLO);
}

function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
// -->



function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.0
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && document.getElementById) x=document.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}

//-->
</script>
<!--<script language="JavaScript" src="/Gestion/script/selecciona_informe_arbol.js">
</script>-->
<script language="JavaScript" src="/Gestion/script/msgprocesando.js">
</script>
<link rel="stylesheet" href="/Gestion/Style/estilos.css" type="text/css">
<script language="JavaScript">
<!--
function Ejecuta(idEmp,idUni,nombre, tipo){
//	alert(idEmp + " " + idUni + " " + nombre + " " + tipo);
	if (tipo == "U") {
		document.form1.empresa.value=idEmp;
		document.form1.unidad.value=idUni;
		document.form1.descrip.value=nombre;
	}
	else {
		document.form1.empresa.value="";
		document.form1.unidad.value="";//la unidad insertada sera el padre de todas
		document.form1.descrip.value="";
		NoSeleccionarNodo();
		alert("Esta es una Empresa, debe seleccionar una Unidad");
	}
}

function Buscar(){
	var nombre="";
	var rut="";
	var paterno="";
	var materno="";
	var emp="";
	var uni="";
	//alert(eval("document.formOp.b_rut"));
	emp=document.form1.empresa.value;
	uni=document.form1.unidad.value;
	rut=document.formOp.brut.value;
	nombre=document.formOp.bnombre.value;
	paterno=document.formOp.bapate.value;
	materno=document.formOp.bamate.value;
	
	if(emp=="")
		alert("Seleccione la unidad");
	else {
		if ((nombre=="") && (rut=="") && (paterno=="") && (materno==""))
			alert("Ingrese par&#225;metros de busqueda.");
		else
			//alert(emp+"-"+uni+"-"+rut+"-"+nombre+"-"+paterno+"-"+materno)
			AbrirVentProcesandoBuscar(emp,uni,rut,nombre,paterno,materno)
		}		
	}

function VerRango(valor) { //v1.0
	MM_showHideLayers('LayerRangoNeto','','hide');
	MM_showHideLayers('LayerColabCargo','','hide');
	MM_showHideLayers('LayerColabNivel','','hide');
	
	if (valor.value == "_6")
		LayerRangoNeto.style.visibility = 'inherit';
		//MM_showHideLayers('LayerRangoNeto','','inherit');

	if ((valor.value == "_2") || (valor.value == "_4") || (valor.value == "_7"))
		LayerColabCargo.style.visibility = 'inherit';
		//MM_showHideLayers('LayerColabCargo','','inherit');
	
	if ((valor.value == "_3") || (valor.value == "_5"))
		LayerColabNivel.style.visibility = 'inherit';
		//MM_showHideLayers('LayerColabNivel','','inherit');	
		
}

function MM_showHideLayers() { //v3.0
  var i,p,v,obj,args=MM_showHideLayers.arguments;
  for (i=0; i<(args.length-2); i+=3) if ((obj=MM_findObj(args[i]))!=null) { v=args[i+2];
    if (obj.style) { obj=obj.style; v=(v=='show')?'visible':(v='hide')?'hidden':v; }
    obj.visibility=v; }
}

function validaNum(texto) {
	window.valido = false;
	if (texto.value == "") {
		texto.value = "0";
		window.valido = true;
	}
	else if (!isNaN(texto.value)) {
		n = parseInt(texto.value);
		if (n>=0) window.valido = true;
	}
	if (!window.valido) {
		alert('Valor incorrecto');
		texto.select();
		texto.focus();
	}
}
//-->
</script>
</HEAD>
<BODY BGCOLOR=#000000 leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="MM_preloadImages('/images/Gestion/botones/ver_over.jpg','/images/Gestion/botones/buscar_over.jpg')">
<table border=0 cellpadding=0 cellspacing=0 width="644" height="358">
  <tr> 
    <td width="614" height="4"> <img src="/images/Gestion/imagenes_main/main_bienvenida_01.jpg" width=614 height=4></td>
    <td colspan=2 rowspan=2> <img src="/images/Gestion/imagenes_main/main_bienvenida_02.jpg" width=29 height=22></td>
    <td width="1"> <img src="/images/Gestion/imagenes_main/espacio.gif" width=1 height=4></td>
  </tr>
  <tr> 
    <td valign="top" bgcolor="#FFA400" rowspan=8 width="614"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" height="350">
        <tr> 
          <td width="39%" rowspan="2" valign="top" align="left">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" height="350">
              <tr>
                <td height="227" valign="top" align="left"> 
                  <div id='LayerArbol' style='position:absolute; width:294px; height:316px; z-index:1;; left: 3; top: auto; overflow: auto; background-color: #FFFFFF; layer-background-color: #FFFFFF; ; visibility: visible' class="carpetaUn"> 
                    <if (Control("df_jer_comp"))> ${TraeArbol()} <else> ${TraeArbol(unidad, 
                    empresa)} </if> </div>
                </td>
              </tr>
              <tr><form name="form1" method="post" action="">
                <td valign="bottom"> 
                  
                    <input type="hidden" name="empresa">
                    <input type="hidden" name="unidad">
                    <input type="hidden" name="descrip">
                    <input type="hidden" name="cual">
                    <input type="hidden" name="criterio">
                    <input type="hidden" name="peri_ano">
                    <input type="hidden" name="peri_mes">
                    <input type="hidden" name="fecha_desde">
                    <input type="hidden" name="fecha_hasta">
                    <input type="hidden" name="renta_desde">
                    <input type="hidden" name="renta_hasta">
                    <input type="hidden" name="tipo_renta">
                    
					<input type="hidden" name="peri_remu" value="${peri_remu}">
                    <div id = "opcionUR" ><span class="negro12B"> Informe para</span> 
                      <span class="negro12N"><br>
                    <input type="radio" name="tipo" value="U" checked>
                    Unidad 
                    <input type="radio" name="tipo" value="R">
                    Rama</span> </div></td>
                </form>
              </tr>
            </table>
          </td>
          <td height="322" colspan="2" valign="top" align="right"> 
            <form name="formOp" method="post" action="">
              <input type="hidden" name="rut_user" value="${rut_user}">
              <input type="hidden" name="filtro_adic" value = "${filtro_adic}">
              <div id="LayerRut" style="position:absolute; width:615px; height:296px; z-index:2; left: 10px; top: 2px; visibility: hidden"> 
                <table width="96%" border="0" height="304">
                  <tr> 
                    <td valign="top" align="left" bgcolor="#FFCF75"> 
                      <table width="100%" border="0" bgcolor="#FFA400">
                        <tr bgcolor="#FFCF75"> 
                          <td height="9" class="negro10B" colspan="5"> 
                            <div align="center" class="negro12B">Busque Empleado</div>
                          </td>
                        </tr>
                        <tr> 
                          <td height="9" width="34%" class="negro10B">Apellido 
                            Paterno</td>
                          <td height="9" width="37%" class="negro10B">Apellido 
                            Materno</td>
                          <td height="9" width="29%" class="negro10B">Nombre</td>
                          <td height="9" width="29%" class="negro10B">Rut</td>
                        </tr>
                        <tr align="left"> 
                          <td height="29" width="34%" class="negro10N"> 
                            <input type="text" name="bapate" size="12">
                          </td>
                          <td height="29" width="37%" class="negro10N"> 
                            <input type="text" name="bamate" size="12">
                          </td>
                          <td height="29" width="29%" class="negro10N"> 
                            <input type="text" name="bnombre" size="12">
                          </td>
                          <td height="29" width="29%" class="negro10N">
                            <input type="text" name="brut" size="10">
                          </td>
                        </tr>
                        <tr align="right"> 
                          <td height="14" colspan="5"><span class="negro10B"> 
                            </span> 
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                              <tr> 
                                <td class="negro10B" width="62%" align="right">&nbsp; 
                                </td>
                                <td align="right" width="38%"> <a href="#" onclick="Buscar();return false;"><img src="/images/Gestion/botones/buscar_up.jpg" width="108" height="27" name="Image1" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image1','','/images/Gestion/botones/buscar_over.jpg',1)" border="0"></a></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                      <table width="100%" border="1" cellpadding="0" cellspacing="0">
                        <tr> 
                          <td bgcolor="#FF6600" class="negro10B" width="159">Nombres</td>
                        </tr>
                      </table>
                      <select name="rutcomp" size="10" style="width=300">
                      </select>
                    </td>
                  </tr>
                </table>
              </div>
              <div id="LayerPeri" style="position:absolute; width:327px; height:54px; z-index:2; left: 298px; top: 25px; visibility: hidden"> 
                <table width="100%" border="1" cellspacing="0" cellpadding="0">
                  <tr> 
                    <td> 
                      <table width="100%">
                        <tr align="center"> 
                          <td colspan="4"> 
                            <div align="left"><font face="Arial, Helvetica, sans-serif" size="2"><b><i>Periodo</i></b></font></div>
                          </td>
                        </tr>
                        <tr> 
                          <td width="48"><font size="1" face="Arial, Helvetica, sans-serif">A&ntilde;o</font></td>
                          <td width="251"> 
                            <select name="peri_ano" class="listas">
                              <option value="1990">1990</option>
                              <option value="1991">1991</option>
                              <option value="1992">1992</option>
                              <option value="1993">1993</option>
                              <option value="1994">1994</option>
                              <option value="1995">1995</option>
                              <option value="1996">1996</option>
                              <option value="1997">1997</option>
                              <option value="1998">1998</option>
                              <option value="1999">1999</option>
                              <option value="2000">2000</option>
                              <option value="2001" selected>2001</option>
                              <option value="2002">2002</option>
                              <option value="2003">2003</option>
                              <option value="2004">2004</option>
                              <option value="2005">2005</option>
                              <option value="2006">2006</option>
                              <option value="2007">2007</option>
                              <option value="2008">2008</option>
                              <option value="2009">2009</option>
                              <option value="2010">2010</option>
                            </select>
                          </td>
                          <td width="48"><font size="1" face="Arial, Helvetica, sans-serif">Mes</font></td>
                          <td width="251"> 
                            <select name=peri_mes size=1 class="listas">
                              <option value="01" selected>Enero</option>
                              <option value="02">Febrero</option>
                              <option value="03">Marzo</option>
                              <option value="04">Abril</option>
                              <option value="05">Mayo</option>
                              <option value="06">Junio</option>
                              <option value="07">Julio</option>
                              <option value="08">Agosto</option>
                              <option value="09">Septiembre</option>
                              <option value="10">Octubre</option>
                              <option value="11">Noviembre</option>
                              <option value="12">Diciembre</option>
                            </select>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
              <div id="LayerRango" style="position:absolute; width:327px; height:54px; z-index:2; left: 298px; top: 25px; visibility: hidden"> 
                <table width="100%" border="1" cellspacing="0" cellpadding="0">
                  <tr> 
                    <td> 
                      <table width="100%">
                        <tr align="center"> 
                          <td colspan="2"> 
                            <div align="left"><font face="Arial, Helvetica, sans-serif" size="2"><b><i>Rangos 
                              de Fechas</i></b></font></div>
                          </td>
                        </tr>
                        <tr> 
                          <td width="48"><font size="1" face="Arial, Helvetica, sans-serif">Desde</font></td>
                          <td width="251"> 
                            <select name=d_dia size=1 class="listas">
                              <option 
              selected value=1>1</option>
                              <option value=2>2</option>
                              <option 
              value=3>3</option>
                              <option value=4>4</option>
                              <option 
              value=5>5</option>
                              <option value=6>6</option>
                              <option 
              value=7>7</option>
                              <option value=8>8</option>
                              <option 
              value=9>9</option>
                              <option value=10>10</option>
                              <option 
              value=11>11</option>
                              <option value=12>12</option>
                              <option 
              value=13>13</option>
                              <option value=14>14</option>
                              <option 
              value=15>15</option>
                              <option value=16>16</option>
                              <option 
              value=17>17</option>
                              <option value=18>18</option>
                              <option 
              value=19>19</option>
                              <option value=20>20</option>
                              <option 
              value=21>21</option>
                              <option value=22>22</option>
                              <option 
              value=23>23</option>
                              <option value=24>24</option>
                              <option 
              value=25>25</option>
                              <option value=26>26</option>
                              <option 
              value=27>27</option>
                              <option value=28>28</option>
                              <option 
              value=29>29</option>
                              <option value=30>30</option>
                              <option 
              value=31>31</option>
                            </select>
                            <select name=d_mes size=1 class="listas">
                              <option 
              selected value=1>Enero</option>
                              <option value=2>Febrero</option>
                              <option value=3>Marzo</option>
                              <option value=4>Abril</option>
                              <option value=5>Mayo</option>
                              <option value=6>Junio</option>
                              <option value=7>Julio</option>
                              <option value=8>Agosto</option>
                              <option value=9>Septiembre</option>
                              <option 
              value=10>Octubre</option>
                              <option value=11>Noviembre</option>
                              <option value=12>Diciembre</option>
                            </select>
                            <select name="d_ano" class="listas">
                              <option value="1990">1990</option>
                              <option value="1991">1991</option>
                              <option value="1992">1992</option>
                              <option value="1993">1993</option>
                              <option value="1994">1994</option>
                              <option value="1995">1995</option>
                              <option value="1996">1996</option>
                              <option value="1997">1997</option>
                              <option value="1998">1998</option>
                              <option value="1999">1999</option>
                              <option value="2000">2000</option>
                              <option value="2001" selected>2001</option>
                              <option value="2002">2002</option>
                              <option value="2003">2003</option>
                              <option value="2004">2004</option>
                              <option value="2005">2005</option>
                              <option value="2006">2006</option>
                              <option value="2007">2007</option>
                              <option value="2008">2008</option>
                              <option value="2009">2009</option>
                              <option value="2010">2010</option>
                            </select>
                          </td>
                        </tr>
                        <tr> 
                          <td width="48"><font size="1" face="Arial, Helvetica, sans-serif">Hasta</font></td>
                          <td width="251"> 
                            <select name=h_dia size=1 class="listas">
                              <option 
              selected value=1>1</option>
                              <option value=2>2</option>
                              <option 
              value=3>3</option>
                              <option value=4>4</option>
                              <option 
              value=5>5</option>
                              <option value=6>6</option>
                              <option 
              value=7>7</option>
                              <option value=8>8</option>
                              <option 
              value=9>9</option>
                              <option value=10>10</option>
                              <option 
              value=11>11</option>
                              <option value=12>12</option>
                              <option 
              value=13>13</option>
                              <option value=14>14</option>
                              <option 
              value=15>15</option>
                              <option value=16>16</option>
                              <option 
              value=17>17</option>
                              <option value=18>18</option>
                              <option 
              value=19>19</option>
                              <option value=20>20</option>
                              <option 
              value=21>21</option>
                              <option value=22>22</option>
                              <option 
              value=23>23</option>
                              <option value=24>24</option>
                              <option 
              value=25>25</option>
                              <option value=26>26</option>
                              <option 
              value=27>27</option>
                              <option value=28>28</option>
                              <option 
              value=29>29</option>
                              <option value=30>30</option>
                              <option 
              value=31>31</option>
                            </select>
                            <select name=h_mes size=1 class="listas">
                              <option 
              selected value=1>Enero</option>
                              <option value=2>Febrero</option>
                              <option value=3>Marzo</option>
                              <option value=4>Abril</option>
                              <option value=5>Mayo</option>
                              <option value=6>Junio</option>
                              <option value=7>Julio</option>
                              <option value=8>Agosto</option>
                              <option value=9>Septiembre</option>
                              <option 
              value=10>Octubre</option>
                              <option value=11>Noviembre</option>
                              <option value=12>Diciembre</option>
                            </select>
                            <select name="h_ano" class="listas">
                              <option value="1990">1990</option>
                              <option value="1991">1991</option>
                              <option value="1992">1992</option>
                              <option value="1993">1993</option>
                              <option value="1994">1994</option>
                              <option value="1995">1995</option>
                              <option value="1996">1996</option>
                              <option value="1997">1997</option>
                              <option value="1998">1998</option>
                              <option value="1999">1999</option>
                              <option value="2000">2000</option>
                              <option value="2001" selected>2001</option>
                              <option value="2002">2002</option>
                              <option value="2003">2003</option>
                              <option value="2004">2004</option>
                              <option value="2005">2005</option>
                              <option value="2006">2006</option>
                              <option value="2007">2007</option>
                              <option value="2008">2008</option>
                              <option value="2009">2009</option>
                              <option value="2010">2010</option>
                            </select>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
              <div id="LayerINFU009" style="position:absolute; width:327px; height:54px; z-index:2; left: 298px; top: 120px; visibility: hidden"> 
                <table width="100%" border="1" cellspacing="0" cellpadding="0">
                  <tr> 
                    <td> 
                      <table width="100%">
                        <tr align="center"> 
                          <td> 
                            <div align="left"><font face="Arial, Helvetica, sans-serif" size="2"><b><i>Opciones 
                              de Selecci&oacute;n</i></b></font></div>
                          </td>
                        </tr>
                        <tr> 
                          <td width="48"> 
                            <select name=opcionINFU009 size=1 class="listas">
                              <option value="_1">Todos los Traslados</option>
                              <option value="_2">Cambios de Unidad</option>
                              <option value="_3">Cambios de Cargo</option>
                            </select>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
              <div id="LayerINFU007" style="position:absolute; width:327px; height:54px; z-index:2; left: 298px; top: 120px; visibility: hidden"> 
                <table width="100%" border="1" cellspacing="0" cellpadding="0">
                  <tr> 
                    <td>
                      <table width="100%">
                        <tr align="center"> 
                          <td colspan="2" height="18"> 
                            <div align="left"><font face="Arial, Helvetica, sans-serif" size="2"><b><i>Opciones 
                              de Selecci&oacute;n</i></b></font></div>
                          </td>
                        </tr>
                        <tr> 
                          <td colspan="2" height="22"> <font face="Arial, Helvetica, sans-serif" size="1"> 
                            <input type="radio" name="opcion" value="T" checked>
                            Todos los retirados</font><font face="Arial, Helvetica, sans-serif" size="1"></font></td>
                        </tr>
                        <tr> 
                          <td valign="top" height="22"> <font face="Arial, Helvetica, sans-serif" size="1"> 
                            <input type="radio" name="opcion" value="sexo">
                            Sexo</font> </td>
                          <td width="296" valign="top"> 
                            <select name="sexo" class="listas">
                              <option value="-1" selected>Seleccione Sexo...</option>
                              <option value="M">Masculino</option>
                              <option value="F">Femenino</option>
                            </select>
                          </td>
                        </tr>
                        <tr> 
                          <td colspan="2" height="22"> <font face="Arial, Helvetica, sans-serif" size="1"> 
                            <input type="radio" name="opcion" value="motivo_id">
                            Motivo de Retiro</font> </td>
                        </tr>
                        <tr align="center"> 
                          <td height="21" colspan="2"> 
                            <select name="motivo_id" class="listas" style="width: 300px" >
                              <if (motivos)> 
                              <option value="-1" selected>Seleccione Moltivo...</option>
                              <list motivos as m> 
                              <option value="${m.id}">${m.des}</option>
                              </list> <else> 
                              <option value="-1" selected>No registra Moltivos...</option>
                              </if> 
                            </select>
                          </td>
                        </tr>
                        <tr> 
                          <td colspan="2" height="22"> <font face="Arial, Helvetica, sans-serif" size="1"> 
                            <input type="radio" name="opcion" value="carg_id">
                            Cargo</font> </td>
                        </tr>
                        <tr align="center"> 
                          <td height="21" colspan="2"> 
                            <select name="carg_id" class="listas" style="width: 300px">
                              <if (cargos)> 
                              <option value="-1" selected>Seleccione Cargo...</option>
                              <list cargos as c> 
                              <option value="${c.id}">(${c.id}) ${c.des}</option>
                              </list> <else> 
                              <option value="-1" selected>No registra Cargos...</option>
                              </if> 
                            </select>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
              <div id="LayerINFU001" style="position:absolute; width:327px; height:54px; z-index:2; left: 298px; top: 120px; visibility: hidden"> 
                <table width="100%" border="1" cellspacing="0" cellpadding="0">
                  <tr> 
                    <td> 
                      <table width="100%">
                        <tr align="center"> 
                          <td> 
                            <div align="left"><font face="Arial, Helvetica, sans-serif" size="2"><b><i>Opciones 
                              de Selecci&oacute;n</i></b></font></div>
                          </td>
                        </tr>
                        <tr> 
                          <td width="48"> 
                            <select name=opcionINFU001 size=1 class="listas">
                              <option value="_1">Unidad Sobredotaci&oacute;n/Vacantes</option>
                              <option value="_2">Unidad Sobredotaci&oacute;n</option>
                              <option value="_3">Unidad Vacantes</option>
                            </select>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
              <div id="LayerINFU012" style="position:absolute; width:327px; height:202px; z-index:2; left: 298px; top: 25px; visibility: hidden"> 
                <table width="100%" border="1" cellspacing="0" cellpadding="0" height="195">
                  <tr> 
                    <td valign="top"> 
                      <table width="100%">
                        <tr align="center"> 
                          <td> 
                            <div align="left"><font face="Arial, Helvetica, sans-serif" size="2"><b><i>Opciones 
                              de Selecci&oacute;n</i></b></font> </div>
                          </td>
                        </tr>
                        <tr> 
                          <td width="48"> 
                            <select name=opcionINFU012 size=1 class="listas" onChange="VerRango(this)">
                              <option value="_1" selected>Informe por Unidad</option>
                              <option value="_2">Informe por Cargo - Detalle Personal</option>
                              <option value="_7">Informe por Cargo - Rentas Promedio</option>
                              <option value="_3">Informe por Nivel</option>
                              <option value="_4">Informe por Unidad/Cargo</option>
                              <option value="_5">Informe por Unidad/Nivel</option>
                              <option value="_6">Informe por Tipo de Renta</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td width="48"> 
                            <div id="LayerRangoNeto" style="position:absolute; left:auto; top:55px; width:312px; height:45px; z-index:4; visibility: hidden"> 
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr align="center" bgcolor="#FFCF75"> 
                                  <td colspan="2" class="negro12B"> 
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tr align="center"> 
                                        <td colspan="4" class="negro12B">Seleccione 
                                          Tipo de Renta</td>
                                      </tr>
                                      <tr> 
                                        <td width="31" class="negro12B"> 
                                          <input type="radio" name="radiobutton" value="nr">
                                        </td>
                                        <td width="126" class="negro12B">Neto 
                                          Regular</td>
                                        <td width="27" class="negro12B"> 
                                          <input type="radio" name="radiobutton" value="br">
                                        </td>
                                        <td width="216" class="negro12B">Bruto 
                                          Regular</td>
                                      </tr>
                                      <tr> 
                                        <td width="31" class="negro12B"> 
                                          <input type="radio" name="radiobutton" value="nz">
                                        </td>
                                        <td width="126" class="negro12B">Neto 
                                          Zona</td>
                                        <td width="27" class="negro12B"> 
                                          <input type="radio" name="radiobutton" value="bz">
                                        </td>
                                        <td width="216" class="negro12B">Bruto 
                                          Zona</td>
                                      </tr>
                                      <tr> 
                                        <td width="31" class="negro12B" height="2"> 
                                          <input type="radio" name="radiobutton" value="nt" checked>
                                        </td>
                                        <td width="126" class="negro12B" height="2">Neto 
                                          Total</td>
                                        <td width="27" class="negro12B" height="2"> 
                                          <input type="radio" name="radiobutton" value="bt">
                                        </td>
                                        <td width="216" class="negro12B" height="2">Bruto 
                                          Total</td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <tr> 
                                  <td width="166" align="right" class="negro12B">Neto 
                                    Desde</td>
                                  <td width="153"> 
                                    <input type="text" onBlur="validaNum(this)" name="netodesde" size="15" class="negro12B" value="0" align="right">
                                  </td>
                                </tr>
                                <tr> 
                                  <td width="166" align="right" class="negro12B">Neto 
                                    Hasta</td>
                                  <td width="153"> 
                                    <input type="text" onBlur="validaNum(this)"  name="netohasta" size="15" class="negro12B" value="1000000" align="right">
                                  </td>
                                </tr>
                              </table>
                              <br>
                            </div>
                            <div id="LayerColabCargo" style="position:absolute; width:314px; height:28px; z-index:5; left: auto; top: 55px; visibility: hidden"> 
                              <select name="colab_cargo" class="listas" style="width: 300px">
                                <if (cargos)> 
                                <option value="T" selected>Todos los Cargos</option>
                                <list cargos as c> 
                                <option value="${c.id}">${c.des} - (${c.id})</option>
                                </list> <else> 
                                <option value="-1" selected>No registra Cargos...</option>
                                </if> 
                              </select>
                            </div>
							<div id="LayerColabNivel" style="position:absolute; width:314px; height:28px; z-index:5; left: auto; top: 55px; visibility: hidden"> 
                              <select name="colab_nivel" class="listas" style="width: 300px">
                                <if (niveles)> 
                                <option value="T" selected>Todos los Niveles</option>
								<option value="" >Sin Nivel</option>
                                <list niveles as c> 
                                <option value="${c.nivel}">${c.nivel}</option>
                                </list> <else> 
                                <option value="-1" selected>No registra Niveles...</option>
                                </if> 
                              </select>
                            </div>
                          
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
              </form>
          </td>
        </tr>
        <tr> 
          <td width="294" height="28"></td>
          <td width="81" valign="top"><a href="javascrip:;" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('img_generar','','/images/Gestion/botones/ver_over.jpg',1)"><img name="img_generar" border="0" src="/images/Gestion/botones/ver_up.jpg" width="108" height="27" alt="Ver"></a></td>
        </tr>
      </table>
    </td>
    <td height="18" width="1"> <img src="/images/Gestion/imagenes_main/espacio.gif" width=1 height=18></td>
  </tr>
  <tr> 
    <td rowspan=7 width="13"> <img src="/images/Gestion/imagenes_main/main_bienvenida_06.jpg" width=13 height=336></td>
    <td width="16" height="39"> <img src="/images/Gestion/imagenes_main/main_bienvenida_07.jpg" width=16 height=39></td>
    <td width="1"> <img src="/images/Gestion/imagenes_main/espacio.gif" width=1 height=39></td>
  </tr>
  <tr> 
    <td height="50" width="16"> <img src="/images/Gestion/imagenes_main/main_bienvenida_08.jpg" width=16 height=50></td>
    <td width="1"> <img src="/images/Gestion/imagenes_main/espacio.gif" width=1 height=50></td>
  </tr>
  <tr> 
    <td height="52" width="16"> <img src="/images/Gestion/imagenes_main/main_bienvenida_10.jpg" width=16 height=52></td>
    <td width="1"> <img src="/images/Gestion/imagenes_main/espacio.gif" width=1 height=52></td>
  </tr>
  <tr> 
    <td height="45" width="16"> <img src="/images/Gestion/imagenes_main/main_bienvenida_11.jpg" width=16 height=45></td>
    <td width="1"> <img src="/images/Gestion/imagenes_main/espacio.gif" width=1 height=45></td>
  </tr>
  <tr> 
    <td height="55" width="16"> <img src="/images/Gestion/imagenes_main/main_bienvenida_12.jpg" width=16 height=55></td>
    <td width="1"> <img src="/images/Gestion/imagenes_main/espacio.gif" width=1 height=55></td>
  </tr>
  <tr> 
    <td height="51" width="16"> <img src="/images/Gestion/imagenes_main/main_bienvenida_13.jpg" width=16 height=51></td>
    <td width="1"> <img src="/images/Gestion/imagenes_main/espacio.gif" width=1 height=51></td>
  </tr>
  <tr> 
    <td height="44" width="16"> <img src="/images/Gestion/imagenes_main/main_bienvenida_14.jpg" width=16 height=44></td>
    <td width="1"> <img src="/images/Gestion/imagenes_main/espacio.gif" width=1 height=44></td>
  </tr>
</table>
<div id="Layer1" style="position:absolute; width:312px; height:136px; z-index:3; left: 310px; top: 56px; visibility: hidden"> 
  <form name="form2" method="post" action="">
    <table width="310" border="0">
      <tr> 
        <td width="100" class="negro12B"> 
          <input type="checkbox" name="check${rut}" value="checkbox">
          ${rut}${dv} </td>
        <td width="200" class="negro12N">${nombre}</td>
      </tr>
    </table>
  </form>
</div>
<script language="JavaScript">
parent.frames.topFrame.document.form1.informe.disabled = "";
</script>
</BODY>
</HTML>