<html>
<title>PeopleManagerPlatform : ${asunto}</title>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="">
<table width="462" height="154" border="0" align="center" cellpadding="1" cellspacing="1">
  <tr>
    <td width="13%" height="18" valign="top" bgcolor="#999999" class="tituloTabla"><strong><font size="2" face="Arial, Helvetica, sans-serif">De</font></strong></td>
    <td width="87%" bgcolor="#FFFFCC" class="tituloTabla2"><font size="2" face="Arial, Helvetica, sans-serif">&nbsp;${nombre}</font></td>
  </tr>
  <tr>
    <td width="13%" height="18" valign="top" bgcolor="#999999" class="tituloTabla"><strong><font size="2" face="Arial, Helvetica, sans-serif">Fono</font></strong></td>
    <td width="87%" bgcolor="#FFFFCC" class="tituloTabla2"><font size="2" face="Arial, Helvetica, sans-serif">&nbsp;${Rut}</font></td>
  </tr>
  <tr>
    <td width="13%" height="18" valign="top" bgcolor="#999999" class="tituloTabla"><strong><font size="2" face="Arial, Helvetica, sans-serif">E-mail</font></strong></td>
    <td width="87%" bgcolor="#FFFFCC" class="tituloTabla2"><font size="2" face="Arial, Helvetica, sans-serif">&nbsp;${email}</font></td>
  </tr>
 
  <tr>
    <td height="18" valign="top" bgcolor="#999999" class="tituloTabla"><strong><font size="2" face="Arial, Helvetica, sans-serif">Asunto</font></strong></td>
    <td bgcolor="#FFFFCC" class="tituloTabla2"><font size="2" face="Arial, Helvetica, sans-serif">&nbsp;${asunto}</font></td>
  </tr>
  <tr>
    <td height="95" valign="top" bgcolor="#999999" class="tituloTabla2"><strong><font size="2" face="Arial, Helvetica, sans-serif">Mensaje</font></strong></td>
    <td valign="top" bgcolor="#FFFFCC">&nbsp;${texto} </td>
  </tr>
</table>
</body>
</html>