<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="../servlet/Tool?style/portalrrhh.css" rel="stylesheet" type="text/css">
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_showHideLayers() { //v6.0
  var i,p,v,obj,args=MM_showHideLayers.arguments;
  for (i=0; i<(args.length-2); i+=3) if ((obj=MM_findObj(args[i]))!=null) { v=args[i+2];
    if (obj.style) { obj=obj.style; v=(v=='show')?'visible':(v=='hide')?'hidden':v; }
    obj.visibility=v; }
	
}
function Ejec() {
	if (document.form1.codigo.value!="" && document.form1.nombre.value!="")
	document.form1.submit();
	else
		alert("Debe completar el formulario");
	
}
//-->
</script>
</head>

<body>
<div id="Layer2" style="position:absolute; left:17px; top:13px; width:364px; height:132px; z-index:2" class="layer1"> 
  <form name="form1" method="post" action="../servlet/S_MakeAccess">
    <table width="100%" border="0" class="detalleTabla">
      <tr> 
        <td colspan="2" class="tituloTabla">Craer Accesos de Roles</td>
      </tr>
      <tr> 
        <td width="47%" class="tituloTabla2">C&oacute;digo (No espacios,caract. 
          esp.)</td>
        <td width="53%"> <input name="codigo" type="text" class="inputText" id="codigo" maxlength="20"> 
        </td>
      </tr>
      <tr> 
        <td class="tituloTabla2">Nombre</td>
        <td><input name="nombre" type="text" class="inputText" id="nombre" maxlength="50"></td>
      </tr>
      <tr align="right"> 
        <td class="a"><a href="javascript:Ejec()">[ Grabar ]</a></td>
        <td class="a"><a href="#">[ Cerrar ]</a></td>
      </tr>
    </table>
  </form>
</div>

<if alert>
<div id="Layer1" style="position:absolute; left:413px; top:14px; width:363px; height:134px; z-index:1" class="layer1"> 
  <table width="100%" border="0" class="detalleTabla">
<tr> 
      <td colspan="2" class="tituloTabla">Mensaje : ${alert}</td>
    </tr>
    <tr> 
      <td class="tituloTabla2">C&oacute;digo</td>
      <td>${getParam("codigo")} </td>
    </tr>
    <tr> 
      <td class="tituloTabla2">Nombre</td>
      <td>${getParam("nombre")}</td>
    </tr>
    <tr align="right"> 
      <td colspan="2">${getError}</td>
    </tr>
    <tr align="right"> 
      <td class="a">&nbsp;</td>
      <td class="a"><a href="#" onClick="MM_showHideLayers('Layer1','','hide')">[ 
        Cerrar ]</a></td>
    </tr>
  </table>
</div>
</if>
</body>
<script language="JavaScript" type="text/JavaScript">
<if alert>
	onMouseOver="MM_showHideLayers('Layer1','','show')"
</if>
//-->
</script>
</html>
