<html>
<head>
<title>Detalle de Dotaci&oacute;n</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript">
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
</script>
<script language="JavaScript" src="Tool?htm=Gestion/script/opcion_link.js">
</script>
<script language="JavaScript" src="../servlet/Tool?scripts/ExisteFoto.js">
</script>
<link href="../servlet/Tool?style/gestion.css" rel="stylesheet" type="text/css">
</head>
<body onLoad="window.focus()" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" background="../servlet/Tool?images/Gestion/LayersBeige/fondo.jpg" style="background-repeat:no-repeat">
<table width="400" height="306" border="0" cellpadding="0" cellspacing="1" class="texto_negro_bold">
  <tr> 
    <td align="center" height="21">Detalle de 
      Dotaci&oacute;n</td>
  </tr>
  <tr> 
    <td height="25" align="center" class="negro12B">${unid_desc}</td>
  </tr>
  <tr> 
    <td height="210" align="left" valign="top"><span id="Layer1" style="position:absolute; left:8px; top:auto; width:384px; height:223px; z-index:1; overflow: auto;"> 
      <table width="100%" border="0" align="center" cellpadding="0">
          <tr> <assign x=""> <list varios as v>
            <td height="75" align="center" class="maticoN" width="30%"><a href="#" onClick="VerRut(${v.rut});return false"><img onError="existeFoto(this)" src="../servlet/Tool?images/trabajadores/fotos/${v.foto}" width="62" height="81" alt="${v.nombre}, ${v.desc_cargo}" border="1"></a></td>
            <assign x=x+"*"> <if x=="***">
          </tr>
          <tr> <assign x=""> </if></list>
      </table>
    </span></td>
  </tr>
  <tr> 
    <td align="right" valign="bottom"><a href="javascript:;" onClick="window.close()"><img name="Image_cerrar" border="0" src="../servlet/Tool?images/Gestion/botones/cerrar.gif" width="120" height="24"></a></td>
  </tr>
</table>
</body>
</html>
