<html>
<head>
<title>Ver Informaci&oacute;n del Empleado</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript" src="Tool?htm=Gestion/script/opcion_link.js">
</script>
<script language="JavaScript" src="../servlet/Tool?scripts/ExisteFoto.js">
</script>
<script language="JavaScript" src="Tool?htm=Gestion/script/msgprocesando.js">
</script>
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);

function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
//-->
</script>
<link href="../servlet/Tool?style/gestion.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
#Layer4 {
	position:absolute;
	left:81px;
	top:14px;
	width:406px;
	height:62px;
	z-index:4;
}
#Layer5 {
	position:absolute;
	left:10px;
	top:163px;
	width:476px;
	height:84px;
	z-index:5;
}
-->
</Style>
</head>
<body onLoad="window.focus()" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" background="../servlet/Tool?images/Gestion/LayersBeige/fondo.jpg" style="background-repeat:no-repeat">
<div id="Layer1" style="position:absolute; left:9px; top:13px; width:57px; height:80px; z-index:1"><img src="../servlet/Tool?images/trabajadores/fotos/${foto}" width="62" height="81" border="1" onerror="existeFoto(this)"></div>
<div id="Layer2" style="position:absolute; left:366px; top:266px; width:74px; height:11px; z-index:2"><a href="javascript:window.close();"><img name="Image4" border="0" src="../servlet/Tool?images/Gestion/botones/cerrar.gif" width="120" height="24"></a></div>
<div id="Layer3" style="position:absolute; left:362px; top:112px; width:123px; height:19px; z-index:3">
   <if (ver_expediente) && Control("df_perfil_lab", rut)></if><if (ver_expediente) && Control("df_perfil_lab", rut)></if><if (ver_expediente) && Control("df_perfil_lab", rut)></if><if (ver_expediente) && Control("df_perfil_lab", rut)></if>
  <if (ver_expediente)><a href="#" onClick="MM_openBrWindow('../servlet/TopExpedienteWeb?rut=${rut}','mainFrame','');return false"><img src="../servlet/Tool?images/Gestion/botones/expediente.gif" width="120" height="24" border="0"></a> </if></td>
</div>
<div id="Layer4">
  <table width="100%" border="0" cellpadding="0" cellspacing="1" class="texto_negro">
        <tr> 
          <td height="21" colspan="2" class="texto_negro_bold">${nombre}</td>
        </tr>
        <tr> 
          <td width="79" class="tabla_beige">Cargo          </td>
          <td width="303" class="tabla_negro">${cargo}</td>
        </tr>
        <tr> 
          <td width="79" class="tabla_beige"> Unidad</td>
          <td width="303" class="tabla_negro">${unidad}</td>
        </tr>
        <!-- esconder fila <tr> 
          <td width="79" class="tabla_beige">Anexo          </td>
          <td width="303" class="tabla_negro"> <a href="javascript:;" title="Informaci&oacute;n de Anexo, Tel&eacute;fono y Fax." class="Estilo15" onClick="return VerFonosRut('${rut}')">[Ver Anexo]</a></td>
        </tr>-->
        <tr> 
          <td width="79" class="tabla_beige">e-mail</td>
          <td width="303" class="tabla_negro">${email}</td>
        </tr>
</table></div>
<div id="Layer5">
  <table width="100%" border="0" cellpadding="0" cellspacing="1" class="texto_negro">
        <tr>
          <td colspan="2" align="center" class="tabla_beige"><strong>INFORMACI&Oacute;N DEL SUPERVISOR DIRECTO </strong></td>
        </tr>
        <tr> 
          <td width="64" class="tabla_beige">Nombre</td>
          <td width="399" class="tabla_negro">${nomsup}</td>
        </tr>
        <tr> 
          <td width="64" class="tabla_beige">Cargo</td>
          <td width="399" class="tabla_negro">${cargosup}</td>
        </tr>
        <tr> 
          <td width="64" class="tabla_beige"> Unidad:</td>
          <td width="399" class="tabla_negro">${unidadsup}</td>
        </tr>
        <!--<tr> 
          <td width="64" class="tabla_beige">Anexo</td>
          <td width="399" class="tabla_negro">

          <if (rutsup)><a href="javascript:;" title="Informaci&oacute;n de Anexo, Tel&eacute;fono y Fax." onClick="return VerFonosRut('${rutsup}')">[Ver Anexo]</a></if></td>
        </tr>-->
        <tr> 
          <td width="64" class="tabla_beige">e-mail</td>
          <td width="399" class="tabla_negro">${emailsup}&nbsp;</td>
        </tr>
</table>
</div>
<table width="500" height="300" border="0" cellpadding="0" cellspacing="0">
  <tr> 
    <td> 
    </td>
  </tr>
</table>
</body>
</html>