<HTML>
<HEAD>
<title>Estructura Organizacional</title>
<script LANGUAGE="JavaScript">
</script>
</HEAD>
<FRAMESET cols="300,*"  frameborder="yes" border="0" > 
  <FRAME src="../servlet/LoadTreeOrg?pag=ggd/organica/basetreeGgd.htm&tc=yes" name="treeFrame" scrolling="no" marginwidth="0" marginheight="0" noresize>
  <FRAME SRC="Tool?htm=Gestion/InfoUsuario/Jerarquia/blanco_org.htm" name="folderFrame" marginwidth="0" marginheight="0" scrolling="no" noresize>
</FRAMESET>
<noframes> 
</noframes> 
</HTML>
