  <html>
<head>
<title>Informe</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="Tool?htm=Gestion/Style/estilos.css" type="text/css">
<script language="JavaScript" src="Tool?htm=Gestion/script/imprimir.js">
</script>
<script language="JavaScript">
<!--
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);

function botones_estado(estado) {
	<list paginas as pag>
	LayerBotonera${pag.p_act}.style.visibility = estado;
	</list>
}

function Imprimir(){
	botones_estado("hidden");
	//window.print();
	printPage();
	botones_estado("visible");
}
// -->

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.0
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && document.getElementById) x=document.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
</head>
<script language="JavaScript">
window.scroll(0,0);
</script>

<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="MM_preloadImages('../servlet/Tool?images/Gestion/botones/botones_informe/imprimir_up.jpg','../servlet/Tool?images/Gestion/botones/botones_informe/inicio_up.jpg','../servlet/Tool?images/Gestion/botones/botones_informe/anterior_up.jpg','../servlet/Tool?images/Gestion/botones/botones_informe/siguiente_up.jpg','../servlet/Tool?images/Gestion/botones/botones_informe/ultimo_up.jpg')">
<script language="JavaScript">
//opener.parent.parent.AbrirVentProcesando();
</script>
<list paginas as pag> 
<table width="670" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr valign="top"> 
    <td width="250" valign="top" rowspan="2">&nbsp; </td>
    <td valign="top" rowspan="2" > 
      <div align="center"><a name="pag_${pag.p_act}"></a></div>
    </td>
    <td width="250" valign="top" height="66" align="right"> 
	  <include "templates/Datafolder/Informes/botonera_imprimir.htm">
      
    </td>
  </tr>
  <tr valign="top">
    <td width="250" valign="top">
      <div align="right"><span class="negro12N">P&aacute;g. ${pag.p_act} de ${p_tot}</span></div>
    </td>
  </tr>
  <tr> 
    <td colspan="3" height="20"> 
      <div align="center"><u><span class="negro12B">${title}</span><br>
        </u><b><font face="Arial, Helvetica, sans-serif" size="2"> ${FFecha("dd-MM-yyyy")}</font></b></div>
    </td>
  </tr>
  <tr> 
    <td colspan="2">&nbsp;</td>
    <td align="right"> 
      
    </td>
  </tr>
  <tr> 
    <td height="1" width="181"></td>
    <td width="174"></td>
    <td width="133"></td>
  </tr>
</table>
<table width="95%" border="0" cellpadding="0" cellspacing="0" align="center">
  <tr align="center"> 
    <td valign="top" height="463" colspan="2"> 
      <table border="1" cellspacing="0" cellpadding="0" width="100%">
        <tr bgcolor="#CCCCCC"> 
          <td colspan="4" class="negro10B" height="10"> 
            <div align="center"> </div>
            <div align="center"> </div>
            <div align="center"> </div>
            <div align="center">Contacto</div>
          </td>
          <td colspan="3" valign="top" class="negro10B" height="10"> 
            <div align="center"> Visita</div>
          </td>
          <td valign="top" width="89" class="negro10B" rowspan="2"> 
            <div align="center">Observaci&oacute;n</div>
          </td>
          <td width="62" valign="top" class="negro10B" rowspan="2"> 
            <div align="center">Motivo</div>
          </td>
          <td width="62" valign="top" class="negro10B" rowspan="2"> 
            <div align="center">Fecha Visita</div>
          </td>
          <td width="103" valign="top" class="negro10B" rowspan="2"> 
            <p align="center">T&eacute;rmino Visita</p>
          </td>
          <td width="103" valign="top" class="negro10B" rowspan="2">Duraci&oacute;n<br>
            (hh:mm)</td>
        </tr>
        <tr bgcolor="#CCCCCC"> 
          <td width="37" class="negro10B" height="19">Unidad</td>
          <td width="77" class="negro10B" height="19"> 
            <div align="center">Rut</div>
          </td>
          <td width="98" class="negro10B" height="19"> 
            <div align="center">Nombre</div>
          </td>
          <td width="53" class="negro10B" height="19"> 
            <div align="center">Anexo</div>
          </td>
          <td width="63" valign="top" class="negro10B" height="19"> 
            <div align="center">Rut</div>
          </td>
          <td width="137" valign="top" class="negro10B" height="19"> 
            <div align="center">Nombre</div>
          </td>
          <td width="151" valign="top" class="negro10B" height="19"> 
            <div align="center">Empresa</div>
          </td>
        </tr>
        <if !(pag.datos)> 
        <tr> 
          <td colspan="12" height="21"> 
            <div align="center"><i> No se registran visitas.</i></div>
          </td>
        </tr>
        </if> <list pag.datos as d> <if (d.filatipo) == "ENC"> 
        <tr> 
          <td colspan="12" class="negro12B" height="17"> 
            <div align="left"><i > ${d.unidad} </i></div>
          </td>
        </tr>
        </if> 
        <tr> 
          <td width="37" class="negro10N" height="31"> 
            <div align="left">&nbsp;</div>
          </td>
          <td width="77" class="negro10N"> 
            <div align="left">${FNum(d.rut)}-${d.digito_ver}</div>
          </td>
          <td valign="top" class="negro10N" width="98"> 
            <div align="center">${d.nombre}</div>
          </td>
          <td valign="top" class="negro10N" width="53"> 
            <div align="center">${d.anexo}</div>
          </td>
          <td valign="top" class="negro10N" width="63"> 
            <div align="center">${d.rv}</div>
          </td>
          <td valign="top" class="negro10N" width="137"> 
            <div align="left">${d.nv}</div>
          </td>
          <td valign="top" class="negro10N" width="151"> 
            <div align="left">&nbsp; ${d.ev}</div>
          </td>
          <td valign="top" class="negro10N" width="89">&nbsp; ${d.ov}</td>
          <td valign="top" class="negro10N" width="62">${d.motivo}</td>
          <td width="62" valign="top" class="negro10N">${d.fecha}</td>
          <td width="103" valign="top" class="negro10N"> 
            <div align="center">${d.termino}</div>
          </td>
          <td width="103" valign="top" class="negro10N">${d.horas}:${d.dif}</td>
        </tr>
        <tr> 
          <td height="2" width="37"></td>
          <td width="77"></td>
          <td width="98"></td>
          <td width="53"></td>
          <td width="63"></td>
          <td width="137"></td>
          <td width="151"></td>
          <td width="89"></td>
          <td width="62"></td>
          <td width="62"></td>
          <td width="103"></td>
          <td width="103"></td>
        </tr>
        </list> <if (pag.p_act) == (p_tot)> </if> 
      </table>
    </td>
  </tr>
  <tr> 
    <td height="20" valign="top" width="80%">&nbsp; </td>
    <td width="20%" valign="top"> 
      <div align="right"></div>
    </td>
  </tr>
</table>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<if (pag.p_act) != (p_tot)> 
<p class="pageEnd" align="center">&nbsp;</p>
</if> </list> 
<script language="JavaScript">
	//opener.parent.parent.CerrarVentProcesando();
	botones_estado("visible");
</script>
</body>
</html>
