<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>Tracking Personal</title>

    <link rel="stylesheet" type="text/css" href="/ist/portalrrhh/mapping/sencha/examples/shared/example.css" />

    <!-- GC -->

    <script type="text/javascript" src="/ist/portalrrhh/mapping/sencha/examples/shared/include-ext.js"></script>
    <script type="text/javascript" src="/ist/portalrrhh/mapping/sencha/resumen_tracking.js"></script>
    <script type="text/javascript" src="/ist/portalrrhh/mapping/sencha/locale/ext-lang-es.js"></script>
    
</head>
<h1>Tracking Resumen</h1>
<body id="docbody">


<div id="formFecha"></div>

</body>
</html>
