.x-action-col-cell img.icon-pencil {
	background-image: url("../../../Tool?images/btns/pencil.png");
}
.x-action-col-cell img.icon-page_white_put {
    background-image: url("../../../Tool?images/btns/page_white_put.png");
}

.filadestacada {
    background-color: #ffe2e2;
}