<html>
<head>
<title>Busqueda</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript">
<!--
<!--

function ManCambios(){
	if (checkFecha(document.form_graba.inicio.value)){
	  document.form_graba.modo="1";
	  document.form_graba.submit();
	}
}
 

//Chequeamos la fecha de nacimiento
function checkFecha(valorfecha)
{
 mes1 = valorfecha.substring(3,4)
 mes2 = valorfecha.substring(4,5)
 mes  = mes1 + mes2
 for (var i = 0; i < valorfecha.length; i++) {
  var ch = valorfecha.substring(i, i + 1)
  if ( 2 == i || 5 == i ) {
     if ( ch != "/" ) { 
        alert("El formato de la fecha es 'DD/MM/AA'");
        return false;
     }
  }
  else {
    if (ch < "0" || "9" < ch) {
       alert("El formato de la fecha es 'DD/MM/AA'");
       return false;
    }
  }
 }
 if ( i < 7 ) { 
    alert("El formato de la fecha es 'DD/MM/AA'");
    return false;
 }
 if ( mes == "01" || mes == "02" || mes == "03" || mes == "04" || mes == "05" || mes == "06" || mes == "07" || mes == "08" || mes == "09" || mes == "10" || mes == "11" || mes == "12" ) {
   return true }
 else {
   alert("El formato de la fecha es 'DD/MM/AA'");
   return false }
   
 return true;
}

<assign empresa_ant ="">
<list unidades as a>
	<if (a.empresa) != (empresa_ant)>
		<assign empresa_ant = (a.empresa)>
		var unidad_${a.empresa} = new Array();
	</if>
	unidad_${a.empresa}[unidad_${a.empresa}.length] = new Option('${a.desc}','${a.id}');
</list>

function llena_lista(lista, array) {
	lista.length = 0;
	if (array) {
		for (i = 0; i<array.length;i++)
			lista.options[i] = array[i]
	}
}

function SeleccionaEmpresa(valor) {
	//alert(valor);
	llena_lista(document.Unidades.sel, eval("window.unidad_"+valor));
	//llena_lista(document.form1.divi, eval("window.divi_"+valor));
}

function CargaUni(uni){
document.Unidades.unidad.value=uni;
//alert(uni);
document.Unidades.submit();

}


function Graba(){
<if nombre_enc!="No existe Encargado"> 
document.form_graba.accion.value="M";
</if>
//alert("accion: "+document.form_graba.accion.value);
document.form_graba.submit();
}
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
// -->

function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
function Procesando(){
	// Devuelve la cadena convertida en min&#250;sculas
	//parent.AbrirVentProcesando();	
	return true;

}

function MM_goToURL() { //v3.0
  var i, args=MM_goToURL.arguments; document.MM_returnValue = false;
  for (i=0; i<(args.length-1); i+=2) eval(args[i]+".location='"+args[i+1]+"'");
}

function MM_findObj(n, d) { //v4.0
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && document.getElementById) x=document.getElementById(n); return x;
}

function MM_showHideLayers() { //v3.0
  var i,p,v,obj,args=MM_showHideLayers.arguments;
  for (i=0; i<(args.length-2); i+=3) if ((obj=MM_findObj(args[i]))!=null) { v=args[i+2];
    if (obj.style) { obj=obj.style; v=(v=='show')?'visible':(v='hide')?'hidden':v; }
    obj.visibility=v; }
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<script language="JavaScript" src="Tool?htm=Gestion/script/opcion_link.js">
</script>
<link rel="stylesheet" href="../servlet/Tool?style/gestion.css" type="text/css">
<script language="JavaScript" src="../servlet/Tool?scripts/ExisteFoto.js">
</script>
<link rel="stylesheet" href="../servlet/Tool?style/estilos.css" type="text/css">
</head>

<body background="../servlet/Tool?images/Gestion/news/rigth_arbol.jpg" style="background-repeat:no-repeat" text="#000000" leftmargin="3" topmargin="0" marginwidth="0" marginheight="0" onLoad="window.focus();MM_preloadImages('../Gestion/botones/mantener_over.jpg')">
<table border=0 cellpadding=0 cellspacing=0 width="242" height="446">
  <tr> 
    <td width="248" height="427" valign="top"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="74">&nbsp;</td>
        </tr>
        <tr>
          <td bgcolor="#FFCC66">
            <div align="center"><font face="Arial, Helvetica, sans-serif" size="1" class="negro12N">Seleccione 
              la Unidad a Cambiar </font></div>
          </td>
        </tr>
        <tr> 
          <td> 
            <div align="center"><font face="Arial, Helvetica, sans-serif" size="1" class="negro10B">Empresa</font></div>
          </td>
        </tr>
        <tr> 
          <td align="center"> 
            <form name="Unidades" method="get" action="!organica/servlet/AsignaEncargado">
              <font face="Arial, Helvetica, sans-serif" size="1"> </font> 
              <div id="Layer1" style="position:absolute; width:246px; height:30px; z-index:2; left: 0px; top: 105px; visibility: visible"> 
                <p><font face="Arial, Helvetica, sans-serif" size="1"> 
                  <select name="empresa" class="negro10N" onChange = "SeleccionaEmpresa(this.value)" style="width=250">
                    <option value="-1">Seleccione una Empresa</option>
                    <list empresas as v> 
                    <option value="${v.id}">${v.desc}</option>
                    </list> 
                  </select>
                  </font> 
                  <input type="hidden" name="empresas" value="${cod_empresa}">
                  <br>
                  <span class="negro10B">Unidad</span><br>
                  <select name="sel" class="negro10N" onChange = "CargaUni(this.value)" style="width=250">
                  </select>
                </p>
              </div>
              <font face="Arial, Helvetica, sans-serif" size="1"> 
              <input type="hidden" name="unidad" value="${cod_uni}">
              <br>
              </font> 
              <div align="center"></div>
            </form>
          </td>
        </tr>
      </table>
	  <form name="form_graba" action="../servlet/AsignaEncargado" method="post">
        <if nombre_enc> <br>
        <br>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td class="maticoB" height="14" bgcolor="#FFCC66"> 
              <div align="center" class="negro12B">Responsable de la Unidad</div>
            </td>
          </tr>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td width="33%"> 
              <div align="center"><img onError="existeFoto(this)" src="../servlet/Tool?images/trabajadores/fotos/${foto_enc}" width="60" height="78" vspace="3"></div>
            </td>
            <td width="67%"> 
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr> 
                  <td class="negro10N" colspan="2"> 
                    <div align="center">${nombre_enc}</div>
                  </td>
                </tr>
                <tr> 
                  <td class="negro10N" colspan="2"> 
                    <div align="center"> 
                      <input type="hidden" name="rut_resp" value="${rut_resp_r}">
                      ${rut_resp}</div>
                  </td>
                </tr>
                <tr> 
                  <td class="negro10N" colspan="2"> 
                    <div align="center">${cargo_enc}</div>
                  </td>
                </tr>
                <tr> 
                  <td class="textB"> 
                    <div align="center" class="azul10NLink"> 
                      <input type="hidden" name="empresa" value="${cod_empresa}">
                      <input type="hidden" name="unidad" value="${cod_uni}">
                      <input type="hidden" name="accion" value="A">
                      <a href="#" onClick="MM_showHideLayers('Layer','','show','LayerAdicional','','hide')" class="azul10NLink">[Ver 
                      Misi&oacute;n]</a></div>
                  </td>
                  <td class="textB"><a href="javascript:;" class="azul10NLink" onClick="MM_showHideLayers('Layer','','hide','LayerAdicional','','show')">[Info Adicional]</a></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        </if> <if nombre> 
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td class="maticoB" height="14" bgcolor="#FFCC66"> 
              <div align="center" class="negro12B">Nuevo Responsable</div>
          </td>
        </tr>
      </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td width="33%"> 
              <div align="center"><img onError="existeFoto(this)" src="../servlet/Tool?images/trabajadores/fotos/${foto}" width="60" height="78" vspace="3"></div>
            </td>
            <td width="67%"> 
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr> 
                  <td class="negro10N"> 
                    <div align="center">${nombre}</div>
                  </td>
                </tr>
                <tr> 
                  <td class="negro10N"> 
                    <div align="center"> 
                      <input type="hidden" name="rut_r" value="${rut_r}">
                      ${rut}</div>
                  </td>
                </tr>
                <tr> 
                  <td class="negro10N"> 
                    <div align="center">${cargo}</div>
                  </td>
                </tr>
                <tr> 
                  <td>&nbsp;</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td width="33%">
              <div align="center"><a href="#" onClick="Graba();return false" class="azul10NLink">[Asignar]</a>
                <input type="hidden" name="modo" value="0">
              </div>
            </td>
            <td width="67%">&nbsp;</td>
          </tr>
        </table>
        <a href="#" onClick="Graba();return false" class="azul10NLink"> </a></if> 
        <div id="Layer" style="position:absolute; left:11px; top:191px; width:265px; height:152px; z-index:1; background-color: #FFAB2D; layer-background-color: #FFAB2D; border: 1px none #000000; overflow: auto; visibility: hidden"> 
          <table width="100%" border="1" cellspacing="0" cellpadding="0">
            <tr> 
              <td class="maticoB" width="89%"> 
                <div align="center" class="negro12B">Mision</div>
              </td>
              <td class="maticoB" width="11%" bgcolor="#FF6600"> 
                <div align="center"><a href="#" onClick="MM_showHideLayers('Layer','','hide')" title="Cerrar" class="azul10NLink">X</a></div>
              </td>
            </tr>
            <tr bgcolor="#FFCA79" align="center"> 
              <td valign="top" colspan="2"> 
                <textarea name="mision" cols="33" rows="5" class="negro10B">${mision}</textarea>
              </td>
            </tr>
          </table>
        </div>
        <div id="LayerAdicional" style="position:absolute; width:270px; height:101px; z-index:3; left: 10px; top: 224px; visibility: hidden"> 
          <table width="100%" border="1" cellspacing="0" cellpadding="0">
            <tr> 
              <td class="maticoB" width="93%" bgcolor="#FF9900"> 
                <div align="center" class="negro12B">Informaci&oacute;n Adicional</div>
              </td>
              <td class="maticoB" width="7%" bgcolor="#FF6600"> 
                <div align="center"><a href="#" onClick="MM_showHideLayers('LayerAdicional','','hide')" title="Cerrar" class="azul10NLink">X</a></div>
              </td>
            </tr>
            <tr bgcolor="#FFCA79" align="center"> 
              <td valign="top" colspan="2"> 
                <table width="100%" border="0" cellspacing="0" cellpadding="0" height="45">
                  <tr> 
                    <td width="45%" class="negro10B" height="2">Responsable desde 
                      el</td>
                    <td width="55%" valign="top"><b>:&nbsp; 
                      <input type="text" name="inicio" size="8" maxlength="8" value="${inicio}" onchange=checkFecha(this.value)>
                      <span class="negro10N">(DD/MM/AA)</span></b></td>
                  </tr>
                  <tr> 
                    <td width="45%" class="negro10B" valign="middle">Cambio hecho 
                      por</td>
                    <td width="55%" valign="middle"><b>:<span class="negro10N"> 
                      <if (rut_cambios!="S/I")>
                        <a href="javascript:;" onClick="VerRut('${rut_cambios}'); return false" class="azul10NLink">
                         ${nom_cambios}
                        </a>
                      <else>
                         ${nom_cambios}
                      </if>
                 </span></b></td>
                  </tr>
                  <tr> 
                    <td width="45%" class="negro10B" valign="middle">Ultima actualizaci&oacute;n</td>
                    <td width="55%" valign="middle"><b>:<span class="negro10N">&nbsp;${actualiza}</span></b></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr bgcolor="#FFa400" align="center"> 
              <td valign="top" colspan="2"><a href="javascript:;" onClick="ManCambios();return false;" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image20','','../servlet/Tool?images/Gestion/botones/mantener_over.jpg',1)"><img name="Image20" border="0" src="../servlet/Tool?images/Gestion/botones/mantener_up.jpg"></a></td>
            </tr>
          </table>
        </div>
      </form>
      <p><br>
    </p>    </td>
  </tr>
</table>
<script language="">
	document.Unidades.empresa.value="${cod_empresa}";
	SeleccionaEmpresa("${cod_empresa}");
	document.Unidades.sel.value="${cod_uni}";
</script>
</body>
</html>

