 <HTML>
<head>
<title>Bienvenido a la p&#225;gina web de Marcelino</title>
</head>
<body bgcolor=#ffa400>
<center>
<br>
  <hr noshade size=3 color='black'>
<table>
<tr><td width=50>
      <td> <font face="Arial, Helvetica, sans-serif" size="1" color="#FFFFFF"><b><font face="Verdana, Arial, Helvetica, sans-serif">Area 
        de despliegue de datos. <br>
        En este frame se muestran datos asociados al nodo respectivo en la jerarquia.</font><br>
        </b> </font> 
    </table>
<hr noshade size=3 color='black'>
</center>
</BODY>
</HTML>
