  <html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<frameset cols="328,*" frameborder="NO" border="0" framespacing="0" rows="*"> 
  <frame name="leftFrame" scrolling="no" noresize src="/servlet/UnidSinAsignar" frameborder="NO" marginwidth="0" marginheight="0">
  <frame name="main" src="/templates/Gestion/AsignaEncargado/mensaje.htm">
</frameset>
<noframes>
<body bgcolor="#FFFFFF" text="#000000">
</body>
</noframes> 
</html>
