 <HTML>
<HEAD>
<title>Asignar Encargado</title>
<script LANGUAGE="JavaScript">
</script>
</HEAD>
<FRAMESET cols="313,*"  frameborder="yes" border="0" > 
  <FRAME src="/servlet/arbol.servlet.LoadTreeOrg?pag=Datafolder/AsignaEncargado/basetree.htm" name="treeFrame" scrolling="no" marginwidth="0" marginheight="0" noresize>
  <FRAME SRC="/templates/Gestion/InfoUsuario/Jerarquia/blanco.htm" name="folderFrame" marginwidth="0" marginheight="0" scrolling="no" noresize>
</FRAMESET>
<noframes> 
</noframes> 
</HTML>
