  <html>
<head>
<title>Down</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript">
<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.0
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && document.getElementById) x=document.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<script language="JavaScript">
<!--
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
// -->

function CederPalabra(){
  var rut=document.form1.rut.value;
  eval("parent.mainFrame.Layer"+rut+".style.visibility='visible'");
}

function transfer()
{  if (document.form1.ver.value=="0"){
     LayerMensaje.style.visibility="visible";
     document.form1.ver.value=="1";
   }
    else 
      LayerMensaje.style.visibility="hidden";
}

function MM_showHideLayers() { //v3.0
  var i,p,v,obj,args=MM_showHideLayers.arguments;
  for (i=0; i<(args.length-2); i+=3) if ((obj=MM_findObj(args[i]))!=null) { v=args[i+2];
    if (obj.style) { obj=obj.style; v=(v=='show')?'visible':(v='hide')?'hidden':v; }
    obj.visibility=v; }
}
//-->
</script>
</head>
<link rel="stylesheet" href="/Gestion/Style/video.css" type="text/css">
<body bgcolor="#000000" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="setTimeout('transfer()',300000);MM_preloadImages('/images/Gestion/videoconf/confere_over_r7_c1.jpg','/images/Gestion/videoconf/confere_over_r7_c4.jpg','/images/Gestion/videoconf/confere_over_r7_c5.jpg','/images/Gestion/videoconf/confere_over_r7_c9.jpg')">
<table border="0" cellpadding="0" cellspacing="0" width="765">
  <!-- fwtable fwsrc="/images/Gestion/videoconf/Untitled" fwbase="confere.jpg" fwstyle="Dreamweaver" fwdocid = "742308039" fwnested="0" -->
  <form name="form1">
  <tr> 
    <td><img src="/images/Gestion/videoconf/spacer.gif" width="90" height="1" border="0"></td>
    <td><img src="/images/Gestion/videoconf/spacer.gif" width="59" height="1" border="0"></td>
    <td><img src="/images/Gestion/videoconf/spacer.gif" width="66" height="1" border="0"></td>
    <td><img src="/images/Gestion/videoconf/spacer.gif" width="81" height="1" border="0"></td>
    <td><img src="/images/Gestion/videoconf/spacer.gif" width="25" height="1" border="0"></td>
    <td><img src="/images/Gestion/videoconf/spacer.gif" width="58" height="1" border="0"></td>
    <td><img src="/images/Gestion/videoconf/spacer.gif" width="94" height="1" border="0"></td>
    <td><img src="/images/Gestion/videoconf/spacer.gif" width="221" height="1" border="0"></td>
    <td><img src="/images/Gestion/videoconf/spacer.gif" width="71" height="1" border="0"></td>
    <td><img src="/images/Gestion/videoconf/spacer.gif" width="1" height="1" border="0"></td>
  </tr>
  <tr> 
      <td><a href="javascript:;" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('confere_r7_c1','','/images/Gestion/videoconf/confere_over_r7_c1.jpg',1)"><img name="confere_r7_c1" src="/images/Gestion/videoconf/confere_r7_c1.jpg" width="90" height="21" border="0" onMouseDown="MM_showHideLayers('LayerMensaje','','show')"></a></td>
    <td colspan="2"><img name="confere_r7_c2" src="/images/Gestion/videoconf/confere_r7_c2.jpg" width="125" height="21" border="0"></td>
    <td><a href="javascript:;" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('confere_r7_c4','','/images/Gestion/videoconf/confere_over_r7_c4.jpg',1)"><img name="confere_r7_c4" src="/images/Gestion/videoconf/confere_r7_c4.jpg" width="81" height="21" border="0"></a></td>
    <td colspan="2"><a href="javascript:;" onClick="CederPalabra();return false;" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('confere_r7_c5','','/images/Gestion/videoconf/confere_over_r7_c5.jpg',1)"><img name="confere_r7_c5" src="/images/Gestion/videoconf/confere_r7_c5.jpg" width="83" height="21" border="0"></a></td>
    <td><img name="confere_r7_c7" src="/images/Gestion/videoconf/confere_r7_c7.jpg" width="94" height="21" border="0"></td>
    <td background="/images/Gestion/videoconf/confere_r7_c8.jpg">
        <div id="LayerRadios" style="position:absolute; width:205px; height:21px; z-index:1; visibility: visible; top: -1px; left: 500px"> 
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr> 
              <td width="23%"> 
                <div align="right">
                  <input type="radio" name="opcion" value="radiobutton" checked>
                </div>
              </td>
              <td width="31%"> 
                <div align="center"> </div>
              </td>
              <td width="46%"> 
                <input type="radio" name="opcion" value="radiobutton">
              </td>
            </tr>
          </table>
        </div>
      </td>
    <td><a href="javascript:;"  onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('confere_r7_c9','','/images/Gestion/videoconf/confere_over_r7_c9.jpg',1)"><img name="confere_r7_c9" src="/images/Gestion/videoconf/confere_r7_c9.jpg" width="71" height="21" border="0"></a></td>
    <td><img src="/images/Gestion/videoconf/spacer.gif" width="1" height="21" border="0"></td>
  </tr>
  <tr> 
      <td colspan="6" background="/images/Gestion/videoconf/confere_r8_c1.jpg" valign="top"> 
        <div id="LayerMensaje" style="position:absolute; width:271px; height:37px; z-index:2; left: 0px; top: 23px; visibility: hidden"> 
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td valign="top" class="unnamed1">ROBERTO ANDRES CUMSILLE UBAGO 
                PIDE LA PALABRA.<br>
                PAGINA 2. </td>
            </tr>
          </table>
        </div>
        <input type="hidden" name="ver" value="0">
        <input type="hidden" name="rut">
      </td>
      <td colspan="3" background="/images/Gestion/videoconf/confere_r8_c7.jpg" valign="top">
        <div id="Layer1" style="position:absolute; width:275px; height:31px; z-index:3; top: 29px; left: 477px"> 
          <table width="96%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td>
                <input type="text" name="nuevo_mensaje" size="30" maxlength="100">
              </td>
            </tr>
          </table>
        </div>
      </td>
    <td><img src="/images/Gestion/videoconf/spacer.gif" width="1" height="47" border="0"></td>
  </tr></form>
</table>
</body>
</html>
