<html>
<head>
<title>Menu Publicador Politicas</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<!-- Fireworks 4.0  Dreamweaver 4.0 target.  Created Fri May 31 18:18:56 GMT-0400 (Hr. est&#225;ndar del Pac&#237;fico SA) 2002-->
<script language="JavaScript">
<!--
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);

function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
// -->

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}

function MM_displayStatusMsg(msgStr) { //v1.0
  status=msgStr;
  document.MM_returnValue = true;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}
//-->
</script>
</head>
<link href="../servlet/Tool?style/portalrrhh.css" rel="stylesheet" type="text/css">
<body bgcolor="#9999CC" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" background="../servlet/Tool?images/main/bck_main.jpg" onLoad="MM_preloadImages('../servlet/Tool?images/botones/crear_over.jpg','../servlet/Tool?images/botones/mantener_over.jpg','../servlet/Tool?images/botones/eliminar_over.jpg','../servlet/Tool?images/botones/diario_m_over.jpg','../servlet/Tool?images/botones/noticia_over.jpg','../servlet/Tool?images/botones/revistain_over.jpg')">
<table width="467" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr> 
    <td><include "menutop/menutop.html"></td>
  </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="467" align="center">
  <!-- fwtable fwsrc="Untitled" fwbase="desp_main.jpg" fwstyle="Dreamweaver" fwdocid = "742308039" fwnested="0" -->
  <tr> 
    <td><img src="Tool?htm=admin/spacer.gif" width="16" height="1" border="0"></td>
    <td><img src="Tool?htm=admin/spacer.gif" width="195" height="1" border="0"></td>
    <td><img src="Tool?htm=admin/spacer.gif" width="240" height="1" border="0"></td>
    <td><img src="Tool?htm=admin/spacer.gif" width="16" height="1" border="0"></td>
    <td><img src="Tool?htm=admin/spacer.gif" width="1" height="1" border="0"></td>
  </tr>
  <tr> 
    <td rowspan="2"><img name="../servlet/Tool?images/desp_main/desp_main_r1_c1" src="../servlet/Tool?images/desp_main/desp_main_r1_c1.jpg" width="16" height="30" border="0"></td>
    <td><img name="../servlet/Tool?images/desp_main/desp_main_r1_c2" src="../servlet/Tool?images/desp_main/desp_main_r1_c2.jpg" width="195" height="23" border="0"></td>
    <td><img name="../servlet/Tool?images/desp_main/desp_main_r1_c3" src="../servlet/Tool?images/desp_main/desp_main_r1_c3.jpg" width="240" height="23" border="0"></td>
    <td rowspan="2"><img name="../servlet/Tool?images/desp_main/desp_main_r1_c4" src="../servlet/Tool?images/desp_main/desp_main_r1_c4.jpg" width="16" height="30" border="0"></td>
    <td><img src="Tool?htm=admin/spacer.gif" width="1" height="23" border="0"></td>
  </tr>
  <tr> 
    <td colspan="2"><img name="../servlet/Tool?images/desp_main/desp_main_r2_c2" src="../servlet/Tool?images/desp_main/desp_main_r2_c2.jpg" width="435" height="7" border="0"></td>
    <td><img src="Tool?htm=admin/spacer.gif" width="1" height="7" border="0"></td>
  </tr>
  <tr> 
    <td><img name="../servlet/Tool?images/desp_main/desp_main_r3_c1" src="../servlet/Tool?images/desp_main/desp_main_r3_c1.jpg" width="16" height="271" border="0"></td>
    <td colspan="2" valign="top" background="../servlet/Tool?images/main/bck_main.jpg" > 
      <div id="LayTituloTodo" style="position:absolute; width:165px; height:16px; z-index:5; left: 85px; top: 80px"><font size="2" color="#000066"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Publicaciones</font></b></font></div>
      <div id="Layer1" style="position:absolute; width:410px; height:125px; z-index:1; left: 85px"> 
        <table width="100%" border="0" cellspacing="2" cellpadding="2">
          <tr> 
            <td class="titulo"> 
              <div align="center"></div>
            </td>
          </tr>
          <tr> 
            <td> 
              <hr size="2">
            </td>
          </tr>
		  <!--
          <tr> 
            <td> 
              <div align="center"><a href="../servlet/Tool?htm=publicador/crear_politica.htm" onMouseOut="MM_swapImgRestore();MM_displayStatusMsg('');return document.MM_returnValue" onMouseOver="MM_swapImage('Image18','','../servlet/Tool?images/botones/crear_over.jpg',1)"><img name="Image18" border="0" src="../servlet/Tool?images/botones/crear.jpg" width="91" height="21" onMouseOver="MM_displayStatusMsg('Crear Publicaci&oacute;n');return document.MM_returnValue"></a></div>
            </td>
          </tr>
          <tr> 
            <td height="17"> 
              <div align="center"><a href="../servlet/ListaPublicaciones" onMouseOut="MM_swapImgRestore();MM_displayStatusMsg('');return document.MM_returnValue" onMouseOver="MM_swapImage('Image19','','../servlet/Tool?images/botones/mantener_over.jpg',1)"><img name="Image19" border="0" src="../servlet/Tool?images/botones/mantener.jpg" width="91" height="21" onMouseOver="MM_displayStatusMsg('Mantener Publicaci&oacute;n');return document.MM_returnValue"></a></div>
            </td>
          </tr>
          <tr> 
            <td height="55" valign="top"> 
              <div align="center"><a href="../servlet/ListaPublicaciones" onMouseOut="MM_swapImgRestore();MM_displayStatusMsg('');return document.MM_returnValue" onMouseOver="MM_swapImage('Image20','','../servlet/Tool?images/botones/eliminar_over.jpg',1)"><img name="Image20" border="0" src="../servlet/Tool?images/botones/eliminar.jpg" width="91" height="21" onMouseOver="MM_displayStatusMsg('Eliminar Publicaci&oacute;n');return document.MM_returnValue"></a></div>
            </td>
          </tr>
		  -->
          <tr>
            <td height="120" align="center"><table width="80" border="0">
			
			<if (usuario.app_pub_dia)>
              <tr>
                <td><a href="javascript:;" onClick="MM_openBrWindow('../servlet/Tool?htm=app/diario.htm&adm=yes','admdiario','width=500,height=400')" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('img_dia','','../servlet/Tool?images/botones/diario_m_over.jpg',1)"><img src="../servlet/Tool?images/botones/diario_m.jpg" name="img_dia" width="150" height="29" border="0"></a></td>
              </tr>
			 </if>
			 <if (usuario.app_pub_not)>
              <tr>
                <td><a href="javascript:;" onClick="MM_openBrWindow('../servlet/Tool?htm=app/noticias.htm&adm=yes','admnoticias','width=500,height=400')" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('img_not','','../servlet/Tool?images/botones/noticia_over.jpg',1)"><img src="../servlet/Tool?images/botones/noticia.jpg" name="img_not" width="150" height="29" border="0"></a></td>
              </tr>
			  </if>
			  <if (usuario.app_pub_rev)>
              <tr>
                <td><a href="javascript:;" onClick="MM_openBrWindow('../servlet/Tool?htm=app/revista.htm&adm=yes','admrevista','width=500,height=400')" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('img_rev','','../servlet/Tool?images/botones/revistain_over.jpg',1)"><img src="../servlet/Tool?images/botones/revistain.jpg" name="img_rev" width="150" height="29" border="0"></a></td>
              </tr>
			  </if>
            </table></td>
          </tr>
          <tr>
            <td><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><p align="justify">A 
              trav&eacute;s de este m&oacute;dulo Ud. puede Administrar todo tipo 
              de publicaciones, ya sean pol&iacute;ticas de RR.HH, noticias de 
              inter&eacute;s com&uacute;n, articulos destacados, etc.</p>
              <p align="justify">Accediendo a este m&oacute;dulo se podr&aacute;n crear, mantener 
              o eliminar las publicaciones existentes.</p></font></td>
          </tr>
        </table>
      </div>
    </td>
    <td><img name="../servlet/Tool?images/desp_main/desp_main_r3_c4" src="../servlet/Tool?images/desp_main/desp_main_r3_c4.jpg" width="16" height="271" border="0"></td>
    <td><img src="Tool?htm=admin/spacer.gif" width="1" height="271" border="0"></td>
  </tr>
  <tr> 
    <td colspan="4"><img name="../servlet/Tool?images/desp_main/desp_main_r4_c1" src="../servlet/Tool?images/desp_main/desp_main_r4_c1.jpg" width="467" height="14" border="0"></td>
    <td><img src="Tool?htm=admin/spacer.gif" width="1" height="14" border="0"></td>
  </tr>
</table>
</body>
</html>
