<html>
<head>
<title>B&uacute;squeda de Trabajadores</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<!-- Fireworks 4.0  Dreamweaver 4.0 target.  Created Thu May 30 18:51:08 GMT-0400 (Hr. est&#225;ndar del Pac&#237;fico SA) 2002-->
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);


function buscar(){
	document.form1.Operacion.value='2';
	document.form1.submit();
}

function inicio(){
 var cabecera="",detalle="";
 cabecera="CabeceraUser";
 detalle="DetalleUser";
 if (opener.document.formulario){
	if (opener.document.formulario.modo){
		if (opener.document.formulario.modo.value=="1"){
			 //alert("admin");
			 cabecera="CabeceraAdmin";
			 detalle="DetalleAdmin";
			 LayerSel.style.visibility="visible";
		}
	}
}
  eval(cabecera+".style.visibility='visible'");
  eval(detalle+".style.visibility='visible'");
}

function AsignaValor(rut){
  document.form1.rutparam.value=rut
}

function Seleccionar(){
  var rut=document.form1.rutparam.value;
  if (rut!="-1") {
      parent.opener.document.location.href="../servlet/CapUserOrg?pRut="+rut;
	  window.close();
	  }
  else
     alert("Seleccione un empleado.");
} 

//-->
</script>

<script language="JavaScript" src="../servlet/Tool?scripts/links.js" type="text/JavaScript"></script>
<style type="text/css">
<!--
#Layer3 {
	position:absolute;
	left:0px;
	top:0px;
	width:524px;
	height:67px;
	z-index:6;
}
#Layer4 {
	position:absolute;
	left:8px;
	top:3px;
	width:450px;
	height:32px;
	z-index:6;
}
-->
</style>
<link href="../servlet/Tool?style/portalrrhh.css" rel="stylesheet" type="text/css">
</head>
<body  background="../servlet/Tool?images/new/main/fondo_busq.jpg" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="inicio();MM_preloadImages('../servlet/Tool?images/new/botones/cerrar_f2.gif','../servlet/Tool?images/new/botones/buscar_f2.gif','../servlet/Tool?images/new/botones/selec_f2.gif')">
<div class="titulo_grande" id="Layer4">B&uacute;squeda Alfab&eacute;tica </div>
<form name="form1" action="../servlet/S_SearchAlfabeticOrganica" method="post">
  <div id="Layer1" style="position:absolute; width:457px; height:85px; z-index:4; left: 5px; top: 43px;; visibility: visible"> 
          <table width="100%" border="0" cellpadding="0" cellspacing="1" class="tituloTabla">
            <tr>
              <td class="textos">B&uacute;squeda Rut </td>
              <td colspan="4"><input name="rut" type="text" class="detalleTablaChico" id="rut" size="20" maxlength="20"></td>
            </tr>
            <tr>
              <td class="textos">B&uacute;squeda Nombre </td>
              <td colspan="4"><input name="nombre" type="text" class="detalleTablaChico" id="nombre" size="40" maxlength="20" style="width:100%"></td>
            </tr>
            <tr> 
              <td width="158" class="textos">Fecha Ingreso</td>
              <td width="118"><input name="desde" type="text" class="detalleTablaChico" id="rut" size="2" maxlength="10"> 
                /
                <input name="desde2" type="text" class="detalleTablaChico" id="desde" size="2" maxlength="10">
                /
              <input name="desde3" type="text" class="detalleTablaChico" id="desde2" size="2" maxlength="10"></td>
              <td width="17" align="center">-</td>
              <td colspan="2"><input name="hasta" type="text" class="detalleTablaChico" id="hasta" size="2" maxlength="20">
/
  <input name="hasta2" type="text" class="detalleTablaChico" id="hasta2" size="2" maxlength="20">
/
<input name="hasta3" type="text" class="detalleTablaChico" id="hasta3" size="2" maxlength="20"></td>
            </tr>
            <tr> 
              <td width="158" class="textos">Unidades</td>
              <td colspan="4"> 
                <select name="selUnidad" class="detalleTablaChico" style="width:100%">
        	      <option value="-1">Seleccionar</option>
            	  <list unidadedes as i> 
	              	<option value="${i.codigo}">${i.nombre}</option>
	              </list> 
	            </select>              </td>
            </tr>
            <tr> 
              <td width="158" class="textos">Cargos</td>
              <td colspan="3"> 
                <select name="selCargo" class="detalleTablaChico" style="width:100%">
        	      <option value="-1">Seleccionar</option>
            	  <list cargos as i> 
	              	<option value="${i.codigo}">${i.nombre}</option>
	              </list> 
	            </select>              </td>
              <td width="102"><a href="#" onClick="javascript:buscar();return false;" onMouseOver="MM_swapImage('buscar_r5_c9','','../servlet/Tool?images/new/botones/buscar_f2.gif',1)" onMouseOut="MM_swapImgRestore()"><img name="buscar_r5_c9" src="../servlet/Tool?images/new/botones/buscar.gif" width="91" height="21" border="0"></a></td>
            </tr>
    </table>
  </div>
  
  <table border="0" cellpadding="0" cellspacing="0" width="467">
    <!-- fwtable fwsrc="Untitled" fwbase="desp_main.jpg" fwstyle="Dreamweaver" fwdocid = "742308039" fwnested="0" -->
    
    <tr> 
      <td rowspan="2">&nbsp;</td>
      <td>&nbsp;</td>
      <td rowspan="2">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr> 
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr> 
      <td height="316">&nbsp;</td>
      <td valign="top" height="316"> 
        
        <div id="DetalleUser" style="position:absolute; width:450px; height:150px; z-index:2; left: 9px; top: 177px; overflow: auto;; visibility: hidden"> 
          <table width="100%" border="0">
            <list varios as v> 
            <tr class="detalleTablaChico"> 
              <td width="16%" align="right"><span class="Estilo6">${v.rut}-${v.dig} 
              </span></td>
              <td width="34%"><a href="javascript:;" class="Estilo6" onClick="return openInfoRut('${v.rut}');">${v.nom}</a></td>
              <td width="25%"><span class="Estilo6">${v.apa}</span></td>
              <td width="25%"><span class="Estilo6">${v.ama}</span></td>
            </tr>
            </list> 
          </table>
        </div>
        <div id="CabeceraUser" style="position:absolute; width:450px; height:21px; z-index:2; left: 9px; top: 155px; overflow: auto;; visibility: hidden"> 
          <table width="100%" border="0">
            <tr bgcolor="#FFFFFF" class="detalleTablaChico"> 
              <td width="15%"><div align="center"><span class="Estilo3">Rut</span></div></td>
              <td width="33%"><div align="center"><span class="Estilo3">Nombre</span></div></td>
              <td width="25%"><div align="center"><span class="Estilo3">A. Paterno</span></div></td>
              <td width="27%"><div align="center"><span class="Estilo3">A. Materno</span></div></td>
            </tr>
          </table>
        </div>
        <div id="DetalleAdmin" style="position:absolute; width:450px; height:151px; z-index:2; left: 9px; top: 176px; overflow: auto;; visibility: hidden"> 
          <table width="100%" border="0">
            <list varios as v> 
            <tr class="detalleTablaChico"> 
              <td width="14%" align="right"><span class="Estilo6">${v.rut}-${v.dig} 
              </span></td>
              <td width="28%"><a href="javascript:;" class="Estilo4 Estilo7" onClick="return openInfoRut('${v.rut}');">${v.nom}</a></td>
              <td width="22%"><span class="Estilo6">${v.apa}</span></td>
              <td width="26%"><span class="Estilo3">${v.ama}</span></td>
              <td width="10%"> 
                <input type="radio" name="radio" value="${v.rut}" onClick="AsignaValor(this.value)">              </td>
            </tr>
            </list> 
          </table>
        </div>
        <div id="CabeceraAdmin" style="position:absolute; width:450px; height:21px; z-index:2; left: 9px; top: 153px; overflow: auto; visibility: hidden;"> 
          <table width="100%" border="0">
            <tr bgcolor="#FFFFFF" class="detalleTablaChico"> 
              <td width="14%"><div align="center"><span class="Estilo3">Rut</span></div></td>
              <td width="26%"><div align="center"><span class="Estilo3">Nombre</span></div></td>
              <td width="25%"><div align="center"><span class="Estilo3">A. Paterno</span></div></td>
              <td width="23%"><div align="center"><span class="Estilo3">A. Materno</span></div></td>
              <td width="12%"><div align="center"><span class="Estilo3">Sel</span></div></td>
            </tr>
          </table>
        </div>              </td>
      <td height="316" colspan="2">&nbsp;</td>
    </tr>
  </table>

  <input name="Operacion" type="hidden" id="Operacion">
  <div id="LayerSel" style="position:absolute; width:80px; height:26px; z-index:3; left: 265px; top: 327px; visibility: hidden;"><a href="javascript:;" onClick="Seleccionar();return false;" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image20','','../servlet/Tool?images/new/botones/selec_f2.gif',1)"><img name="Image20" border="0" src="../servlet/Tool?images/new/botones/selec.gif" width="91" height="21"></a></div>
  <input type="hidden" name="rutparam" value="-1">
  <div id="LayerCerrar" style="position:absolute; width:96px; height:4px; z-index:5; visibility: visible; left: 366px; top: 330px"><a href="javascript:window.close();" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image1','','../servlet/Tool?images/new/botones/cerrar_f2.gif',1)"><img src="../servlet/Tool?images/new/botones/cerrar.gif" name="Image1" width="91" height="21" border="0"></a></div>
</form>
</body>
</html>
