<html>
<head>
<title>B&#250;squeda por Org&#225;nica </title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<frameset cols="300,*" frameborder="NO" border="0" framespacing="0" rows="*"> 
  <frame name="treeFrame" scrolling="no" noresize src="../servlet/LoadTree?pag=buscar/organica/org_left.htm&tc=yes">
  <frame name="folderFrameG" src="../servlet/Tool?htm=buscar/organica/org_right.htm" scrolling="no">
</frameset>
<noframes><body bgcolor="#FFFFFF" text="#000000">

</body></noframes>
</html>
