 <HTML>
<HEAD>
<TITLE>Datos Previsionales</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<script language="JavaScript" src="Tool?htm=Gestion/script/ventanas.js">
</script>
<script language="JavaScript" type="text/JavaScript">

function VentAfp(rut) {
	document.getElementById("afp").src="../servlet/HistoriaAfp?rut="+rut;

}
function VentIsapre(rut) {
	document.getElementById("isapre").src="../servlet/HistoriaIsapre?rut="+rut;
	   
}


</script>
<script language="JavaScript">
<!--

function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_scanstyles(obj, prop) { //v8.0
  var inlinestyle = null; var ccProp = prop; var dash = ccProp.indexOf("-");
  while (dash != -1){ccProp = ccProp.substring(0, dash) + ccProp.substring(dash+1,dash+2).toUpperCase() + ccProp.substring(dash+2); dash = ccProp.indexOf("-");}
  inlinestyle = eval("obj.style." + ccProp);
  if(inlinestyle) return inlinestyle;
  var ss = document.styleSheets;
  for (var x = 0; x < ss.length; x++) { var rules = ss[x].cssRules;
	for (var y = 0; y < rules.length; y++) { var z = rules[y].style;
	  if(z[prop] && (rules[y].selectorText == '*[ID"' + obj.id + '"]')) {
        return z[prop];
  }  }  }  return "";
}

function MM_showHideLayers() { //v6.0
  var i,p,v,obj,args=MM_showHideLayers.arguments;
  for (i=0; i<(args.length-2); i+=3) if ((obj=MM_findObj(args[i]))!=null) { v=args[i+2];
    if (obj.style) { obj=obj.style; v=(v=='show')?'visible':(v=='hide')?'hidden':v; }
    obj.visibility=v; }
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}//-->
</script>
<script language="JavaScript" src="Tool?htm=Gestion/script/opcion_link.js"></script>
<link href="../servlet/Tool?style/gestion.css" rel="stylesheet" type="text/css">
<script language="JavaScript" src="../servlet/Tool?scripts/ExisteFoto.js"></script>
<style type="text/css">
<!--
#Hijofoto {
	position:absolute;
	left:0px;
	top:23px;
	width:54px;
	height:69px;
	z-index:7;
}
#PadFoto {
	position:absolute;
	left:5px;
	top:3px;
	width:62px;
	height:22px;
	z-index:8;
}
#PadPre {
	position:absolute;
	left:85px;
	top:10px;
	width:500px;
	height:22px;
	z-index:9;
}
#HijoPre {
	position:absolute;
	left:0px;
	top:22px;
	width:500px;
	height:300px;
	z-index:10;
}
#PadAfp {
	position:absolute;
	left:26px;
	top:106px;
	width:236px;
	height:20px;
	z-index:10;
	visibility: hidden;
}
#HijoAfp {
	position:absolute;
	left:-1px;
	top:22px;
	width:500px;
	height:200px;
	z-index:11;
}
#PadIsapre {
	position:absolute;
	left:86px;
	top:76px;
	width:500px;
	height:22px;
	z-index:11;
	visibility: hidden;
}
#HijoIsapre {
	position:absolute;
	left:0px;
	top:22px;
	width:500px;
	height:200px;
	z-index:12;
}
#HijoTool {position:absolute;
	left:0px;
	top:21px;
	width:70px;
	height:141px;
	z-index:10;
}
#PadTool {position:absolute;
	left:6px;
	top:124px;
	width:70px;
	height:22px;
	z-index:9;
}
-->
</style>
</HEAD>
<BODY>
<div id="PadPre">
  <table width="500" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="400"><img src="../servlet/Tool?images/Gestion/titulos/datospre.gif" width="400" height="22"></td>
      <td height="22" background="../servlet/Tool?images/Gestion/topLayers/fondo.gif">&nbsp;</td>
      <td width="20"><img src="../servlet/Tool?images/Gestion/topLayers/min.gif" alt="Minimizar" width="20" height="22" onClick="MM_showHideLayers('HijoPre','','hide')"></td>
      <td width="20"><img src="../servlet/Tool?images/Gestion/topLayers/max.gif" alt="Maximizar" width="20" height="22" onClick="MM_showHideLayers('HijoPre','','show')"></td>
      <td width="21"><img src="../servlet/Tool?images/Gestion/topLayers/bordeder.gif" width="20" height="22"></td>
    </tr>
  </table>
  
<span id="HijoPre">
	  <table width="500" height="300" border="0" cellpadding="0" cellspacing="0" class="tabla_layer">
  <tr valign="top">
    <td align="center" valign="top">
        <table width="100%" height="124">
          <tr>
            <td height="11" colspan="2" valign="top" class="texto_negro_bold">${nombre}</td>
          </tr>
          <tr>
            <td height="11" colspan="2" valign="top" class="texto_negro_bold">${cargo}</td>
          </tr>
          <tr>
            <td height="20" colspan="2" align="center" class="texto_negro_bold">AFP: ${afp}</td>
          </tr>
          <tr>
            <td width="26%" height="19" valign="top" class="texto_azul_bold">Ingreso AFP:</td>
            <td width="74%" height="19" valign="top" class="texto_negro">${ingre_afp}</td>
          </tr>
          <tr>
            <td valign="top" class="texto_azul_bold">Cotizaci&oacute;n (%):</td>
            <td valign="top" class="texto_negro">${cotizacion}</td>
          </tr>
          <tr>
            <td height="6" valign="top" class="texto_azul_bold">Cotizaci&oacute;n adicional:</td>
            <td height="6" valign="top" class="texto_negro">${monto_adicional} ${moneda_adicional}</td>
          </tr>
          <tr>
            <td height="6" valign="top" class="texto_azul_bold">Ahorro voluntario:</td>
            <td height="6" valign="top" class="texto_negro">${monto_volunt} I ${moneda_volunt}</td>
          </tr>
          <tr>
            <td height="6" valign="top" class="texto_azul_bold">Jubilado:</td>
            <td height="6" valign="top" class="texto_negro">${jubilado}</td>
          </tr>
          <tr>
            <td valign="top" class="texto_azul_bold">&nbsp;</td>
            <td valign="top" class="texto_negro">&nbsp;</td>
          </tr>
        </table>
        <table width="100%">
          <tr>
            <td colspan="2" align="center" class="texto_azul_bold"><span class="texto_negro_bold">ISAPRE: ${isapre}</span></td>
          </tr>
          <tr>
            <td width="26%" class="texto_azul_bold">Ingreso Isapre:</td>
            <td width="74%" class="texto_negro">${ing_isap}</td>
          </tr>
          <tr>
            <td class="texto_azul_bold">Cotizaci&oacute;n (%):</td>
            <td class="texto_negro">${cotisap}</td>
          </tr>
          <tr>
            <td class="texto_azul_bold">Cotizaci&oacute;n Adicional:</td>
            <td class="texto_negro">${adicsal} I ${mone_adicsal}</td>
          </tr>
        </table>
<!-- 
        <table width="60%">
              
              <tr>
                <td align="center"><if Control("df_perfil_lab", rut)></if><a href="javascript:;" onClick="VentAfp(${rut});return false"><img src="../servlet/Tool?images/Gestion/botones/afp.gif" name="afp_up" width="120" height="24" border="0" onClick="MM_showHideLayers('PadAfp','','show')"></a></td>
              </tr>
              <tr>
                <td align="center"><a href="javascript:;" onClick="VentIsapre(${rut});return false"><img src="../servlet/Tool?images/Gestion/botones/isapre.gif" name="Image1" width="120" height="24" border="0" onClick="MM_showHideLayers('PadIsapre','','show')"></a></td>
              </tr>
              <tr>
                <td align="center"><if Control("df_sim_rta", rut)></if></td>
              </tr>
      </table>
 -->      
      </td>
  </tr>
</table>
</span></div>


<div id="PadFoto">
  <table width="72" height="22" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="42"><img src="../servlet/Tool?images/Gestion/titulos/foto.gif" width="42" height="22"></td>
      <td width="10" background="../servlet/Tool?images/Gestion/topLayers/fondo.gif">&nbsp;</td>
      <td width="21"><img src="../servlet/Tool?images/Gestion/topLayers/bordeder.gif" width="20" height="22"></td>
    </tr>
  </table>
<div id="Hijofoto">
  <table width="72" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="center"><img src="../servlet/Tool?images/trabajadores/fotos/${foto}" width="62" height="81" onerror="existeFoto(this)" border="1"></td>
    </tr>
    <tr>
      <td align="center" class="texto_negro_bold_chico">${rut2}</td>
    </tr></table></div>
</div>
<div id="PadAfp">
  <table width="500" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="400"><img src="../servlet/Tool?images/Gestion/titulos/historia_afp.gif" width="400" height="22"></td>
      <td height="22" background="../servlet/Tool?images/Gestion/topLayers/fondo.gif">&nbsp;</td>
      <td width="20"><img src="../servlet/Tool?images/Gestion/topLayers/min.gif" alt="Minimizar" width="20" height="22" onClick="MM_showHideLayers('HijoAfp','','hide')"></td>
      <td width="20"><img src="../servlet/Tool?images/Gestion/topLayers/max.gif" alt="Maximizar" width="20" height="22" onClick="MM_showHideLayers('HijoAfp','','show')"></td>
      <td width="21"><img src="../servlet/Tool?images/Gestion/topLayers/bordeder.gif" width="20" height="22"></td>
    </tr>
  </table>
<div id="HijoAfp">
<table width="100%" height="200" border="0" cellpadding="0" cellspacing="0" class="tabla_layer">
      <tr>
        <td valign="top">
<iframe id="afp" height="200" width="498" frameborder="0" scrolling="no"></iframe>
</td>
      </tr>
  </table>
</div>
</div>

<div id="PadIsapre">
  <table width="500" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="400"><img src="../servlet/Tool?images/Gestion/titulos/historia_isapre.gif" width="400" height="22"></td>
      <td height="22" background="../servlet/Tool?images/Gestion/topLayers/fondo.gif">&nbsp;</td>
      <td width="20"><img src="../servlet/Tool?images/Gestion/topLayers/min.gif" alt="Minimizar" width="20" height="22" onClick="MM_showHideLayers('HijoIsapre','','hide')"></td>
      <td width="20"><img src="../servlet/Tool?images/Gestion/topLayers/max.gif" alt="Maximizar" width="20" height="22" onClick="MM_showHideLayers('HijoIsapre','','show')"></td>
      <td width="21"><img src="../servlet/Tool?images/Gestion/topLayers/bordeder.gif" width="20" height="22"></td>
    </tr>
  </table>
<div id="HijoIsapre">
<table width="100%" height="200" border="0" cellpadding="0" cellspacing="0" class="tabla_layer">
      <tr>
        <td valign="top">
<iframe id="isapre" height="200" width="498" frameborder="0" scrolling="no"></iframe>
</td>
  </tr>
  </table>
</div>
</div>
</BODY>
</HTML>