<html>
<head>
<title>Certificado</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<SCRIPT LANGUAGE="JavaScript" src="../servlet/Tool?scripts/lib/imprimir.js">
</script>
<script language=JavaScript>
	var message="Click Derecho Anulado ";
	function clickIE4(){
		if (event.button==2){
			alert(message);
		return false;
		}
	}

	function clickNS4(e){
		if (document.layers||document.getElementById&&!document.all){
			if (e.which==2||e.which==3){
				alert(message);
				return false;
			}
		}
	}
	
	if (document.layers){
		document.captureEvents(Event.MOUSEDOWN);
		document.onmousedown=clickNS4;
	}
	else if (document.all&&!document.getElementById){
		document.onmousedown=clickIE4;
	}
	
	document.oncontextmenu=new Function("alert(message);return false")
// -->
</script>
<script language="JavaScript">
<!--

function Imprimir() {
	document.form1.impresion.value="S";
	Layer1.style.visibility="hidden";
    printPage();
    Layer1.style.visibility="visible";
    
}
//-->
</script>

<link href="../servlet/Tool?style/portalrrhh.css" rel="stylesheet" type="text/css">
</head>

<body bgcolor="#FFFFFF" text="#000000">
<table width="100%" height="100%"  border="1" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top">
<table width="100%" border="0" align="center">
  <tr>
    <td> 
        <table width="100%" border="0" cellspacing="1" cellpadding="2" align="left">
          <tr> 
            <td width="17%"><img src="../servlet/Tool?images/new/logos/${GetImagenEmpresa("logo.gif")}" width="152" height="61"></td>
            <td width="75%">&nbsp;</td>
            <td width="8%"><div id="Layer1" style="position:absolute; left:569px; top:24px; width:84px; height:39px; z-index:1"><a href="#" onClick="Imprimir()"><img src="../servlet/Tool?images/botones/imprimir_up.jpg" alt="IMPRIMIR" name="Image1" width="76" height="43" border="0"></a></div></td>
          </tr>
        </table>    </td>
  </tr>
</table>
<span class="tituloTabla">CERTIFICADO DE REMUNERACIONES Y ANTIGUEDAD</span>
<hr width="100%" size="1" noshade>
<if !no_datos>
<table width="95%" height="579" border="0" align="center" class="detalleTablaChico">

  <tr> 
    <td height="100"><p align="justify"><strong>${empresa}</strong>, certifica que el se&ntilde;or(a) <strong>${nombre}</strong>, 
        Rut <strong>${rut_trab}</strong> es trabajador(a) de nuestra Instituci&oacute;n 
        desde el <strong>${ingreso}</strong>, recibiendo la siguiente remuneraci&oacute;n:</p>
      <table width="431"  border="0" align="center" cellpadding="0" cellspacing="1">
        <!--DWLayoutTable-->
        <tr>
          <td height="18" colspan="2" class="inputTextColor"><strong>Haberes:</strong></td>
          </tr>
        <tr>
          <td width="53%" height="18" class="inputText">Sueldo Base Mensual</td>
          <td align="right" class="detalleTabla">${sueldo_base}</td>
          </tr>
        <tr>
          <td height="21" class="inputText">Otros Bonos (promedio mensual) </td>
          <td align="right" class="detalleTabla">${bonos}</td>
          </tr>
        <tr>
          <td height="21" class="inputText">Promedio Comisiones </td>
          <td align="right" class="detalleTabla">${comisiones}</td>
          </tr>
        <tr>
          <td height="22" colspan="2" class="detalleTablaChico"><hr noshade></td>
        </tr>
        <tr>
          <td height="21" align="right" class="inputText">Total Haberes: </td>
          <td align="right" class="detalleTabla">${total_haberes}</td>
          </tr>
        <tr>
          <td height="21" colspan="2" class="detalleTablaChico"><!--DWLayoutEmptyCell-->&nbsp;</td>
          </tr>
        <tr>
          <td height="18" colspan="2" class="inputTextColor"><strong>Descuentos:</strong></td>
          </tr>
        <tr>
          <td height="21" class="inputText">Imposiciones</td>
          <td align="right" class="detalleTabla">${imposiciones}</td>
          </tr>
        <tr>
          <td height="21" class="inputText">Impuestos</td>
          <td align="right" class="detalleTabla">${impuestos}</td>
          </tr>
        <tr>
          <td height="22" colspan="2" align="right" class="detalleTablaChico"><hr noshade></td>
          </tr>
        <tr>
          <td height="21" align="right" class="inputText">Total Descuentos:</td>
          <td align="right" class="detalleTabla">${total_descuentos}</td>
          </tr>
        <tr>
          <td height="22" colspan="2" class="detalleTablaChico"><hr noshade></td>
          </tr>
        <tr>
          <td height="21" align="right" class="inputText">><strong>L&iacute;quido a pago:</strong></td>
          <td align="right" class="detalleTabla"><strong>${liquido}</strong></td>
          </tr>
      </table>      
      <table width="431"  border="0" align="center">
	  
        <tr>
          <td width="425" height="20" align="center" valign="bottom">
            <p><img src="../servlet/Tool?images/new/certificados/firma.gif" width="112" height="140"></p>          </td>
        </tr>
        <tr>
          <td align="center"><font size="2" face="Arial, Helvetica, sans-serif"><strong>Nombre</strong><br>
            Cargo<br>
          </font></td>
        </tr>
      </table>      </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr> 
    <td class="detalleTablaChico"> <p align="justify">Se extiende el presente certificado a petici&oacute;n del interesado, para los fines 
        que estime pertinentes.</td>
  </tr>
  <tr align="left"> 
    <td height="18" class="detalleTablaChico">${fecha}</td>
  </tr>
</table>
  <else>
<table width="95%" border="0" align="center" height="100">  
   <tr align="left"> 
    <td height="18" align="center"><strong>Debe tener al menos 3 meses de antiguedad o contar con informaci&oacute; procesada para obtener este certificado.</strong></td>
  </tr>
</table>  
  </if></td>
  </tr>
  <tr class="inputText">
    <td align="center">${empresa}
          <form name="form1" method="post" action="../servlet/Certificado" >
		        <input type="hidden" name="certificado" value="${certificado}">
		        <input type="hidden" name="peri_liq" value="${peri_liq}">
		        <input type="hidden" name="impresion" value="N"> 
		  </form>
    </td>
  </tr>
</table>
</body>
</html>