<html>
<head>
<title>certificados</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<!-- Fireworks 4.0  Dreamweaver 4.0 target.  Created Thu May 30 22:00:57 GMT-0400 (Hr. est&#225;ndar del Pac&#237;fico SA) 2002-->
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
//-->
</script>
</head>
<body bgcolor="#9999CC" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table border="0" cellpadding="0" cellspacing="0" width="503">
<!-- fwtable fwsrc="Untitled" fwbase="certificados.jpg" fwstyle="Dreamweaver" fwdocid = "742308039" fwnested="0" -->
  <tr>
   <td><img src="../servlet/Tool?images/certificados/spacer.gif" width="22" height="1" border="0"></td>
   <td><img src="../servlet/Tool?images/certificados/spacer.gif" width="65" height="1" border="0"></td>
   <td><img src="../servlet/Tool?images/certificados/spacer.gif" width="38" height="1" border="0"></td>
   <td><img src="../servlet/Tool?images/certificados/spacer.gif" width="201" height="1" border="0"></td>
   <td><img src="../servlet/Tool?images/certificados/spacer.gif" width="49" height="1" border="0"></td>
   <td><img src="../servlet/Tool?images/certificados/spacer.gif" width="84" height="1" border="0"></td>
   <td><img src="../servlet/Tool?images/certificados/spacer.gif" width="44" height="1" border="0"></td>
   <td><img src="../servlet/Tool?images/certificados/spacer.gif" width="1" height="1" border="0"></td>
  </tr>

  <tr>
   <td colspan="7"><img name="../servlet/Tool?images/certificados/certificados_r1_c1" src="../servlet/Tool?images/certificados/certificados_r1_c1.jpg" width="503" height="46" border="0"></td>
   <td><img src="../servlet/Tool?images/certificados/spacer.gif" width="1" height="46" border="0"></td>
  </tr>
  <tr>
   <td rowspan="4"><img name="../servlet/Tool?images/certificados/certificados_r2_c1" src="../servlet/Tool?images/certificados/certificados_r2_c1.jpg" width="22" height="314" border="0"></td>
    <td rowspan="3" bgcolor="D5D3E0">&nbsp;</td>
    <td colspan="3" bgcolor="D5D3E0">&nbsp;</td> 
    <td rowspan="3" bgcolor="D5D3E0">&nbsp;</td>
   <td rowspan="4"><img name="../servlet/Tool?images/certificados/certificados_r2_c7" src="../servlet/Tool?images/certificados/certificados_r2_c7.jpg" width="44" height="314" border="0"></td>
   <td><img src="../servlet/Tool?images/certificados/spacer.gif" width="1" height="30" border="0"></td>
  </tr>
  <tr>
   <td><img name="../servlet/Tool?images/certificados/certificados_r3_c3" src="../servlet/Tool?images/certificados/certificados_r3_c3.jpg" width="38" height="28" border="0"></td>
   <td><img name="../servlet/Tool?images/certificados/certificados_r3_c4" src="../servlet/Tool?images/certificados/certificados_r3_c4.jpg" width="201" height="28" border="0"></td>
   <td><img name="../servlet/Tool?images/certificados/certificados_r3_c5" src="../servlet/Tool?images/certificados/certificados_r3_c5.jpg" width="49" height="28" border="0"></td>
   <td><img src="../servlet/Tool?images/certificados/spacer.gif" width="1" height="28" border="0"></td>
  </tr>
  <tr>
    <td colspan="3"><img name="../servlet/Tool?images/certificados/certificados_r4_c3" src="../servlet/Tool?images/certificados/certificados_r4_c3.jpg" width="288" height="225" border="0"></td>
   <td><img src="../servlet/Tool?images/certificados/spacer.gif" width="1" height="225" border="0"></td>
  </tr>
  <tr>
   <td colspan="5"><img name="../servlet/Tool?images/certificados/certificados_r5_c2" src="../servlet/Tool?images/certificados/certificados_r5_c2.jpg" width="437" height="31" border="0"></td>
   <td><img src="../servlet/Tool?images/certificados/spacer.gif" width="1" height="31" border="0"></td>
  </tr>
</table>
<div id="Layer1" style="position:absolute; width:219px; height:160px; z-index:1; left: 125px; top: 119px;"> 
  <div align="center">
    <select name="select" size="10">
    </select>
  </div>
</div>
</body>
</html>
