
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" >
  <tr>
    <td align="center" style="border:1px solid #333;"><strong>COMPROBANTE DE FERIADO LEGAL <br>
LABORATORIO SANDERSON S.A.
</strong>
	</td>
    <td>
    <table width="100%" border="0" cellspacing="1" cellpadding="1" style="border:1px solid #333;">
      <tr>
        <td colspan="2" align="center"><img src="../servlet/Tool?images/new/logos/${GetImagenEmpresa("logo.gif")}"></td>
        </tr>
      <tr>
        <td style="border:1px solid #333;">C&#243;digo</td>
        <td style="border:1px solid #333;">RH-PG-006/R-03</td>
      </tr>
      <tr>
        <td style="border:1px solid #333;">Versi&#243;n</td>
        <td style="border:1px solid #333;">00</td>
      </tr>
      <tr>
        <td style="border:1px solid #333;">P&#225;gina</td>
        <td style="border:1px solid #333;">1 de 1</td>
      </tr>
    </table>

    </td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="1" cellpadding="1" align="center" style="margin-top:20px;">
  <tr>
    <td><strong>IDENTIFICACI&#211;N DEL TRABAJADOR</strong></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td colspan="3">&nbsp;</td>
    <td>Santiago,</td>
    <td>___</td>
    <td>de</td>
    <td>_________</td>
    <td>de</td>
    <td>___</td>
  </tr>
  <tr>
    <td>NOMBRE EMPLEADO</td>
    <td>____________________</td>
    <td>RUT</td>
    <td colspan="3">___________</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>GERENTE/DEPTO</td>
    <td>____________________</td>
    <td>FECHA DE INGRESO</td>
    <td>___ /</td>
    <td>___ /</td>
    <td>___</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td colspan="3">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="12" align="center"><strong>Agradecer&#233; a usted autorizarme para hacer uso de mi feriado legal, de  acuerdo al siguiente detalle</strong>:</td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="1" cellpadding="1" align="center" style="margin-top:20px; border:1px solid #333;">
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" style="padding-left:20px;"><strong>N&#186; D&#205;AS H&#193;BILES</strong></td>
    <td width="99">__________</td>
    <td width="80"><strong>PERIODO</strong></td>
    <td width="72">_________</td>
    <td width="56"><strong>DESDE</strong></td>
    <td width="36">___ /</td>
    <td width="36">___ /</td>
    <td width="29">___</td>
    <td width="61"><strong>HASTA </strong></td>
    <td width="36">___ /</td>
    <td width="36">___ /</td>
    <td width="41">___</td>
  </tr>
  <tr>
    <td colspan="2" style="padding-left:20px;"><strong>N&#186; D&#205;AS PROGRESIVOS</strong></td>
    <td>__________</td>
    <td><strong>PERIODO</strong></td>
    <td>_________</td>
    <td><strong>DESDE</strong></td>
    <td>___ /</td>
    <td>___ /</td>
    <td>___</td>
    <td><strong>HASTA </strong></td>
    <td>___ /</td>
    <td>___ /</td>
    <td>___</td>
  </tr>
  <tr>
    <td width="193" style="padding-left:20px;"><strong>FECHA DE REINTEGRO</strong></td>
    <td width="123">
    <table>
    	<tr>
            <td width="33">___ /</td>
            <td width="33">___ /</td>
            <td width="30">___</td>
        </tr>
    </table>
    </td>
    <td>
    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td colspan="3">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
   <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="1" cellpadding="1" align="center" style="margin-top:20px; border:1px solid #333;">
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="5" align="center"><strong>SALDO DE VACACIONES <br>
USO EXCLUSIVO DE RECURSOS HUMANOS</strong>
</td>
  </tr>
  <tr>
    <td style="padding-left:20px;"><strong>N&#186; D&#205;AS PENDIENTES</strong></td>
    <td>__________</td>
    <td style="padding-left:20px; padding-right:20px;"><strong>PERIODO</strong></td>
    <td>__________</td>
    <td width="30%">&nbsp;</td>
  </tr>
  <tr>
    <td style="padding-left:20px;"><strong>N&#186; D&#205;AS PROGRESIVOS PENDIENTES</strong></td>
    <td>__________</td>
    <td style="padding-left:20px; padding-right:20px;"><strong>PERIODO</strong></td>
    <td>__________</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="margin-top:20px;">
  <tr align="center">
    <td>&nbsp;</td>
    <td>_________________________</td>
    <td>______________________</td>
    <td>___________________________</td>
    <td>&nbsp;</td>
  </tr>
  <tr align="center">
    <td width="10%">&nbsp;</td>
    <td><strong>FIRMA EMPLEADO</strong></td>
    <td><strong>FIRMA JEFATURA</strong></td>
    <td><strong>V&#186;B&#186; RECURSOS HUMANOS</strong></td>
    <td  width="10%">&nbsp;</td>
  </tr>
</table>