<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Documento sin t&iacute;tulo</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript" src="../servlet/Tool?scripts/links.js" type="text/JavaScript"></script>
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_showHideLayers() { //v6.0
  var i,p,v,obj,args=MM_showHideLayers.arguments;
  for (i=0; i<(args.length-2); i+=3) if ((obj=MM_findObj(args[i]))!=null) { v=args[i+2];
    if (obj.style) { obj=obj.style; v=(v=='show')?'visible':(v=='hide')?'hidden':v; }
    obj.visibility=v; }
}
//-->
</script>
</head>

<body background="../servlet/Tool?images/new/main/main_solo.jpg" style="background-repeat:no-repeat" leftmargin="0" topmargin="0">
<table width="666">
	<tr>
    <td height="40" align="center"><img src="../servlet/Tool?images/new/titulos/misdatos.jpg" width="436" height="29"></td>
	</tr>
</table>

<table width="660">
  <tr>
    <td width="652" height="272" align="center">
	<table width="62%" cellspacing="11">
      <tr>
        <td width="28%"><a href="../servlet/S_MuestraInfoRut"><img src="../servlet/Tool?images/new/iconos/datosper.jpg" width="109" height="110" border="0"></a></td>
        <td width="28%"><a href="../servlet/InitCertif"><img src="../servlet/Tool?images/new/iconos/remunera.jpg" width="109" height="110" border="0" onMouseOver="MM_showHideLayers('flegal','','hide','cprogre','','hide')"></a></td>
        <td width="44%"><a href="../servlet/S_DatosPrev"><img src="../servlet/Tool?images/new/iconos/datospre.jpg" width="109" height="110" border="0"></a></td>
        <td width="44%"><a href="../servlet/S_GrupoFamiliar"><img src="../servlet/Tool?images/new/iconos/grupofam.jpg" width="109" height="110" border="0"></a></td>
        <td width="44%"><a href="../servlet/S_Admtiempo"><img src="../servlet/Tool?images/new/iconos/horasext.jpg" width="109" height="111" border="0"></a></td>
      </tr>
      <tr>
        <td><a href="../servlet/S_DatosContrato"><img src="../servlet/Tool?images/new/iconos/datoscont.jpg" width="109" height="110" border="0"></a></td>
        <td><a href="../servlet/S_LicenciasMedicas"><img src="../servlet/Tool?images/new/iconos/licmedi.jpg" width="109" height="110" border="0"></a></td>
        <td><a href="../servlet/S_Formacion"><img src="../servlet/Tool?images/new/iconos/forma.jpg" width="109" height="110" border="0"></a></td>
        <td><a href="javascript:AbrirCartolaVaca();"><img src="../servlet/Tool?images/new/iconos/cart_vac.jpg" width="109" height="110" border="0" onMouseOver="MM_showHideLayers('flegal','','hide','cprogre','','hide')"></a></td>
        <td><a href="Tool?htm=html/paginas/doc.htm?htm=certificados/selec_certificados.html"><img src="../servlet/Tool?images/new/iconos/docum.jpg" width="109" height="110" border="0"></a></td>
      </tr>
    </table></td>
</tr>
</table>
</td>
  </tr>
</table>
</body>
</html>
