<style type="text/css">

	body  {font-family: "Times New Roman", Times, serif; font-size:9px; font-style:italic; color:#006; margin:0; padding:0;}
</style>
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td align="center" style="border:1px solid #333;"><strong>REGISTRO DE SOLICITUD DE PERMISO<br>
		LABORATORIO SANDERSON S.A.</strong>
	</td>
    <td>
    <table width="100%" border="0" cellspacing="1" cellpadding="1" style="border:1px solid #333;">
      <tr>
        <td colspan="2" align="center"><img src="../servlet/Tool?images/new/logos/${GetImagenEmpresa("logo.gif")}"></td>
        </tr>
      <tr>
        <td style="border:1px solid #333;">N&#176;</td>
        <td style="border:1px solid #333;">RH-PG-005/R-01</td>
      </tr>
      <tr>
        <td style="border:1px solid #333;">Versi&#243;n</td>
        <td style="border:1px solid #333;">01</td>
      </tr>
      <tr>
        <td style="border:1px solid #333;">V&#225;lido Desde</td>
        <td style="border:1px solid #333;">09/2010</td>
      </tr>
      <tr>
        <td style="border:1px solid #333;">V&#225;lido Hasta</td>
        <td style="border:1px solid #333;">09/2012</td>
      </tr>
      <tr>
        <td style="border:1px solid #333;">P&#225;gina</td>
        <td style="border:1px solid #333;">1 de 1</td>
      </tr>
    </table>

    </td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="1" cellpadding="1" align="center" style="margin-top:20px;">
  <tr>
    <td width="266"><strong>1. IDENTIFICACI&#211;N DEL TRABAJADOR</strong></td>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td>NOMBRE </td>
    <td colspan="3"><hr></td>
  </tr>
  <tr>
    <td>&#193;REA</td>
    <td colspan="3"><hr></td>
  </tr>
  <tr>
    <td>JEFATURA DIRECTA</td>
    <td colspan="3"><hr></td>
  </tr>
  <tr>
    <td colspan="2" align="left">FECHA DE INGRESO</td>
    <td width="150" align="center">
         <table width="150">
         	<tr>
                <td>___ /</td>
                <td>___ /</td>
                <td>___</td>
            </tr>
        </table>
    </td>
    <td width="473" align="center"></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="margin-top:20px;">
  <tr>
    <td colspan="3"><strong>2. TIPOS DE PERMISOS</strong></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
   <tr>
    <td colspan="3"><strong></strong></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="20" height="20" style="border:solid 1px #333;"></td>
    <td style="padding-left:10px;">D&#205;A ADOC. AL FERIADO</td>
    <td>
     <table width="150">
         	<tr>
                <td>___ /</td>
                <td>___ /</td>
                <td>___</td>
            </tr>
        </table>
    </td>
    <td></td>
    <td  align="right" style="padding-right:10px;">CONTEO:</td>
    <td width="20" height="20" style="border:solid 1px #333;"></td>
    <td  align="right" style="padding-right:10px;">DE SALDO:</td>
    <td width="20" height="20" style="border:solid 1px #333;">&nbsp;</td>
  </tr>
  <tr>
    <td height="15"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td width="20" height="20" style="border:solid 1px #333;">&nbsp; </td>
    <td style="padding-left:10px;">D&#205;A LIBRE</td>
    <td>
     <table width="150">
         	<tr>
                <td>___ /</td>
                <td>___ /</td>
                <td>___</td>
            </tr>
        </table>
    </td>
    <td>&nbsp;</td>
    <td colspan="2">DOMINGO TRABAJADO:</td>
    <td colspan="2">
      <table width="200">
        <tr>
          <td>Hasta:</td>
          <td>___ /</td>
          <td>___ /</td>
          <td>___</td>
          </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="15"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td width="20" height="20" style="border:solid 1px #333;">&nbsp;</td>
    <td style="padding-left:10px;">MATRIMONIO</td>
    <td>
     <table width="200">
         	<tr>
                <td>Desde:</td>
                <td>___ /</td>
                <td>___ /</td>
                <td>___</td>
            </tr>
        </table>
    </td>
    <td colspan="3">
      <table width="200">
        <tr>
          <td>Hasta:</td>
          <td>___ /</td>
          <td>___ /</td>
          <td>___</td>
          </tr>
        </table>
    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="15"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td width="20" height="20" style="border:solid 1px #333;">&nbsp;</td>
    <td style="padding-left:10px;">FALLECIMIENTO</td>
    <td>
     <table width="200">
         	<tr>
                <td>Desde:</td>
                <td>___ /</td>
                <td>___ /</td>
                <td>___</td>
            </tr>
        </table>
    </td>
    <td colspan="3">
      <table width="200">
        <tr>
          <td>Hasta:</td>
          <td>___ /</td>
          <td>___ /</td>
          <td>___</td>
          </tr>
        </table>
    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="15"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td width="20" height="20" style="border:solid 1px #333;">&nbsp;</td>
    <td style="padding-left:10px;">PERMISO SIN GOCE</td>
    <td>
 	 <table width="200">
         	<tr>
                <td>Desde:</td>
                <td>___ /</td>
                <td>___ /</td>
                <td>___</td>
            </tr>
        </table>
    </td>
    <td colspan="3">
      <table width="200">
        <tr>
          <td>Hasta:</td>
          <td>___ /</td>
          <td>___ /</td>
          <td>___</td>
          </tr>
        </table>
    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="15"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td width="20" height="20" style="border:solid 1px #333;">&nbsp;</td>
    <td style="padding-left:10px;">POST NATAL MASC:</td>
    <td>
     <table width="200">
         	<tr>
                <td>Desde:</td>
                <td>___ /</td>
                <td>___ /</td>
                <td>___</td>
            </tr>
        </table>
    </td>
    <td colspan="3">
      <table width="200">
        <tr>
          <td>Hasta:</td>
          <td>___ /</td>
          <td>___ /</td>
          <td>___</td>
          </tr>
        </table>
    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="15"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td width="20" height="20" style="border:solid 1px #333;">&nbsp;</td>
    <td style="padding-left:10px;">OTROS PERMISOS</td>
    <td>
     <table width="200">
         	<tr>
                <td>Desde:</td>
                <td>___ /</td>
                <td>___ /</td>
                <td>___</td>
            </tr>
        </table>
    </td>
    <td colspan="3">
      <table width="200">
        <tr>
          <td>Hasta:</td>
          <td>___ /</td>
          <td>___ /</td>
          <td>___</td>
          </tr>
        </table>
    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="20"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td style="padding-left:10px;">MONTO DEL PERMISO</td>
    <td colspan="6"><hr></td>
  </tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="margin-top:20px;">
  <tr>
    <td  width="20" height="20" style="border:solid 1px #333;">&nbsp;</td>
    <td style="padding-left:10px;">PERMISO</td>
    <td>
    <table width="150">
         	<tr>
                <td>___ /</td>
                <td>___ /</td>
                <td>___</td>
            </tr>
        </table>
    </td>
    <td>(Permiso durante la J. Trabajo)</td>
    <td width="15%">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td style="padding-left:10px;">HORA DE SALIDA</td>
    <td style="border:solid 1px #333;">&nbsp;</td>
    <td align="right" style="padding-right:10px;">HORA DE INGRESO:</td>
    <td style="border:solid 1px #333;">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td style="padding-left:10px;">TOTAL HRS PERMISO</td>
    <td width="20" height="20" style="border:solid 1px #333;">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td style="padding-left:10px;">MOTIVO DEL PERMISO</td>
    <td style="border:solid 1px #333;">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td style="padding-left:10px;">DEVOLUCI&#211;N DEL PERMISO</td>
    <td>
    <table width="150">
         	<tr>
                <td>___ /</td>
                <td>___ /</td>
                <td>___</td>
            </tr>
        </table>
    </td>
    <td align="right" style="padding-right:10px;">N&#176; HORAS:</td>
    <td style="border:solid 1px #333;">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>
    <table width="150">
         	<tr>
                <td>___ /</td>
                <td>___ /</td>
                <td>___</td>
            </tr>
      </table>
    </td>
    <td align="right" style="padding-right:10px;">N&#176; HORAS:</td>
    <td style="border:solid 1px #333;">&nbsp;</td>
  </tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="margin-top:20px;">
  <tr align="center">
    <td>&nbsp;</td>
    <td>_________________________</td>
    <td>______________________</td>
    <td>___________________________</td>
    <td>&nbsp;</td>
  </tr>
  <tr align="center">
    <td width="10%">&nbsp;</td>
    <td><strong>NOMBRE/FIRMA/FECHA <br> EMPLEADO</strong></td>
    <td><strong>NOMBRE/FIRMA/FECHA <br> JEFATURA o SUPERVISOR</strong></td>
    <td><strong>NOMBRE/FIRMA/FECHA <br> V&#186;B&#186; RECURSOS HUMANOS</strong></td>
    <td  width="10%">&nbsp;</td>
  </tr>
</table>
