 <HTML>
<HEAD>
<title>Arbol Mantener Usuarios</title>
<script language="JavaScript" src="Tool?htm=Gestion/script/Formularios.js">
</script>
<script language='JavaScript'>
function SeteaPos(formulario){
  formulario.pos.value="1";

}

function Ejecuta(idEmp,idUni,nombre, tipo){
//	alert(idEmp + " " + idUni + " " + nombre + " " + tipo);
	if (tipo == "U") {
		document.form1.empresa.value=idEmp;
		document.form1.unidad.value=idUni;
		document.form1.descrip.value=nombre;
	}
	else {
		document.form1.empresa.value="";
		document.form1.unidad.value="";//la unidad insertada sera el padre de todas
		document.form1.descrip.value="";
		NoSeleccionarNodo();
		alert("Esta es una Empresa, debe seleccionar una Unidad");
	}
}

function Envia() {   
	var unid = document.form1.unidad.value;  
	var desc = document.form1.descrip.value;  
	if (unid!=''){
		//VerContFormm(document.form1)
		document.form1.submit();
	}   
	else 
		alert ('Seleccione una Unidad.');
}
</script>
<script>
<!--

function inicio() {
    var rut=document.formBusRut.br.value;
	inicioArbol();
	if (window.unidadBuscada) {
		if ((!window.unidadEncontrada)||(rut!="")) 
		  LayerVerMas.style.visibility="hidden";
	}
	document.formBusCod.be.value = window.resulEmp;
	document.formBusCod.bu.value = window.resulUni;
	document.formBusGlosa.bu.value = window.resulUni;
	document.formBusRut.br.value = "${br}";
	if ( (document.formBusRut.br.value!="") && (!window.unidadEncontrada) ) 
		alert("El trabajdor con rut '"+document.formBusRut.br.value+"' no se encuentra en la Organica.");
}
function limpiarBus() {
	document.formBusCod.reset();
	document.formBusGlosa.reset();
	document.formBusRut.reset();
	return false;
}

//-->
</script>
<script language="JavaScript">
<!--
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
// -->

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_showHideLayers() { //v6.0
  var i,p,v,obj,args=MM_showHideLayers.arguments;
  for (i=0; i<(args.length-2); i+=3) if ((obj=MM_findObj(args[i]))!=null) { v=args[i+2];
    if (obj.style) { obj=obj.style; v=(v=='show')?'visible':(v=='hide')?'hidden':v; }
    obj.visibility=v; }
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<link href="../servlet/Tool?style/gestion.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
#LayerVerMas {
	position:absolute;
	left:322px;
	top:213px;
	width:43px;
	height:31px;
	z-index:6;
}
-->
</Style>
</HEAD>
<body onLoad="inicio();">
<div id="LayerVer" style="position:absolute; width:84px; height:8px; z-index:4; left: 177px; top: 2px"><a href="javascript:;" onClick="Envia()"><img src="../servlet/Tool?images/Gestion/botones/seleccionar.gif" width="120" height="24" name="img_ver" border="0"></a></div>
<div id="LayBoton" style="position:absolute; width:20px; height:21px; z-index:3; top: 2px; left: 154px; visibility: visible"><a href="javascript:;" onClick="MM_showHideLayers('LayBuscar','','show'); return false"><img name="Image41" border="0" src="../servlet/Tool?images/Gestion/topLayers/buscar.gif" width="20" height="22" alt="Buscar"></a></div>
<div class="layer_util" id='Layer1' style='position:absolute; width:300px; height:350px; z-index:1;; left: 0px; top: 0px; overflow: auto'> 
        <table width="100%" height="100%"  border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top"><if (Control("df_jer_comp"))> 

${TraeArbol()} <else> ${TraeArbol(unidad, empresa)} </if></td>
  </tr>
</table> 
</div>
<form name="form1" method="get" action="../servlet/ListaUsuarios" target='folderFrame'>
  <input type='hidden' name='unidad'>
  <input type='hidden' name='empresa'>
  <input type='hidden' name='descrip'>

</form>
<div id="LayBuscar" style="position:absolute; width:254px; height:211px; z-index:5; top: 93px; left: 20px; visibility: hidden;" class="layer_util"> 
  <table width="100%" border="0" cellpadding="2" cellspacing="1" class="texto_negro">
    <form name="formBusCod" onSubmit="SeteaPos(document.formBusCod)" method="post" action="../servlet/LoadTreeOrg?pag=Gestion/Usuarios/basetree.htm&tc=yes">
      <tr> 
        <td height="20" colspan="2" class="tabla_amarelo">Buscar Unidad</td>
        <td width="32" height="20" align="center" class="tabla_amarelo"><a href="javascript:;" onClick="MM_showHideLayers('LayBuscar','','hide'); return false">[X]</a></td>
      </tr>
      <tr> 
        <td height="20" colspan="2"> Empresa: 
          <input type="text" class="texto_negro_bold_chico" name="be" size="1"  >
          Unidad: 
          <input type="text" class="texto_negro_bold_chico" name="bu" size="5" >
          <input type="hidden" name="pos" value="${pos}">
          <input type="hidden" name="nameform" value="formBusCod">        </td>
        <td height="20"  width="32" align="center"> 
          <input type="image" border="0" name="imageField_b1" src="../servlet/Tool?images/Gestion/topLayers/buscar.gif" width="20" height="22" alt="Buscar">        </td>
      </tr>
    </form>
    <form name="formBusGlosa" onSubmit="SeteaPos(document.formBusGlosa)" method="post" action="../servlet/LoadTreeOrg?pag=Gestion/Usuarios/basetree.htm&tc=yes">
      <tr> 
        <td height="20"  colspan="2"> 
          <select name="bu" class="texto_negro_bold_chico" style="width=220">
            <option selected value = "">Seleccione una Unidad</option>
            <list unidades as u> 
            <option value = "${u.id}">(${u.id}) ${u.descrip}</option>
            </list> 
          </select>
          <input type="hidden" name="pos" value="${pos}">
          <input type="hidden" name="nameform" value="formBusGlosa">        </td>
        <td height="20"  width="32" align="center"> 
          <input type="image" border="0" name="imageField_b2" src="../servlet/Tool?images/Gestion/topLayers/buscar.gif" width="20" height="22" alt="Buscar">        </td>
      </tr>
    </form>
    <form name="formBusRut" onSubmit="SeteaPos(document.formBusRut)" method="post" action="../servlet/LoadTreeOrg?pag=Gestion/Usuarios/basetree.htm&tc=yes">
      <tr> 
        <td height="20"  width="73"> Rut </td>
        <td height="20"  width="133"> 
          <input name="br" type="text" class="texto_negro_bold_chico"  value="${br}" size="15">
          <input type="hidden" class="texto_negro_bold_chico" name="pos" value="${pos}">
          <input type="hidden" class="texto_negro_bold_chico" name="nameform" value="formBusRut">        </td>
        <td height="20"  width="32" align="center"> 
          <input type="image" border="0" name="imageField_b2" src="../servlet/Tool?images/Gestion/topLayers/buscar.gif" width="20" height="22" alt="Buscar">        </td>
      </tr>
      <tr> 
        <td height="20"  width="73">Nombre</td>
        <td height="20"  colspan="2"> 
          <input type="text" class="texto_negro_bold_chico" name="bn" size="20"  value="${bn}">        </td>
      </tr>
      <tr> 
        <td height="20"  width="73">Ap Paterno</td>
        <td height="20"  colspan="2"> 
          <input type="text" class="texto_negro_bold_chico" name="bp" size="20"  value="${bp}">        </td>
      </tr>
      <tr> 
        <td height="20" >Ap Materno</td>
        <td height="20"  colspan="2"> 
          <input type="text" class="texto_negro_bold_chico" name="bm" size="20"  value="${bm}">        </td>
      </tr>
    </form>
  </table>
</div>
</body>
</HTML>