  <html>
<head>
<title>Bloqueo de Usuario '${rut}'</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF" text="#000000">
<table border="1" cellspacing="1" cellpadding="4" width="588">
  <tr> 
    <td colspan="3" bgcolor="#FFC246"><font face="Arial, Helvetica, sans-serif" size="2"><b>Bloqueo 
      de Usuario</b></font></td>
  </tr>
  <tr> 
    <td colspan="3" bgcolor="#FFD555"><font face="Arial, Helvetica, sans-serif" size="2">El 
      usuario con rut <b>${rut}</b> ha ingresado por <b>${intento}</b> vez, en 
      forma erronea. Su aceso ser&aacute; bloqueado hasta que se le asigne una 
      nueva password en el Mantenedor de Usuarios.</font></td>
  </tr>
</table>
</body>
</html>
