<html>
<head>
<title>historia</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<!-- Fireworks 4.0  Dreamweaver 4.0 target.  Created Fri May 31 18:18:56 GMT-0400 (Hr. est&#225;ndar del Pac&#237;fico SA) 2002-->
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
//-->
</script>
</head>
<body bgcolor="#9999CC" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" background="../servlet/Tool?images/mapa/mapa_r2_c13.jpg">
<table border="0" cellpadding="0" cellspacing="0" width="503">
<!-- fwtable fwsrc="Untitled" fwbase="historia.jpg" fwstyle="Dreamweaver" fwdocid = "742308039" fwnested="0" -->
  <tr>
   <td><img src="../../servlet/Tool?images/miscelaneos/spacer.gif" width="21" height="1" border="0"></td>
   <td><img src="../../servlet/Tool?images/miscelaneos/spacer.gif" width="462" height="1" border="0"></td>
   <td><img src="../../servlet/Tool?images/miscelaneos/spacer.gif" width="20" height="1" border="0"></td>
   <td><img src="../../servlet/Tool?images/miscelaneos/spacer.gif" width="1" height="1" border="0"></td>
  </tr>

  <tr>
    <td colspan="3"><img name="misc_r1_c1" src="../../servlet/Tool?images/miscelaneos/misc_r1_c1.jpg" width="503" height="34" border="0"></td>
    <td><img src="../../servlet/Tool?images/miscelaneos/spacer.gif" width="1" height="1" border="0"></td>
  </tr>
   <tr> 
    <td rowspan="3"><img name="misc_r2_c1" src="../../servlet/Tool?images/miscelaneos/misc_r2_c1.jpg" width="21" height="326" border="0"></td>
    <td rowspan="2" valign="top" background="../../servlet/Tool?images/login/bck2.jpg">
	<!--<iframe id="Layer1" width="100%" height="100%" z-index="1" src="http://www.bci.cl/corporativa/historia_empresa.htm" bgcolor="#993333">-->
      <div id="Layer1" style="position:absolute; width:443px; height:278px; z-index:1; left: 31px; top: 46px; overflow: auto;">
        <table width="94%" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td><font color="#000033" size="3" face="Arial, Helvetica, sans-serif"><strong> 
<div align="center">Historia del BCI </div>
              </strong></font> <p align="center"><font face="Arial, Helvetica, sans-serif"><strong><font color="#000033" size="3">Sucursales 
                a lo largo del pa&iacute;s</font></strong></font><strong><font color="#000033" size="3" face="Arial, Helvetica, sans-serif"></font></strong></p>
<p><font color="#000033" size="2" face="Arial, Helvetica, sans-serif"><br>
                Vista del Edificio Matriz <br>
                El Banco abri&oacute; sus puertas al p&uacute;blico el 10 de Junio 
                de 1937, constituy&eacute;ndose el primer directorio del Banco 
                de Cr&eacute;dito e Inversiones: Juan Yarur, Antonio Gianoli, 
                Juan P. Bennett, Arnaldo Falabella, Mateo Rodighiero, Agust&iacute;n 
                Viale, V&iacute;ctor Mu&ntilde;oz, Dante Lepori, Lorenzo Garc&iacute;a 
                y Enrique Jara Torres. <br>
                Todos hombres representativos de la comunidad, pioneros del desarrollo 
                del pa&iacute;s y garantes del esfuerzo com&uacute;n. </font></p>
              <p><font color="#000033" size="2" face="Arial, Helvetica, sans-serif">En 1945 asume la Presidencia 
                don Juan Yarur Lolas, industrial de prestigio y reconocido esp&iacute;ritu 
                emprendedor y visionario, que logr&oacute; multiplicar el crecimiento 
                del Banco y convertirlo en una de las primeras instituciones privadas 
                del pa&iacute;s. <br>
                </font></p>
              <p><font color="#000033" size="2" face="Arial, Helvetica, sans-serif">En 1954, el directorio 
                nombra como Presidente a Don Jorge Yarur Banna, quien inicia el 
                proceso de expansi&oacute;n nacional y hacia el resto del mundo. 
                <br>
                Se construye el edificio de la Casa Matriz del Banco en calle 
                Hu&eacute;rfanos. Luego la sucursal en Valpara&iacute;so en 1956, 
                Antofagasta en 1957 e Iquique en 1958. </font></p>
              <p><font color="#000033" size="2" face="Arial, Helvetica, sans-serif">En 1959 se fusiona 
                con el Banco de Curic&oacute;, y en 1976 con el Banco de LLanquihue, 
                extendi&eacute;ndose de esta forma la llegada del Banco a Villarrica, 
                Osorno, Puerto Varas, Puerto Montt, Castro, Coyhaique y Punta 
                Arenas. </font></p>
              <p><font color="#000033" size="2" face="Arial, Helvetica, sans-serif">En 1978, fue el primer 
                Banco en L&iacute;nea , con todas sus sucursales interconectadas 
                a trav&eacute;s de una red computacional. </font></p>
              <p><font color="#000033" size="2" face="Arial, Helvetica, sans-serif">El 18 de Febrero de 
                1985, un verdadero hito hist&oacute;rico y r&eacute;cord mundial 
                se producen al inaugurarse la &uacute;nica oficina bancaria en 
                el territorio Ant&aacute;rtico, la sucursal Villa Las Estrellas 
                del Banco de Cr&eacute;dito e Inversiones. </font></p>
              <p><font color="#000033" size="2" face="Arial, Helvetica, sans-serif">En 1986, se inaugura 
                el Servicio de Banca Telef&oacute;nica, a trav&eacute;s del cual 
                nuestros clientes obtienen la informaci&oacute;n que necesitan, 
                sin necesidad de ir al banco, con la comodidad de un llamado telef&oacute;nico. 
                </font></p>
              <p><font color="#000033" size="2" face="Arial, Helvetica, sans-serif">En 1988, el Bci se 
                constituye en socio fundador de Redbanc. </font></p>
              <p></p>
              <p></p>
              <p> <font color="#000033" size="2" face="Arial, Helvetica, sans-serif"><br>
                Luis Enrique Yarur Rey<br>
                Actual Presidente del Banco <br>
                Don Jorge Yarur Banna </font></p>
              <p></p>
              <p><font color="#000033" size="2" face="Arial, Helvetica, sans-serif"><br>
                <strong>Sucursal &quot;Las Estrellas&quot;, Ant&aacute;rtica</strong></font></p>
              <p> </p>
              <p><font color="#000033" size="2" face="Arial, Helvetica, sans-serif"><br>
                Vista de distintas sucursales <br>
                En 1989, el Bci lanza la comodidad de sus Cajeros Drive In, para 
                obtener dinero a cualquier hora, cualquier d&iacute;a, y sin bajarse 
                del auto. <br>
                En 1992, con el Servicio Bci Express y Bci Transfer , agilizamos 
                la atenci&oacute;n a empresas con informaci&oacute;n completa, 
                oportuna y fluida. <br>
                <br>
                </font></p>
              <p><font color="#000033" size="2" face="Arial, Helvetica, sans-serif"><strong>Vista 
                de Tecnobancos </strong> </font></p>
              <p><font color="#000033" size="2" face="Arial, Helvetica, sans-serif"> En 1993, aparecen 
                los primeros Tecnobancos Bci, en los cuales el cliente puede obtener 
                informaci&oacute;n, dinero, e incluso retirar una chequera un 
                domingo en la tarde. <br>
                <br>
                <br>
                En 1994, se inaugura lo &uacute;ltimo en tecnolog&iacute;a, el 
                Banco al Auto Bci , en Vitacura. </font></p>
              <p><font color="#000033" size="2" face="Arial, Helvetica, sans-serif">Hoy, el Banco cuenta 
                con una red de sucursales a lo largo del pa&iacute;s. En todas 
                existe el mismo esp&iacute;ritu de servicio y un equipo dispuesto 
                a ayudarle en sus necesidades financieras. </font></p>
              <p> </p>
              <p><font color="#000033" size="2" face="Arial, Helvetica, sans-serif">Para el Bci, la tecnolog&iacute;a 
                es un medio y no un fin en s&iacute; mismo. <br>
                Por eso impulsamos innovaciones tecnol&oacute;gicas en las que 
                se ha puesto por delante la satisfacci&oacute;n de los clientes. 
                <br>
                <br>
                </font></p></td>
          </tr>
        </table>
</div>
<!--</iframe>--></td>
    <td rowspan="3"><img name="misc_r2_c3" src="../../servlet/Tool?images/miscelaneos/misc_r2_c3.jpg" width="20" height="326" border="0"></td>
    <td height="19"><img src="../../servlet/Tool?images/miscelaneos/spacer.gif" width="1" height="1" border="0"></td>
    <td></td>
  </tr>
  <tr> 
    <td rowspan="2"><img src="../../servlet/Tool?images/miscelaneos/spacer.gif" width="1" height="26" border="0"></td>
    <td height="280"></td>
  </tr>
  <tr> 
    <td height="27" valign="bottom" background="../../servlet/Tool?images/login/bck2.jpg"> 
       
      <img name="misc_r3_c2" src="../../servlet/Tool?images/miscelaneos/misc_r3_c2.jpg" width="462" height="26" border="0"></td>
    <td></td>
  </tr>
</table>
</body>
</html>
