<html>
<head>
<title>historia</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<!-- Fireworks 4.0  Dreamweaver 4.0 target.  Created Fri May 31 18:18:56 GMT-0400 (Hr. est&#225;ndar del Pac&#237;fico SA) 2002-->
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
//-->
</script>
</head>
<body bgcolor="#9999CC" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" background="../servlet/Tool?images/mapa/mapa_r2_c13.jpg">
<table border="0" cellpadding="0" cellspacing="0" width="503">
<!-- fwtable fwsrc="Untitled" fwbase="historia.jpg" fwstyle="Dreamweaver" fwdocid = "742308039" fwnested="0" -->
  <tr>
   <td><img src="../../servlet/Tool?images/miscelaneos/spacer.gif" width="21" height="1" border="0"></td>
   <td><img src="../../servlet/Tool?images/miscelaneos/spacer.gif" width="462" height="1" border="0"></td>
   <td><img src="../../servlet/Tool?images/miscelaneos/spacer.gif" width="20" height="1" border="0"></td>
   <td><img src="../../servlet/Tool?images/miscelaneos/spacer.gif" width="1" height="1" border="0"></td>
  </tr>

  <tr>
    <td colspan="3"><img name="misc_r1_c1" src="../../servlet/Tool?images/miscelaneos/mision_r1_c1.jpg" width="503" height="34" border="0"></td>
    <td><img src="../../servlet/Tool?images/miscelaneos/spacer.gif" width="1" height="1" border="0"></td>
  </tr>
   <tr> 
    <td rowspan="3"><img name="misc_r2_c1" src="../../servlet/Tool?images/miscelaneos/misc_r2_c1.jpg" width="21" height="326" border="0"></td>
    <td rowspan="2" valign="top" background="../../servlet/Tool?images/login/bck2.jpg"><!--<iframe id="Layer1" width="100%" height="100%" z-index="1" src="http://www.bci.cl/corporativa/info_corpo.htm" bgcolor="#993333">-->
      <div id="Layer1" style="position:absolute; width:444px; height:286px; z-index:1; left: 31px; top: 41px; overflow: auto; visibility: visible;"> 
<table width="94%" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td><font color="#000033" size="3" face="Arial, Helvetica, sans-serif"><strong>Qui&eacute;nes 
              Somos?</strong></font><font color="#000033" size="2" face="Arial, Helvetica, sans-serif"><br>
              Una Corporaci&oacute;n de Servicios Financieros de capitales chilenos, 
              compuesta por el Banco de Cr&eacute;dito e Inversiones, con 145 
              sucursales presentes de Arica a la Ant&aacute;rtica y 7 Empresas 
              Filiales; somos 4200 personas. <br>
              <br>
              <strong><font size="3">Nuestro Objetivo</font></strong><br>
              Obtener una rentabilidad por sobre el promedio del sistema financiero, 
              a trav&eacute;s de una alta eficiencia operacional, servicio de 
              excelencia, fuerte innovaci&oacute;n tecnol&oacute;gica, pol&iacute;ticas 
              de riesgo conservadoras y una posici&oacute;n de liderazgo en el 
              &aacute;mbito financiero en general. <br>
              <br>
              <font size="3"><strong>Nuestro Compromiso Social</strong></font><br>
              Dirigir nuestros negocios tanto de acuerdo a las leyes del pa&iacute;s 
              como a las normas &eacute;ticas de respeto a los derechos e intereses 
              ajenos, seg&uacute;n los est&aacute;ndares aceptados por la sociedad. 
              Tambi&eacute;n es de nuestro inter&eacute;s y de acuerdo a nuestras 
              posibilidades, el contribuir a incrementar el patrimonio social, 
              cultural y econ&oacute;mico de nuestro pa&iacute;s. <br>
              <br>
              <font size="3"><strong>Nuestro Estilo</strong></font><br>
              Nos caracterizamos por tener valores y principios claros, tales 
              como integridad, respeto y lealtad; una alta orientaci&oacute;n 
              a las personas y marcada actitud de servicio. Buscamos generar compromisos 
              de largo plazo con nuestros colaboradores y clientes. Mantenemos 
              un grato ambiente de trabajo, donde el aprendizaje permanente y 
              trabajo en equipo son fundamentales para cumplir con los altos desaf&iacute;os 
              de la Corporaci&oacute;n. Vamos a la vanguardia en el concepto tecnol&oacute;gico. 
              <br>
              <br>
              <strong><font size="3">&iquest;Que Ofrecemos?</font></strong><br>
              Posibilidades de desarrollo tanto en lo profesional como en lo personal, 
              seg&uacute;n desempe&ntilde;o, potencial y esfuerzo individual. 
              Estabilidad laboral en un muy grato ambiente de trabajo. Remuneraciones 
              de mercado competitivas y la mejor estructura de beneficios de las 
              Instituciones Financiera del Pa&iacute;s. <br>
              </font></td>
          </tr>
        </table>
</div>
<!--</iframe>--></td>
    <td rowspan="3"><img name="misc_r2_c3" src="../../servlet/Tool?images/miscelaneos/misc_r2_c3.jpg" width="20" height="326" border="0"></td>
    <td height="19"><img src="../../servlet/Tool?images/miscelaneos/spacer.gif" width="1" height="1" border="0"></td>
    <td></td>
  </tr>
  <tr> 
    <td rowspan="2"><img src="../../servlet/Tool?images/miscelaneos/spacer.gif" width="1" height="26" border="0"></td>
    <td height="280"></td>
  </tr>
  <tr> 
    <td height="27" valign="bottom" background="../../servlet/Tool?images/login/bck2.jpg"> 
       
      <img name="misc_r3_c2" src="../../servlet/Tool?images/miscelaneos/misc_r3_c2.jpg" width="462" height="26" border="0"></td>
    <td></td>
  </tr>
</table>
</body>
</html>
