  <html>
<head>
<title>Informe</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="../servlet/Tool?style/estilos.css" type="text/css">
<script language="JavaScript" src="Tool?htm=Gestion/script/imprimir.js">
</script>
<script language="JavaScript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);



function Imprimir(){
	alert("informe en Construcci&#243;n...");
}
// -->
</script>
</head>
<script language="JavaScript">
window.scroll(0,0);
</script>
<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<div align="center">
  <table width="670" border="0" cellspacing="0" cellpadding="0">
    <tr valign="top"> 
      <td width="174" valign="top" rowspan="2"> 
        <div align="center"></div>
      </td>
      <td valign="top" colspan="2" rowspan="2"> 
        <div align="center"><img src="Tool?htm=Gestion/Informes/logos/logo_banco.jpg" width="177" height="73" border="0"></div>
      </td>
      <td width="184" height="69" valign="top">&nbsp;</td>
    </tr>
    <tr valign="top"> 
      <td height="27" width="184"> 
        <div align="right"><font face="Arial, Helvetica, sans-serif" size="1">P&aacute;g. 
          1 de 1</font></div>
      </td>
    </tr>
    <tr> 
      <td colspan="4" height="20"> 
        <div align="center"><b><font face="Arial, Helvetica, sans-serif" size="2"><u>Informe 
          xxxxxxxxxxx xx xxxxxxx</u></font></b></div>
      </td>
    </tr>
    <tr> 
      <td colspan="2">&nbsp; </td>
      <td colspan="2" align="right"> 
        <div id="LayerBotonera" style="z-index:1; background-color: #E9E9E9; layer-background-color: #E9E9E9; border: 1px none #000000; top: auto" > 
          <table border="0" cellspacing="0" cellpadding="0">
            <tr> 
              <td height="19" width="60"> 
                <div align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><b><a href="javascript:;" onClick="Imprimir()">Imprimir</a></b></font></div>
              </td>
              <td width="60" height="19"> 
                <div align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><b> 
                  <a href="#">Inicio</a> </b></font></div>
              </td>
              <td width="60"> 
                <div align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><b> 
                  <if (pag.p_act) != "1"><a href="#">Anterior</a></if> </b></font></div>
              </td>
              <td width="60"> 
                <div align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><b> 
                  <if (pag.p_act) != (p_tot)><a href="#">Siguiente</a></if> </b></font></div>
              </td>
              <td width="60"> 
                <div align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><b><a href="#">Ultimo</a></b></font></div>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
    <tr> 
      <td height="1" width="174"></td>
      <td width="279"></td>
      <td width="133"></td>
      <td width="184"></td>
    </tr>
  </table>
  <table width="670" border="0" cellpadding="0" cellspacing="0">
    <tr align="center"> 
      <td valign="top" height="463" colspan="2"> 
        <table border="1" cellspacing="0" cellpadding="0" width="100%">
          <tr bgcolor="#CCCCCC"> 
            <td width="30%"> 
              <div align="center"> <b><font face="Arial, Helvetica, sans-serif" size="1">xxxxxxxxxxx</font></b></div>
            </td>
            <td width="10%"> 
              <div align="center"> <b><font face="Arial, Helvetica, sans-serif" size="1">xxxxx</font></b></div>
            </td>
            <td width="30%"> 
              <div align="center"> <b><font face="Arial, Helvetica, sans-serif" size="1">xxxxx</font></b></div>
            </td>
            <td width="5%"> 
              <div align="center"> <font size="1"><font size="1"><b><b><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="1"><font size="1"><b>xxxxx</b></font></font></font></font></b></b></font></font></div>
            </td>
            <td width="5%"> 
              <div align="center"> <font size="1"><font size="1"><b><b><b><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="1"><font size="1"><b>xxx</b></font></font></font></font></b></b></b></font></font></div>
            </td>
            <td width="5%"> 
              <div align="center"> <font size="1"><font size="1"><b><b><b><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="1"><font size="1"><b>xxx</b></font></font></font></font></b></b></b></font></font></div>
            </td>
            <td width="5%"> 
              <div align="center"> <font size="1"><font size="1"><b><b><b><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="1"><font size="1"><b>xxx</b></font></font></font></font></b></b></b></font></font></div>
            </td>
            <td width="5%"> 
              <div align="center"> <font size="1"><font size="1"><b><b><b><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="1"><font size="1"><b>xxx</b></font></font></font></font></b></b></b></font></font></div>
            </td>
            <td width="5%"> 
              <div align="center"> <font size="1"><font size="1"><b><b><b><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="1"><font size="1"><b>xxxx</b></font></font></font></font></b></b></b></font></font></div>
            </td>
          </tr>
          <tr> 
            <td width="30%">&nbsp;</td>
            <td width="10%">&nbsp;</td>
            <td width="30%">&nbsp;</td>
            <td width="5%">&nbsp;</td>
            <td width="5%">&nbsp;</td>
            <td width="5%">&nbsp;</td>
            <td width="5%">&nbsp;</td>
            <td width="5%">&nbsp;</td>
            <td width="5%">&nbsp;</td>
          </tr>
        </table>
        <br>
        <br>
        <br>
        <table width="58%" border="1" cellspacing="0" cellpadding="0" height="85" bgcolor="#E0E0E0">
          <tr> 
            <td> 
              <div align="center"><font face="Arial, Helvetica, sans-serif" size="5"><i>Informe 
                en Construcci&oacute;n<br>
                <img src="../servlet/Tool?images/animada_construc.gif" width="40" height="40"> 
                </i></font></div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr> 
      <td height="20" valign="top" width="561">&nbsp; </td>
      <td width="139" valign="top"> 
        <div align="right"></div>
      </td>
    </tr>
  </table>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
</body>
</html>
