<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
<title>Ser Humano</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<frameset rows="75,*" cols="*" frameborder="NO" border="0" framespacing="0">
<frame src="/serhumano/servlet/Tool?htm=user/top.htm" name="topFrame" scrolling="no" noresize >
  	<frameset rows="*" cols="90,502,*" framespacing="0" frameborder="NO" border="0">
    	<frame src="/serhumano/html/user/mapa.htm" name="left" scrolling="no" noresize id="left">
        <frame src="/serhumano/html/user/main.htm" name="mainFrame" scrolling="no" noresize>
        <frame src="/serhumano/servlet/Tool?htm=user/menu_derecho.htm" name="derecho" scrolling="no" noresize id="derecho">
	</frameset>
</frameset>
<noframes>
	<body></body>
</noframes>
</html>
