<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>Mostrar Usuarios</title>

	
    <link rel="stylesheet" type="text/css" href="../sencha/extjs/examples/ux/css/LiveSearchGridPanel.css" />
    <link rel="stylesheet" type="text/css" href="../sencha/extjs/examples/ux/statusbar/css/statusbar.css" />
    <link rel="stylesheet" type="text/css" href="../sencha/extjs/examples/shared/example.css" />

    <!-- GC -->
    <script type="text/javascript" src="../sencha/extjs/examples/shared/include-ext.js"></script>
    
    <script type="text/javascript" src="../sencha/extjs/locale/ext-lang-es.js"></script>
	
    <!-- page specific -->
    <style type="text/css">
        /* style rows on mouseover */
        .x-grid-row-over .x-grid-cell-inner {
            font-weight: bold;
        }
        h1 {
        text-align:center;
        }
    </style>
    <script type="text/javascript" src="../sencha/resumen.js"></script>
</head>
<body>
    <h1>Trabajadores Personal</h1>
    
	
    <div id="userList"></div>
    
    <div id="formUsers"></div>
</body>
</html>
