<html>
<head>
<title>bienvenida</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<link href="../servlet/Tool?style/portalrrhh.css" rel="stylesheet" type="text/css">
<script language="JavaScript" src="../servlet/Tool?scripts/links.js" type="text/JavaScript"></script>
<script language="JavaScript" src="../servlet/Tool?scripts/links.js" type="text/JavaScript"></script>
<body bgcolor="#9999CC" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" background="../servlet/Tool?images/main/bck_main.jpg">
<table width="666">
  <tr>
    <td height="40" align="center"><img src="../servlet/Tool?images/new/titulos/bienve.jpg" width="436" height="29"></td>
  </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="659">
  <!-- fwtable fwsrc="Untitled" fwbase="desp_main.jpg" fwstyle="Dreamweaver" fwdocid = "742308039" fwnested="0" -->
  <tr> 
    <td width="11">&nbsp;</td>
    <td valign="top" > 
      <table width="100%" border="0" cellspacing="0" cellpadding="3">
        <tr> 
          <td align="center"><font size="1" face="Verdana, Arial, Helvetica, sans-serif"><b>Este 
            mes damos la m&aacute;s cordial bienvenida a los siguientes colaboradores</b></font></td>
        </tr>
      </table>
      <div id="Layer1" style="position:absolute; width:637px; height:0px; z-index:3; top: 67px; left: 12px"> 
        <div id="Layer2" style="position:absolute; width:639px; height:296px; z-index:2; left: 0px; top: 17px; overflow: auto; visibility: hidden;"> 
          <table width="100%" border="0">
            <list varios as v> 
            <tr valign="top" bgcolor="#FFFFFF"  > 
              <td width="61%" class="detalleTablaChico"> 
<!--
                <a href="javascript:;" onClick="return openInfoRut('${v.rut}');">
-->	
				${v.nom}
<!--
				</a> 
-->
              </td>
              <td width="21%" class="detalleTablaChico"> 
                <div align="left"></div>
              ${v.uni}</td>
              <td width="18%" align="center" class="detalleTablaChico"> 
                ${v.anex}</td>
            </tr>
            </list> 
          </table>
        </div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="EFEEF4">
          <tr valign="top" bgcolor="#FFE2C8"> 
            <td width="60%" class="titulo">Nombre</td>
            <td width="23%" align="center" class="titulo">Unidad</td>
            <td width="17%" align="center" class="titulo">Anexo</td>
          </tr>
        </table>
        <table width="100%" border="0">

          <tr valign="top" bgcolor="#FFFFFF"  >
            <td width="60%" class="detalleTablaChico">
<!--			
			<a href="javascript:;" onClick="return openInfoRut('13712777');">
-->			
			BIAVA MOLINA GABRIEL
<!--
</a>
-->
</td>
            <td width="23%" class="detalleTablaChico">
              <div align="left"></div>
            CUENTAS CORRIENTES</td>
            <td width="17%" align="center" class="detalleTablaChico"> 8610</td>
          </tr>
          <tr valign="top" bgcolor="#FFFFFF"  >
            <td class="detalleTablaChico"> 
<!--			
			<a href="javascript:;" onClick="return openInfoRut('13672565');">
-->			
			AGUILAR MOLINA GRISSEL
<!--			
			</a>
-->			
			</td>
            <td class="detalleTablaChico">
              <div align="left"></div>
              SOPORTE TECNICO BEL </td>
            <td align="center" class="detalleTablaChico"> 8610</td>
          </tr>
          <tr valign="top" bgcolor="#FFFFFF"  >
            <td class="detalleTablaChico"> 
<!--			
			<a href="javascript:;" onClick="return openInfoRut('13687271');">

-->
 MARTINEZ FUENTES MICHAEL ALEXIS
<!--
</a>
-->
</td>
            <td class="detalleTablaChico">
              <div align="left"></div>
              CUENTAS CORRIENTES</td>
            <td align="center" class="detalleTablaChico"> 8610</td>
          </tr>
          <tr valign="top" bgcolor="#FFFFFF"  >
            <td class="detalleTablaChico"> 
<!--			
			<a href="javascript:;" onClick="return openInfoRut('14552623');">
-->

 LAFLOR ZAROR MARELL ALEJANDRA
 <!--
 </a>
 -->
 </td>
            <td class="detalleTablaChico">
              <div align="left"></div>
              CALAMA BP</td>
            <td align="center" class="detalleTablaChico"> 8025 </td>
          </tr>
          <tr valign="top" bgcolor="#FFFFFF"  >
            <td class="detalleTablaChico">
<!--			
			<a href="javascript:;" onClick="return openInfoRut('14076347');">
-->

 PAVEZ MORALES ROXANA MARIBEL
<!--
</a>
-->
</td>
            <td class="detalleTablaChico">
              <div align="left"></div>
            AVENIDA ALEMANIA BP </td>
            <td align="center" class="detalleTablaChico"> 8610</td>
          </tr>
         
        </table>
      </div>
    </td>
  </tr>
</table>
</body>
</html>
