<html>
<head>
<title>Envio de Email</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<script language="JavaScript">
<!--




window.resizeTo(340,285);
//-->
</script>
</head>
<link href="../servlet/Tool?style/portalrrhh.css" rel="stylesheet" type="text/css">
<body leftmargin="0" topmargin="0">
  <table width="98%" height="100%">
    <tr>
      <td height="40" align="center" class="TITULO_MODULOS">Envio de Email</td>
    </tr>
    <tr>
      <td height="204" align="center" class="texto"><if (error) > ${error} <else> Su Formulario ha sido enviado satisfactoriamente.</if>
        <p>
          <input name="Submit" type="button" class="campo_texto" onClick="window.close()" value="Cerrar Ventana">
      </p></td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
</table>
</body>
</html>