<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Ayuda</title>
<link href="../servlet/Tool?style/portalrrhh.css" rel="stylesheet" type="text/css">
<script language="JavaScript" src="../servlet/Tool?scripts/links.js" type="text/JavaScript"></script>
</head>

<body>
<table cellpadding="1" cellspacing="2" border="0" align="center">
<tr><td colspan="2"><b>MATERIAL DE AYUDA :</b><br><br></td></tr>
<tr><td><a href="javascript:AbrirDocumento('GGD')"><img src="../servlet/Tool?images/images_ggd/pdf.gif" border="0"></a></td><td><a href="javascript:AbrirDocumento('GGD')">Manual de Evaluaci&#243;n del Desempe&#241;o Basado en Competencias</a></td></tr>
<tr><td><a href="javascript:AbrirDocumento('PPNOpeI')"><img src="../servlet/Tool?images/images_ggd/pdf.gif" border="0"></a></td><td><a href="javascript:AbrirDocumento('PPNOpeI')">Pauta Preguntas Ev.Competencias : Nivel Operativo I</a></td></tr>
<tr><td><a href="javascript:AbrirDocumento('PPNOpeII')"><img src="../servlet/Tool?images/images_ggd/pdf.gif" border="0"></a></td><td><a href="javascript:AbrirDocumento('PPNOpeII')">Pauta Preguntas Ev.Competencias : Nivel Operativo II</a></td></tr>
<tr><td><a href="javascript:AbrirDocumento('PPNAdm')"><img src="../servlet/Tool?images/images_ggd/pdf.gif" border="0"></a></td><td><a href="javascript:AbrirDocumento('PPNAdm')">Pauta Preguntas Ev.Competencias : Nivel Administrativo</a></td></tr>
<tr><td><a href="javascript:AbrirDocumento('PPNCom')"><img src="../servlet/Tool?images/images_ggd/pdf.gif" border="0"></a></td><td><a href="javascript:AbrirDocumento('PPNCom')">Pauta Preguntas Ev.Competencias : Nivel Comercial</a></td></tr>
<tr><td><a href="javascript:AbrirDocumento('PPNJef')"><img src="../servlet/Tool?images/images_ggd/pdf.gif" border="0"></a></td><td><a href="javascript:AbrirDocumento('PPNJef')">Pauta Preguntas Ev.Competencias : Nivel Jefaturas</a></td></tr>
<tr><td><a href="javascript:AbrirDocumento('PPNGer')"><img src="../servlet/Tool?images/images_ggd/pdf.gif" border="0"></a></td><td><a href="javascript:AbrirDocumento('PPNGer')">Pauta Preguntas Ev.Competencias : Nivel Gerencial</a></td></tr>
</table>
</body>
</html>
