<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Crear Conductas</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<style type="text/css">
<!--
body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}
body {
	background-color: #CCCCCC;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style>
<script>
function fnInicio(){
<if REG == true && MSG !="">
	alert('${MSG}');
</if>
<if REG == false && MSG !="">
	alert('${MSG}');
</if>
}
function fnAplicar(opcion){
	if(opcion == "grabar"){
		form.action="../servlet/crearConducta?txtAccion=CR";
		form.submit();
	}
}
</script>
</head>

<body onLoad="fnInicio();MM_preloadImages('../servlet/Tool?images/images_ggd/ag_cond/agregar_cond_r6_c5_f2.jpg','../servlet/Tool?images/images_ggd/ag_cond/guardar_over.jpg')">
<div id="Layer1" style="position:absolute; width:348px; height:361px; z-index:1; left: 9px; top: 8px;"> 
  <form name="form" method="post">
        
<if data_Competencia>
<input name="id_proceso" type="hidden"  id="id_proceso" value="${data_Competencia.id_proceso}">
<input name="id_competencia" type="hidden"  id="id_proceso" value="${data_Competencia.id_competencia}">
</if>
<input name="txtAccion" type="hidden" value="CR">
    <div id="Layer2" style="position:absolute; width:200px; height:22px; z-index:2; left: 73px; top: 20px; font-weight: bold; color: #990000;"> 
      <if data_Competencia>${data_Competencia.competencia}</if> 
    </div>
    <div id="Layer3" style="position:absolute; width:133px; height:29px; z-index:2; left: 25px; top: 122px;"> 
      <select name="nivel">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select> 
    </div>
    <div id="Layer5" style="position:absolute; width:182px; height:79px; z-index:2; left: 105px; top: 122px;"> 
      <textarea name="glosa" rows="5"></textarea>
    </div>
  </form></div>
  <table border="0" cellpadding="0" cellspacing="0" width="350">
  <!-- fwtable fwsrc="agregar_conducta.png" fwbase="agregar_cond.jpg" fwstyle="Dreamweaver" fwdocid = "320904221" fwnested="0" -->
  <tr>
    <td><img src="../servlet/Tool?images/images_ggd/ag_cond/spacer.gif" width="16" height="1" border="0" alt=""></td>
    <td><img src="../servlet/Tool?images/images_ggd/ag_cond/spacer.gif" width="154" height="1" border="0" alt=""></td>
    <td><img src="../servlet/Tool?images/images_ggd/ag_cond/spacer.gif" width="80" height="1" border="0" alt=""></td>
    <td><img src="../servlet/Tool?images/images_ggd/ag_cond/spacer.gif" width="5" height="1" border="0" alt=""></td>
    <td><img src="../servlet/Tool?images/images_ggd/ag_cond/spacer.gif" width="77" height="1" border="0" alt=""></td>
    <td><img src="../servlet/Tool?images/images_ggd/ag_cond/spacer.gif" width="3" height="1" border="0" alt=""></td>
    <td><img src="../servlet/Tool?images/images_ggd/ag_cond/spacer.gif" width="15" height="1" border="0" alt=""></td>
    <td><img src="../servlet/Tool?images/images_ggd/ag_cond/spacer.gif" width="1" height="1" border="0" alt=""></td>
  </tr>
  <tr>
    <td colspan="7"><img name="agregar_cond_r1_c1" src="../servlet/Tool?images/images_ggd/ag_cond/titulo_crearconducta.jpg" width="350" height="49" border="0" alt=""></td>
    <td><img src="../servlet/Tool?images/images_ggd/ag_cond/spacer.gif" width="1" height="49" border="0" alt=""></td>
  </tr>
  <tr>
    <td colspan="7"><img name="agregar_cond_r2_c1" src="../servlet/Tool?images/images_ggd/ag_cond/agregar_cond_r2_c1.jpg" width="350" height="20" border="0" alt=""></td>
    <td><img src="../servlet/Tool?images/images_ggd/ag_cond/spacer.gif" width="1" height="20" border="0" alt=""></td>
  </tr>
  <tr>
    <td colspan="7"><img name="agregar_cond_r3_c1" src="../servlet/Tool?images/images_ggd/ag_cond/agregar_cond_r3_c1.jpg" width="350" height="18" border="0" alt=""></td>
    <td><img src="../servlet/Tool?images/images_ggd/ag_cond/spacer.gif" width="1" height="18" border="0" alt=""></td>
  </tr>
  <tr>
    <td><img name="agregar_cond_r4_c1" src="../servlet/Tool?images/images_ggd/ag_cond/agregar_cond_r4_c1.jpg" width="16" height="285" border="0" alt=""></td>
    <td colspan="4" bgcolor="#666666">&nbsp;</td>
    <td colspan="2"><img name="agregar_cond_r4_c6" src="../servlet/Tool?images/images_ggd/ag_cond/agregar_cond_r4_c6.jpg" width="18" height="285" border="0" alt=""></td>
    <td><img src="../servlet/Tool?images/images_ggd/ag_cond/spacer.gif" width="1" height="285" border="0" alt=""></td>
  </tr>
  <tr>
    <td colspan="7"><img name="agregar_cond_r5_c1" src="../servlet/Tool?images/images_ggd/ag_cond/agregar_cond_r5_c1.jpg" width="350" height="23" border="0" alt=""></td>
    <td><img src="../servlet/Tool?images/images_ggd/ag_cond/spacer.gif" width="1" height="23" border="0" alt=""></td>
  </tr>
  <tr>
    <td rowspan="2" colspan="2"><img name="agregar_cond_r6_c1" src="../servlet/Tool?images/images_ggd/ag_cond/agregar_cond_r6_c1.jpg" width="170" height="20" border="0" alt=""></td>
    <td><a href="#" onClick="fnAplicar('grabar');return false;" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('agregar_cond_r6_c3','','../servlet/Tool?images/images_ggd/ag_cond/guardar_over.jpg',1)"><img name="agregar_cond_r6_c3" src="../servlet/Tool?images/images_ggd/ag_cond/guardar.jpg" width="80" height="16" border="0" alt=""></a></td>
    <td rowspan="2"><img name="agregar_cond_r6_c4" src="../servlet/Tool?images/images_ggd/ag_cond/agregar_cond_r6_c4.jpg" width="5" height="20" border="0" alt=""></td>
    <td colspan="2"><a href="javascript:window.close()" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('agregar_cond_r6_c5','','../servlet/Tool?images/images_ggd/ag_cond/agregar_cond_r6_c5_f2.jpg',1);"><img name="agregar_cond_r6_c5" src="../servlet/Tool?images/images_ggd/ag_cond/agregar_cond_r6_c5.jpg" width="80" height="16" border="0" alt=""></a></td>
    <td rowspan="2"><img name="agregar_cond_r6_c7" src="../servlet/Tool?images/images_ggd/ag_cond/agregar_cond_r6_c7.jpg" width="15" height="20" border="0" alt=""></td>
    <td><img src="../servlet/Tool?images/images_ggd/ag_cond/spacer.gif" width="1" height="16" border="0" alt=""></td>
  </tr>
  <tr>
    <td><img name="agregar_cond_r7_c3" src="../servlet/Tool?images/images_ggd/ag_cond/agregar_cond_r7_c3.jpg" width="80" height="4" border="0" alt=""></td>
    <td colspan="2"><img name="agregar_cond_r7_c5" src="../servlet/Tool?images/images_ggd/ag_cond/agregar_cond_r7_c5.jpg" width="80" height="4" border="0" alt=""></td>
    <td><img src="../servlet/Tool?images/images_ggd/ag_cond/spacer.gif" width="1" height="4" border="0" alt=""></td>
  </tr>
</table>
</body>
</html>
