<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Diccionario de Competencias</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<style type="text/css">
<!--
#Layer5 {
	position:absolute;
	left:13px;
	top:8px;
	width:347px;
	height:15px;
	z-index:2;
}
#Layer8 {
	position:absolute;
	left:12px;
	top:59px;
	width:350px;
	height:15px;
	z-index:3;
}
#Layer9 {
	position:absolute;
	left:125px;
	top:134px;
	width:235px;
	height:32px;
	z-index:4;
}
#boton {position:absolute;
	left:573px;
	top:363px;
	width:176px;
	height:21px;
	z-index:5;
}
#Layer10 {
	position:absolute;
	left:13px;
	top:181px;
	width:254px;
	height:15px;
	z-index:6;
}
#Layer11 {position:absolute;
	left:321px;
	top:373px;
	width:203px;
	height:10px;
	z-index:7;
}
-->
</style>
</head>
<script>
function fnRefresh(opcion){
	if(opcion == 'conducta')
		location.href = "../servlet/diccionarioCompetencias?id_proceso=${proceso}&id_competencia=${id_competencia}";
	if(opcion == 'competencia')
		location.href = "../servlet/diccionarioCompetencias?id_proceso=${id_proceso}";
}
function fnTraerCombo(opcion){
	if(opcion.name == "procesos"){
		form.action="../servlet/diccionarioCompetencias?id_proceso="+opcion.value;
		//alert(opcion.value);
		form.submit();
	}
}
function fnEnviar(opcion){
	if(opcion == "CR_competencia"){
		window.open('../servlet/crearCompetencia?id_proceso=${id_proceso}','Crear','status=yes,width=350,height=415');
	}
<if glosa>
	if(opcion == "CR_conducta"){
		window.open('../servlet/crearConducta?id_proceso=${glosa.id_proceso}&id_competencia=${glosa.id_competencia}','Crear','status=yes,width=345,height=417');		
	}
	if(opcion == "AC_conducta"){
		url = "../servlet/crearConducta?pHtm=ggd/agregarConductas.htm&id_proceso="+${glosa.id_proceso}+"&id_competencia="+${glosa.id_competencia};
		window.open(url,'Agregar','status=yes,width=350,height=415');
	}
	if(opcion == "EL_conducta"){
		url = "../servlet/crearConducta?pHtm=ggd/eliminarConductas.htm&id_proceso="+${glosa.id_proceso}+"&id_competencia="+${glosa.id_competencia};
		window.open(url,'Eliminar','status=yes,width=350,height=415');
	}
	if(opcion == "EL_competencia"){
		form.action="../servlet/diccionarioCompetencias?txtAccion=EL&id_competencia="+${glosa.id_competencia}+"&id_proceso="+${glosa.id_proceso};
		form.submit();
	}
</if>	
}
function fnTraerDatos(opcion){
		form.action="../servlet/diccionarioCompetencias?id_proceso=${proceso}&id_competencia="+opcion;
		form.submit();
}
function fnInicio(){
<if proceso>
<if procesos>
	<list procesos as p>
		<if proceso == p.id_proceso>
			document.form.procesos.value='${p.id_proceso}';
		</if>
	</list>
</if>
</if>
}</script>
<link href="../servlet/Tool?style/ggd.css" rel="stylesheet" type="text/css" />
<body onLoad="fnInicio();MM_preloadImages('../servlet/Tool?images/images_ggd/dic_comp/dicc_com_r10_c17_f2.jpg')" background="../servlet/Tool?images/images_ggd/ggd/diccCompetencias/fondo.jpg">
  <form name="form" method="post">
  <div id="Layer1" style="position:absolute; width:800px; height:182px; z-index:1; top: -7px; left: -19px;"> 

<span id="Layer2" style="position:absolute; width:351px; height:20px; z-index:2; left: 29px; top: 35px;"> 
    <select name="procesos" class="campo_texto" onChange="fnTraerCombo(this)">
				<option value="0">Seleccione Proceso</option>
				<if procesos>
					<list procesos as p>
        			<option value="${p.id_proceso}">${p.proceso}</option>
        			</list>
				</if>
    </select></span>
    <div id="Layer3" style="position:absolute; width:373px; height:15px; z-index:2; left: 414px; top: 14px; overflow: hidden;"> 
    <if glosa><span class="Estilo1">${glosa.competencia} </span></if></div>

    <span id="Layer4" style="position:absolute; width:351px; height:51px; z-index:2; left: 29px; top: 87px; overflow: auto;"> 
    <table width="100%" border="0" cellpadding="0" cellspacing="1">
        <if competencias>
			<list competencias as p>
			<tr> 
        	<td class="fondo_tablaGris"><a href="#" onClick="fnTraerDatos(${p.id_competencia});return false;">${p.competencia}</a></td>
            </tr>
			</list>
		</if>
		<tr><td class="fondo_tablaGris">
		<select name="competencias2" style="font-family: verdana;font-size: 10px;color: red;background-color:white;width:340px;" >
        <list competencias as p>
           <option value="${p.id_competencia}">${p.competencia}</option>
        </list>   
        </select>
        </td></tr>
    </table>
	</span>
    
    <div id="Layer6" style="position:absolute; width:380px; height:137px; z-index:2; left: 408px; top: 37px; overflow: auto;"> 
      <if glosa>${glosa.glosa}<br>
</if></div>    

<div id="Layer7" style="position:absolute; width:762px; height:155px; z-index:2; left: 28px; top: 212px;"> 
<table>
<tr>
<if niveles_orden>
<assign layer=10>
<assign p_nivel="">
<list niveles_orden as p>
	<if p_nivel!=p.nivel>
	<assign p_nivel=p.nivel>
	<td valign="top" width="130">
	
	<span id="Layer${layer}" style="position:absolute; width:130px; height:140px; overflow: auto; top: 3px; left: 5px;"> 
	  <list niveles_orden as q>
	    <assign q_nivel=q.nivel> 
	    <if p_nivel==q_nivel> 
	      <table width="98%" border="0" cellpadding="0" cellspacing="1" class="txt_gris">
	        <tr>
	          <td valign="top">${q.glosa}</td>
				  </tr>
	        </table>
			  <assign layer=layer+1>
	      </if>
	    </list>
	    
	  </span>
		
	</td></if>
</list>

</if>
</tr>


</table>



</div>

  
</div>
  <div id="Layer5">Seleccione Proceso </div>
  <div id="Layer8">Diccionario de Competencias </div>
  <div id="Layer9">
    <table width="100%" border="0" cellpadding="0">
      <tr>
        <td width="5%">&nbsp;</td>
        <td width="53%"></td>
        <td width="14%"><a href="#" onClick="fnEnviar('CR_competencia');return false;"><img src="../servlet/Tool?images/images_ggd/ggd/botones/crear.gif" title="Crear Competencia" alt="" name="dicc_com_r5_c51" width="30" height="30" border="0" id="dicc_com_r5_c51"></a></td>
        <td width="14%"><a href="#" onClick="fnEnviar('CR_competencia');return false;"><img src="../servlet/Tool?images/images_ggd/ggd/botones/grabar.gif" title="Mantener Competencia" alt="" name="dicc_com_r5_c51" width="30" height="30" border="0" id="dicc_com_r5_c51"></a></td>
        <td width="14%"><a href="#" onClick="fnEnviar('EL_competencia');return false;"><img src="../servlet/Tool?images/images_ggd/ggd/botones/eliminar.gif" title="Eliminar Competencia" alt="" name="dicc_com_r5_c71" width="30" height="30" border="0" id="dicc_com_r5_c71"></a></td>
      </tr>
    </table>
  </div>
  <div class="texto_titulo" id="Layer10">Niveles</div>
    <div id="Layer11"><span class="txt_gris">::::: Seleccione una opci&oacute;n: </span></div>
  <div id="boton">
    <table width="196" border="0" cellpadding="0">
      <tr>
        <td width="6">&nbsp;</td>
        <td width="87">&nbsp;</td>
        <td width="30"><a href="#" onClick="fnEnviar('CR_conducta');return false"><img src="../servlet/Tool?images/images_ggd/ggd/botones/crear.gif" alt="" name="dicc_com_r10_c151" width="30" height="30" border="0" id="dicc_com_r10_c151"></a></td>
        <td width="31"><a href="#" onClick="fnEnviar('AC_conducta');return false"><img name="dicc_com_r10_c17" src="../servlet/Tool?images/images_ggd/ggd/botones/grabar.gif" width="30" height="30" border="0" alt=""></a><a href="#"></a></td>
        <td width="30"><a href="#" onClick="fnEnviar('EL_conducta');return false"><img name="evaluaciones_r13_c13" src="../servlet/Tool?images/images_ggd/ggd/botones/eliminar.gif" width="30" height="30" border="0" alt="Cerrar" ></a></td>
      </tr>
    </table>
  </div>
</form>
</body>
</html>