  <html>
<head>
<title>Mantenedor de Anexos</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<script>
var intentos = "${intentos}";
var msg = "${mensaje}";
</script>
<frameset rows="93,*" frameborder="NO" border="0" framespacing="0" cols="*"> 
  <frame name="topFrame" scrolling="no" noresize src="/Anexos/toplogin.htm" marginwidth="0" marginheight="0" >
  <frame name="mainFrame" src="/templates/Gestion/Anexos/login.htm" marginwidth="0" marginheight="0">
</frameset>
<noframes><body bgcolor="#FFFFFF" text="#000000">

</body></noframes>
</html>
