  <html>
<head>
<title>Mantenedor de Anexos BCI</title>
<meta http-equiv="Content-Type" content="text/html;">
<link rel="stylesheet" href="/Gestion/Style/estilos.css" type="text/css">
<!-- Fireworks 4.0  Dreamweaver 4.0 target.  Created Fri Nov 23 16:24:47 GMT-0300 (Hr. de ver. del Pac&#237;fico SA) 2001-->
<script language="JavaScript">
<!--
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
// -->

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.0
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && document.getElementById) x=document.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
</head>
<body bgcolor="00173F" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="MM_preloadImages('/images/Gestion/anexos/ppers_over.jpg','/images/Gestion/anexos/pun_over.jpg');parent.CerrarVentProcesando();">
<table border="0" cellpadding="0" cellspacing="0" width="770">
  <!-- fwtable fwsrc="Untitled" fwbase="login.jpg" fwstyle="Dreamweaver" fwdocid = "742308039" fwnested="0" -->
  <tr> 
    <td><img src="/images/Gestion/anexos/spacer.gif" width="172" height="1" border="0"></td>
    <td><img src="/images/Gestion/anexos/spacer.gif" width="52" height="1" border="0"></td>
    <td><img src="/images/Gestion/anexos/spacer.gif" width="75" height="1" border="0"></td>
    <td><img src="/images/Gestion/anexos/spacer.gif" width="28" height="1" border="0"></td>
    <td><img src="/images/Gestion/anexos/spacer.gif" width="443" height="1" border="0"></td>
    <td><img src="/images/Gestion/anexos/spacer.gif" width="1" height="1" border="0"></td>
  </tr>
  <tr> 
    <td rowspan="2"><img name="login_r1_c1" src="/images/Gestion/anexos/login_r1_c1.jpg" width="172" height="93" border="0"></td>
    <td colspan="2" background="/images/Gestion/anexos/login_r1_c2.jpg"> 
      <div id="Layer2" style="position:absolute; width:201px; height:42px; z-index:2; left: 353px; top: 0px"> 
        <table width="60" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="417" height="33">
                <param name=movie value="/images/Gestion/anexos/tittop.swf">
                <param name=quality value=high>
                <embed src="/images/Gestion/anexos/tittop.swf" quality=high pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="417" height="33">
                </embed> 
              </object></td>
          </tr>
        </table>
      </div>
    </td>
    <td colspan="2" background="/images/Gestion/anexos/login_r1_c4.jpg">&nbsp;</td>
    <td><img src="/images/Gestion/anexos/spacer.gif" width="1" height="26" border="0"></td>
  </tr>
  <tr> 
    <td colspan="4" background="/images/Gestion/anexos/login_r2_c2.jpg">
      <div id="Layer1" style="position:absolute; width:209px; height:40px; z-index:3; left: 497px; top: 41px"> 
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><span class="unnamed1"><font face="Arial, Helvetica, sans-serif" color="#FFFFFF" size="2">Exportar</font></span></td>
            <td><a href="/Anexos/Export/Listador.txt" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image10','','/images/Gestion/anexos/ppers_over.jpg',1)" target="_blank"><img name="Image10" border="0" src="/images/Gestion/anexos/ppers_up.jpg"></a></td>
            <td><a href="/Anexos/Export/ListadoU.txt" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image11','','/images/Gestion/anexos/pun_over.jpg',1)" target="_blank"><img name="Image11" border="0" src="/images/Gestion/anexos/pun_up.jpg"></a></td>
          </tr>
        </table>
      </div>
    </td>
    <td><img src="/images/Gestion/anexos/spacer.gif" width="1" height="67" border="0"></td>
  </tr>
</table>
</body>
</html>
