<html>
<head>
<title>Ver Informaci&oacute;n del Empleado</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript" src="Tool?htm=Gestion/script/opcion_link.js">
</script>
<script language="JavaScript" src="../servlet/Tool?scripts/ExisteFoto.js">
</script>
<link rel="stylesheet" href="../servlet/Tool?style/gestion.css" type="text/css">
<script language="JavaScript">
<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.0
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && document.getElementById) x=document.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<script language="JavaScript" src="Tool?htm=Gestion/script/msgprocesando.js">
</script>
<link rel="stylesheet" href="Tool?htm=Gestion/Anexos/stile/1.css" type="text/css">
</head>
<script>
function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
</script>
<body bgcolor="#000000" text="#000000" onload="window.focus();MM_preloadImages('../servlet/Tool?images/Gestion/anexos/botones/cerrar_over.jpg')" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="390" border="0" align="center" cellpadding="0" cellspacing="0" background="../servlet/Tool?images/Gestion/anexos/fondvent.jpg">
  <tr> 
    <td width="12%"><img onError="existeFoto(this)" src="../servlet/Tool?images/trabajadores/fotos/${foto}" width="91" height="109"></td>
    <td width="83%" rowspan="2" valign="top"> 
      <table width="100%" border="0">
        <tr> 
          <td colspan="2"> 
            <div align="center" class="unnamed1">${nombre}</div>
          </td>
        </tr>
        <tr> 
          <td width="79" class="unnamed1" valign="top">Cargo </td>
          <td width="303" class="unnamed1" valign="top">${cargo}</td>
        </tr>
        <tr> 
          <td width="79" class="unnamed1" valign="top"> Unidad</td>
          <td width="303" class="unnamed1" valign="top">${unidad}</td>
        </tr>
        <tr> 
          <td width="79" class="unnamed1" valign="top">Anexo </td>
          <td width="303" class="unnamed1" valign="top"> 
            <!--<if (ver.anexo)><a href="javascript:;" onClick="return buscarAnexoRut('${rut}')" title="Informaci&oacute;n del Anexo" class="unnamed1">${anexo}</a><else>${anexo}</if>-->
            <a href="javascript:;" onClick="return VerFonosRut('${rut}')" class="unnamed1" title="Informaci&oacute;n de Anexo, Tel&eacute;fono y Fax.">[Ver 
            Anexo]</a></td>
        </tr>
        <tr> 
          <td width="79" class="unnamed1" valign="top">e-mail</td>
          <td width="303" class="unnamed1" valign="top">${email}</td>
        </tr>
      </table>
    </td>
    <td width="5%" rowspan="2">&nbsp;</td>
  </tr>
  <tr> 
    <td width="12%" height="2">&nbsp;</td>
  </tr>
  <tr> 
    <td colspan="2"> 
      <table width="100%" border="0">
        <tr align="center"> 
          <td width="479" colspan="2" class="unnamed1"> <!--<if (ver_expediente)><a href="#" onClick="MM_openBrWindow('/servlet/TopExpedienteWeb?rut=${rut}','topFrame','');return false" class="unnamed1">[Ver 
            Expediente]</a>  </if> <if (ver.pmp) && !(modo)><if (hacer_pmp) && Control("df_exp_remu", rut)><a href="#" onclick="verAnotaciones(${rut}); return false" class="unnamed1">[PMP]</a> 
             </if> </if> <if (ver.anexo)><a href="javascript:;" onClick="return VerFonosRut('${rut}')" title="Informaci&oacute;n de Anexo, Tel&eacute;fono y Fax." class="unnamed1">[Anexo]</a> 
             </if> <if (ver_expediente) && Control("df_perfil_lab", rut)><a href="javascript:;" onClick=" PerfilLaboral('${rut}');return false" title="Informaci&oacute;n de Anexo, Tel&eacute;fono y Fax." class="unnamed1">[Perfil 
            Laboral]</a> </if> --></td>
        </tr>
        <tr> 
          <td width="479" colspan="2" class="maticoB"> 
            <div align="center" class="unnamed1">SUPERVISOR DIRECTO</div>
          </td>
        </tr>
        <tr> 
          <td width="94" class="unnamed1" valign="top">Nombre </td>
          <td width="383" class="unnamed1" valign="top">${nomsup}</td>
        </tr>
        <tr> 
          <td width="94" class="unnamed1" valign="top">Cargo</td>
          <td width="383" class="unnamed1" valign="top">${cargosup}</td>
        </tr>
        <tr> 
          <td width="94" class="unnamed1" valign="top"> Unidad:</td>
          <td width="383" class="unnamed1" valign="top">${unidadsup}</td>
        </tr>
        <tr> 
          <td width="94" class="unnamed1" valign="top">Anexo</td>
          <td width="383" class="unnamed1" valign="top"> 
            <!--<if (ver.anexo)><a href="javascript:;" onClick="return buscarAnexoRut('${rutsup}')" title="Informaci&oacute;n del Anexo" class="unnamed1">${anexosup}</a><else>${anexosup}</if>-->
            <if (rutsup)><a href="javascript:;" onClick="return VerFonosRut('${rutsup}')" class="unnamed1" title="Informaci&oacute;n de Anexo, Tel&eacute;fono y Fax.">[Ver 
            Anexo]</a></if></td>
        </tr>
        <tr> 
          <td width="94" class="unnamed1" valign="top">e-mail</td>
          <td width="383" class="unnamed1" valign="top">${emailsup}</td>
        </tr>
        <tr> 
          <td width="94" class="unnamed1" valign="top">&nbsp;</td>
          <td width="383" class="unnamed1" valign="top"> 
            <div align="right"><a href="javascript:window.close();" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image4','','../servlet/Tool?images/Gestion/anexos/botones/cerrar_over.jpg',1)"><img name="Image4" border="0" src="../servlet/Tool?images/Gestion/anexos/botones/cerrar_up.jpg" width="99" height="23"></a></div>
          </td>
        </tr>
      </table>
    </td>
    <td width="5%">&nbsp;</td>
  </tr>
</table>
</body>
</html>
